[2017-03-08 17:18] aviaryan opened #1 "Submit a sample implementation of an algorithm to serve as a complete example"
The algorithm can be anything.
Language should be one of Java, Python, C or C++.

[2017-03-08 17:19] aviaryan opened #2 "Quicksort [C]"
https://en.wikipedia.org/wiki/Quicksort

[2017-03-08 17:20] singhpratyush commented on #1
How about linear search algorithm?

[2017-03-08 17:22] aviaryan commented on #1
Nice idea @singhpratyush . A great concept to start with. Please go ahead.

[2017-03-08 17:22] Monal5031 opened #3 "Possible Algo. List and Difficulty level"
We can compile a possible list of Algorithms to be implemented so that a person attempting as a beginner will not have much problem.
Further, I guess it would be nice to assign the work to implement the algorithms according to the difficulty level. Like a person who is familiar with coding will not attempt beginner level programs and maybe leave them for the new one's. Also, a time constraint woul

[2017-03-08 17:25] yashLadha commented on #3
See what we can do is that we can assign tags to every issue and can create a tag based assignment to every year students.

[2017-03-08 17:26] aviaryan opened #4 "Binary Search [C]"

[2017-03-08 17:28] aviaryan commented on #3
@Monal5031 @yashLadha Sounds good.. We can create tags like `easy`, `medium`, `hard` and `expert`.

[2017-03-08 17:30] aviaryan opened #5 "Add more helpful resources to README"
Please add more algorithm lists / tutorial lists / related materials etc to the **Resources** section of the README.

[2017-03-08 17:32] RajuKoushik opened #7 "The Longest Common Subsequence [C]"
LCS Problem Statement: Given two sequences, find the length of longest subsequence present in both of them. A subsequence is a sequence that appears in the same relative order, but not necessarily contiguous. For example, “abc”, “abg”, “bdf”, “aeg”, ‘”acefg”, .. etc are subsequences of “abcdefg”. So a string of length n has 2^n different possible subsequences.

Examples:
LCS for input Sequences “A

[2017-03-08 17:34] RajuKoushik opened #8 "Coding Guidelines"
Adding a .md file discussing the guidelines for solutions would be helpful.

[2017-03-08 17:35] yashLadha opened #9 "Coin Change Problem [C]"
Given a value N, if we want to make change for N cents, and we have infinite supply of each of S = { S1, S2, .. , Sm} valued coins, how many ways can we make the change? The order of coins doesn’t matter.

For example, for N = 4 and S = {1,2,3}, there are four solutions: {1,1,1,1},{1,1,2},{2,2},{1,3}. So output should be 4. For N = 10 and S = {2, 5, 3, 6}, there are five solutions: {2,2,2,2,2}, {2

[2017-03-08 17:37] aviaryan commented on #7
Do you want to do this @RajuKoushik ?

[2017-03-08 17:38] aviaryan commented on #8
This has been defined in the CONTRIBUTING.md file. (The work is still in progress though)

[2017-03-08 17:38] #8 closed

[2017-03-08 17:40] yashLadha opened #10 "Selection Algorithm [C]"
Suppose you want to find the kth position element in a sorted list without sorting the list, Need to find the median in a Large Data set after Sorting. In these places Selection algorithm can be used.

[2017-03-08 17:41] aviaryan commented on #10
@yashLadha Can we have an external link for this algorithm ? like a Wikipedia or some detailed blog post. I think that would help.

[2017-03-08 17:41] yashLadha commented on #7
I can work upon this.

[2017-03-08 17:45] yashLadha commented on #10
[https://en.wikipedia.org/wiki/Selection_algorithm](https://en.wikipedia.org/wiki/Selection_algorithm) For Selection Algorithm
[https://en.wikipedia.org/wiki/Quickselect](https://en.wikipedia.org/wiki/Quickselect) For Quick Select Algorithm

[2017-03-08 17:47] yashLadha commented on #10
I can code this with proper documentation. As it will be for a good practice for algorithms course

[2017-03-08 17:50] aviaryan commented on #3
This has been implemented, hence closing..

[2017-03-08 17:50] #3 closed

[2017-03-08 17:51] Monal5031 opened #12 "Euclidean GCD [C]"
Finding gcd of two numbers using Eucledian Algorithm. (Recursive and non-recursive both can be implemented).
EDIT:
Link: https://en.wikipedia.org/wiki/Euclidean_algorithm

[2017-03-08 17:54] Monal5031 commented on #5
Check out this link : https://github.com/Monal5031/awesome-competitive-programming
It has a whole list of reading materials, links and much more.

[2017-03-08 17:56] singhpratyush opened #13 "Binary search on sorted array"
http://quiz.geeksforgeeks.org/binary-search/

[2017-03-08 17:57] aviaryan commented on #5
@Monal5031 Going through that list can be exhaustive. Do you have any particular favorites that we can add to our **Resources** list? I think we should link to the `awesome-competitive-programming` repo too as it contains lots of related materials.

[2017-03-08 17:58] Monal5031 commented on #13
How about adding a Binary Search on an Almost Sorted array like : [4,5,6,7,8,1,2,3] ?

[2017-03-08 17:58] singhpratyush commented on #13
That may go in a new issue.

[2017-03-08 17:59] singhpratyush commented on #5
:+1:

[2017-03-08 18:00] aviaryan commented on #12
@Monal5031 Do you want to implement this in all the languages you have tagged? If not, please specify the languages you want to implement this in, so that others can pick the remaining languages.

[2017-03-08 18:03] Monal5031 commented on #13
#4  is also for Binary Search @singhpratyush

[2017-03-08 18:06] aviaryan opened #15 "Add Python sample code"
Add a Python sample/skeleton code in the CONTRIBUTING file .. https://github.com/iiitv/algos/blob/master/CONTRIBUTING.md#samples

Anyone who wants to work on this, please assign yourself.

[2017-03-08 18:06] singhpratyush commented on #13
Oh!! Didn't saw that. Closing this as duplicate.

[2017-03-08 18:06] #13 closed

[2017-03-08 18:12] Monal5031 commented on #12
@aviaryan Yes I will implement it in all languages tomorrow afternoon.

[2017-03-08 18:13] aviaryan commented on #2
@yashLadha I would like to do this if you don't mind.

[2017-03-08 18:14] Monal5031 commented on #5
https://github.com/Monal5031/stanfordacm
This repo contains the codes written by ACM teams and coaches of stanford. It might be somewhat useful I think.

[2017-03-08 18:16] yashLadha commented on #2
Sure Sir, I un assign myself

[2017-03-08 18:17] yashLadha commented on #5
We should use the link to the original repo, if u don't mind @Monal5031

[2017-03-08 18:27] aviaryan commented on #5
@Monal5031 Please send necessary PRs.

[2017-03-08 18:38] aviaryan opened #17 "Merge Sort [C]"
https://en.wikipedia.org/wiki/Merge_sort

[2017-03-08 20:17] aviaryan commented on #1
Closing as this was done in #6

[2017-03-08 20:17] #1 closed

[2017-03-08 20:30] singhpratyush opened #19 "Split the existing issues based on language"

[2017-03-08 20:31] singhpratyush opened #20 "Merge Sort [CPP]"

[2017-03-08 20:32] aviaryan commented on #20
Hey, C and CPP wil have the same code. So I think we should reconsider this. See https://github.com/iiitv/algos/blob/master/CONTRIBUTING.md#standalone-points

[2017-03-08 20:32] singhpratyush opened #21 "Euclidean GCD [CPP]"

[2017-03-08 20:33] singhpratyush opened #22 "Euclidean GCD [Java]"

[2017-03-08 20:34] singhpratyush commented on #20
What shall we do in case of vectors and stuff?

[2017-03-08 20:35] #21 closed

[2017-03-08 20:36] singhpratyush opened #23 "Euclidean GCD [Python]"

[2017-03-08 20:40] singhpratyush commented on #20
But that would not be applicable in this case. Closing as duplicate.

[2017-03-08 20:40] #20 closed

[2017-03-08 20:40] aviaryan commented on #20
Makes sense. I agree that people can use vectors in place of arrays. But when doing quicksort or mergesort, any programmer would prefer arrays over vectors as `vec[n]` is O(n).
But suppose you are creating a Binary Indexed Tree, then implementations in C++ and C should differ. C programmer will have to do with functions and pointers whereas C++ one would use a class.
So I guess this really depends

[2017-03-08 20:42] singhpratyush commented on #10
Removing all other languages than C. Please open issues if you wish to implement in other language.

[2017-03-08 20:44] singhpratyush commented on #20
Correct. We will know when we are going to need CPP implementation too.

[2017-03-08 20:45] singhpratyush commented on #9
Removing all other languages than C. Please open issues if you wish to implement in other language.

[2017-03-08 20:45] singhpratyush commented on #7
Removing all other languages than C. Please open issues if you wish to implement in other language.

[2017-03-08 20:52] #19 closed

[2017-03-08 21:26] #15 closed

[2017-03-08 21:35] singhpratyush opened #26 "Prime Factors of a Number [C]"
https://en.wikipedia.org/wiki/Prime_factor

[2017-03-08 21:40] singhpratyush opened #27 "Breadth First Search in a Graph [Python]"
https://en.wikipedia.org/wiki/Breadth-first_search

[2017-03-08 23:27] mohitkyadav opened #28 "Mo's Algorithm [CPP]"
Explanation link:   http://codeforces.com/blog/entry/43230

[2017-03-08 23:36] Prakash2403 opened #29 "Trie [Java]"
https://en.wikipedia.org/wiki/Trie

[2017-03-09 07:33] #2 closed

[2017-03-09 08:28] Monal5031 commented on #5
@yashLadha Yeah i'll link it to the original repo

[2017-03-09 08:53] Monal5031 commented on #12
@singhpratyush Should I create two different files : one for recursive and other non-recursive?

[2017-03-09 09:05] aviaryan commented on #12
@Monal5031 @singhpratyush Two files sounds good but then we will have to re-consider how we manage the solution links in README.md.

@singhpratyush One proposal I have got is that let's keep the `[X]` links intact but if an algorithm has 2 or more implementations in a language, we can use `[1]`, `[2]` and so on.

[2017-03-09 09:19] Monal5031 commented on #12
@aviaryan what if we link `[X]` to the folder of the algorithm and Name the file accordingly.
Like GCD_recursive and GCD_non-recursive

[2017-03-09 09:31] aviaryan commented on #12
@Monal5031 Keeping different files for each implementation will make the repo messy.
If you want to add both implementations, then do it in the same file.
Eg > `euclidean_gcd.c` has 2 functions, `euclidean_gcd` and `euclidean_gcd_recursive` .
We are preferring the non-recursive version here because I feel that the non-recursive one would be faster. Is it?

[2017-03-09 09:54] Monal5031 commented on #12
They are almost the same, but as recursive seems to be easy to remember it is more used than iterative
https://hbfs.wordpress.com/2013/12/10/the-speed-of-gcd/
This link has gcd algo time comparison's.

[2017-03-09 14:00] yashLadha commented on #29
I can work upon this.

[2017-03-09 14:03] singhpratyush commented on #29
Take up one at a time.

[2017-03-09 14:26] aviaryan opened #33 "Add Java skeleton code to guidelines"
Add Java skeleton code at https://github.com/iiitv/algos/blob/master/CONTRIBUTING.md#samples

This issue is `up for grabs`. Anyone can assign themselves and start working on this.

[2017-03-09 14:40] aviaryan opened #34 "Add a PULL REQUEST TEMPLATE"
It should specifically remind people to have a look at the CONTRIBUTING guidelines before submitting their patch. Also some keys points from the guidelines should be listed out.

Example: https://github.com/aviaryan/awesome-no-login-web-apps/blob/master/PULL_REQUEST_TEMPLATE.md

[2017-03-09 14:48] #7 closed

[2017-03-09 14:57] yashLadha commented on #29
Now is it fine to work on this?

[2017-03-09 17:11] yashLadha commented on #34
Also mention that there should one commit per PR and not more than that.

[2017-03-09 19:48] singhpratyush commented on #12
Fixed in f8bf0b0c286f0c14ab3f43c89c7890cecaa94900.

[2017-03-09 19:48] #12 closed

[2017-03-09 20:00] singhpratyush commented on #33
Will this be OK?
[code]

[2017-03-09 21:00] #33 closed

[2017-03-09 21:19] #34 closed

[2017-03-10 02:23] harishkrupo commented on #29
Hold on I already have this ready.
@yashLadha @aviaryan
I will share mine. If you want you can hack on it!

[2017-03-10 02:24] yashLadha commented on #29
Sure Sir!

[2017-03-10 02:38] harishkrupo commented on #29
Need some time though :P

[2017-03-10 10:14] Monal5031 opened #39 "Insertion Sort [C]"
https://en.wikipedia.org/wiki/Insertion_sort
Implementation would be same in c and c++

[2017-03-10 10:17] Monal5031 opened #40 "Sieve of Eratosthenes [C]"
https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes
Algorithm to find prime numbers till a number N

[2017-03-13 04:59] singhpratyush opened #41 "k-NN Algorithm [Python]"
https://en.wikipedia.org/wiki/K-nearest_neighbors_algorithm

[2017-03-13 05:00] singhpratyush commented on #41
Well, I really don't understand the criteria for `difficulty-hard`, `difficulty-medium`, ... Can anyone help.

[2017-03-13 05:04] aviaryan commented on #41
@singhpratyush It is inspired from Codechef/Hackerrank standards. A simple binary search based question will go in Easy level on these sites, so "Binary search" is `difficulty-easy` here.
Trie-based questions and basic DP questions generally go in medium level, hence `difficulty-medium` here. Same goes..

[2017-03-13 05:05] singhpratyush commented on #41
But they generally do not ask for k-NN algoithms? What about this?

[2017-03-13 07:20] singhpratyush commented on #5
Do we need more?

[2017-03-13 07:21] #5 closed

[2017-03-13 09:24] #23 closed

[2017-03-13 09:56] Monal5031 commented on #22
I guess I will complete this one too so we can have an example of Java code too.

[2017-03-13 09:57] singhpratyush commented on #22
Go ahead.

[2017-03-13 10:31] Monal5031 commented on #22
What do I name the class for it? As in java, if the name of class and method becomes same it becomes a constructor.

[2017-03-13 10:34] singhpratyush commented on #22
Class names are `CamelCase` and method names are `camelCase`. There won't be conflicts,

[2017-03-13 10:38] Monal5031 commented on #22
EucledianGcd as class name then? I think we cann't add underscores in class names? (Correct me if I am wrong)

[2017-03-13 10:40] singhpratyush commented on #22
[code]

[2017-03-13 11:17] lalitmee commented on #4
I want to add code for the same. Do I need to create the directory for this or I should upload code for approval.

[2017-03-13 11:36] Monal5031 commented on #4
@lalitmee You willl have to create a new directory as Binary_Search/Binary_Seach.c , link it in README.md

[2017-03-15 08:06] singhpratyush commented on #4
Closed in c450bab8af575f55e1793c113e19a4085fd76ca9.

[2017-03-15 08:06] #4 closed

[2017-03-15 09:54] #22 closed

[2017-03-15 16:31] jsroyal opened #54 "Binary Search [Java]"

[2017-03-16 16:10] #54 closed

[2017-03-16 16:45] #39 closed

[2017-03-16 17:10] #10 closed

[2017-03-16 18:11] Monal5031 opened #59 "Binary Search [python]"

[2017-03-17 08:14] #9 closed

[2017-03-17 09:06] yashLadha commented on #26
Can i work upon it?

[2017-03-17 09:10] jsroyal commented on #26
@yashLadha   assign yourself and send PR.

[2017-03-17 09:26] jsroyal opened #61 "Merge Sort"
https://www.khanacademy.org/computing/computer-science/algorithms/merge-sort/a/overview-of-merge-sort

[2017-03-21 08:23] Monal5031 opened #66 "Exponentation by squaring [C]"
https://en.wikipedia.org/wiki/Exponentiation_by_squaring

It is very much efficient algorithm to calculate x raised to power k.

Edit: time complexity is O( (nlogx) ^ k)

[2017-03-21 14:48] rajeeviiit opened #68 "A* [java]"
https://en.wikipedia.org/wiki/A*_search_algorithm

[2017-03-21 15:01] aviaryan commented on #68
@rajeeviiit
Do you want to work on this? If yes, please assign yourself.
Thanks

[2017-03-21 15:04] aviaryan opened #69 "Data structures in this list?"
I think we should include DS in this list too. I mean they are very related to the algorithms and are often used in algorithms. Examples - implementation of Stack, Queue, Heap etc.

Please post your views regarding this. @singhpratyush @Monal5031 @yashLadha @aashutoshrathi @jsroyal

[2017-03-21 15:05] rajeeviiit commented on #68
@aviaryan
I am not finding any assignment and label . How to assign and make label .

[2017-03-21 15:09] aviaryan commented on #68
That was because you weren't added to the Members team in this org. I have added you now and you should see theses options.

[2017-03-21 15:11] ajit1515ajit commented on #68
@aviaryan
Please add me as a team member.

[2017-03-21 15:13] jsroyal commented on #69
@aviaryan Yeah! Sure! I was also thought about it.It will be good to cover all data structure in various language.

[2017-03-21 15:13] aviaryan opened #70 "Define a merge policy"
We need a merge policy to fix how we are going to merge PRs. Here's my proposal -

1. One squashed commit merge with PR.
2. Even if PR contains multiple type of changes, it should reflect only a single topic and Rule 1 shall still withhold on it.

##### Why squashed merge ?

It preserves both the author as well as the committer, something that can be very useful.
Also one commit per PR provides th

[2017-03-21 15:14] yashLadha commented on #69
We can Have data structures like segment trees, persistent data structures, AVL etc. Its a good issue as our first year currently have data structure course ongoing , so it is a good opportunity for them to explore this domain. @Monal5031

[2017-03-21 15:15] aviaryan commented on #68
@ajit1515ajit Done.

[2017-03-21 15:18] yashLadha commented on #70
I told you before also. @aviaryan

[2017-03-21 15:18] ravi268kumar commented on #68
@aviaryan
please add me as a Team member.

[2017-03-21 15:19] singhpratyush commented on #69
Indeed.

Can't we simply open issues for various data structures and (someone would) implement them? Will it conflict the current policies?

[2017-03-21 15:22] singhpratyush commented on #70
One commit policy seems promising. But I think that we may also go with rebase if PR contains only one commit with relevant commit message.

Also, shall we set the commit message format for various types of commits (doc update, new algorithm, improved algorithm, etc.)?

[2017-03-21 15:26] yashLadha commented on #70
One commit should have all the necessary changes that need for inclusion of that algo. Commits like added spacing, minor changes gives bad impression. As every commit should add some new thing to the repo, not some reformatting. what do u think @singhpratyush

[2017-03-21 15:32] yashLadha opened #71 "Add me to repo"
It would be good if one raises an issue for adding as contrib rather than commenting in an ongoing PR, because it is not referenced to the PR.

[2017-03-21 15:35] singhpratyush commented on #70
@yashLadha : That is exactly why we are planning to squash things in the first place.

[2017-03-21 15:35] singhpratyush commented on #68
https://github.com/iiitv/getmein

[2017-03-21 15:37] yashLadha commented on #70
It would be great @singhpratyush

[2017-03-21 15:50] ravi268kumar commented on #68
@singhpratyush
Thanku Sir.

[2017-03-21 15:54] singhpratyush commented on #40
Closed in 6db1fdfd4a166aee65e4d6aaf9b5fd2b0bc1f049.

[2017-03-21 15:54] #40 closed

[2017-03-21 16:38] sandeep201451066 opened #72 "Largest Sum Contiguous Subarray problem [Java]"
find the sum of contiguous subarray within a one-dimensional array of numbers.

[2017-03-21 16:42] yashLadha commented on #72
Please provide the link of the problem and posibble algo

[2017-03-21 16:45] sandeep201451066 commented on #72
https://en.wikipedia.org/wiki/Maximum_subarray_problem

[2017-03-21 16:51] sandeep201451066 commented on #72
Add me in repo

[2017-03-21 16:55] sandeep201451066 opened #73 "Breadth First Search in a Graph [Java]"
https://en.wikipedia.org/wiki/Breadth-first_search

[2017-03-21 17:21] Monal5031 commented on #69
@aviaryan @yashLadha @singhpratyush @jsroyal
It would be nice to add DS to this as many algorithms will also need them at some point and with our DS subject ongoing now it would be nice practise for us too.
But we need to fix that what work we have to display for any DS (e,g, insert, delete, etc)

[2017-03-21 17:29] Monal5031 commented on #72
@yashLadha @sandeep201451066 please add the difficulty label. I'm not sure about it 😅

[2017-03-21 17:33] sandeep201451066 commented on #72
how to assign labels, Label option is not visible.

[2017-03-21 17:36] Monal5031 commented on #72
To the right you might see `lang-java` , there clicking on labels you will be able to add the labels

[2017-03-21 17:50] singhpratyush commented on #69
That can be discussed while defining the issue for the DS. We can't generalize it as each DS will have different requirements.

[2017-03-21 17:57] Monal5031 commented on #61
wasn't this issue closed in #64 ?

[2017-03-21 17:59] singhpratyush commented on #61
Yes it was.

[2017-03-21 17:59] #61 closed

[2017-03-21 18:12] aviaryan commented on #71
Agreed. Probably "add me to team" things should go in `iiitv/getmein` or some another repo, not this.
But this problem is not that big. There are only a few members which are a part of IIITV org but not of Members team. And if someone is not a part of IIITV org, he should not work on this repo in the first place.
So maybe we can add a section in Contributing guidelines with something like "check i

[2017-03-21 18:38] yashLadha commented on #71
Indeed,
I will send the PR. @aviaryan

[2017-03-21 18:39] #71 closed

[2017-03-21 18:58] yashLadha commented on #71
I should add this check in PULL_REQUEST_TEMPLATE

[2017-03-22 02:43] aviaryan commented on #70
:+1:

That discussion would go in a separate thread.

[2017-03-22 02:46] aviaryan commented on #69
No, it wouldn't. Though DS hasn't been mentioned anywhere in the README so it could be somewhat confusing to see a DS issue. One needs to update the README and include that this is a list of DS too.

[2017-03-22 03:46] aviaryan opened #77 "Integrate Codacy"
Codacy has a good PR integration which comments design issues in the code directly in the PRs.
I think we should be using it.

[2017-03-22 05:16] jsroyal commented on #69
@singhpratyush >We can't generalize it as each DS will have different requirements.

We can generalize basic operation for all most DS.
Like eg. insert , delete, search,display.

[2017-03-22 05:19] jsroyal commented on #77
Add a link here of explanation about it.Generally, we don't aware about it. How does it work?

[2017-03-22 06:37] #77 closed

[2017-03-22 08:09] Monal5031 commented on #69
@aviaryan Can we make use of the project section in the repo specially for DS?

[2017-03-22 11:30] aviaryan commented on #69
@Monal5031 How do you plan to do so?
Projects are like trello boards, I don't see how one can use them for this.

[2017-03-22 12:23] jsroyal commented on #73
@sandeep 201451066
Do you want to implement?
If yes then assign your self here.

[2017-03-22 12:25] jsroyal commented on #73
@sandeep201451066
Do you want to implement?
If yes then assign your self here.

[2017-03-22 12:25] singhpratyush commented on #73
He has already done that.

[2017-03-22 12:50] jsroyal commented on #73
Oh' sorry I was seeing in mobile and I just skipped that line and also did not visible in mobile assigne lebel.

[2017-03-22 13:49] singhpratyush commented on #69
I agree with the idea of adding data structures in the repo. Further I feel like things would go just the way they are even if we add this. We will just need to add some information with each issue as there will be no fixed problem statement for such issues.

[2017-03-22 14:48] aviaryan commented on #69
So it's decided then. @singhpratyush Can you please create a sample issue for adding "stack" implementation ? I am closing this issue now.

[2017-03-22 14:58] aviaryan commented on #69
Just remembered we need to update the documentation about this change.
Please see and review #79 for that.

[2017-03-22 15:22] singhpratyush opened #80 "Stack [Python]"
https://en.wikipedia.org/wiki/Stack_(abstract_data_type)

Require following functionalities -
* Print
* Push
* Pop
* Peek
* Get size

Create a class and add example usage in single file.

[2017-03-22 15:48] mohitkyadav opened #81 "Backtracking algorithm (N-Queen Problem) [CPP]"
A general solution of the N-Queen problem (any board of n X n) in C++ with backtracking.

https://en.wikipedia.org/wiki/Eight_queens_puzzle

[2017-03-22 17:41] #69 closed

[2017-03-22 17:43] singhpratyush commented on #80
@aviaryan @Monal5031 @yashLadha @jsroyal : Does this looks good?

[2017-03-22 17:49] singhpratyush commented on #73
@sandeep201451066 : Please work on one issue at a time.

[2017-03-22 17:52] yashLadha commented on #80
Looks Good to me.

[2017-03-22 18:06] singhpratyush commented on #68
@rajeeviiit : What problem will you be implementing using A* search? Please discuss before proceeding.

[2017-03-22 18:07] singhpratyush commented on #81
@mohitkyadav : What `n` will you be working with?

[2017-03-22 18:23] jsroyal commented on #80
Can we define some functionalities should be implemented in all data structure in contribute.md
or just define yourself to implement functionalities.

[2017-03-22 18:29] Monal5031 commented on #80
@jsroyal Individual will be better, the existing can be updated later if we want to add some more functionality

[2017-03-22 18:32] rajeeviiit commented on #68
@singhpratyush
I am working on to implement shortest path finding using A* Search algorithm.

[2017-03-22 18:42] sandeep201451066 commented on #73
I am working on BFS.

[2017-03-22 20:15] aashutoshrathi commented on #59
iterative or recursive, which should I work on?
which one is faster ?

[2017-03-22 20:17] Monal5031 commented on #59
You can work upon both and test for both as I did for eucidean GCD

[2017-03-22 20:19] aashutoshrathi commented on #59
@Monal5031 ok, thanks 👍

[2017-03-23 03:30] jsroyal commented on #80
Okay. Let's see :)

[2017-03-23 03:59] jsroyal opened #82 "QuickSort [java]"
https://en.wikipedia.org/wiki/Quicksort

[2017-03-23 06:02] singhpratyush commented on #73
But you haven't closed #72 yet (on which you are currently working). So kindly unassign yourself.

[2017-03-23 06:06] singhpratyush commented on #80
Taking this up.

[2017-03-23 07:30] mohitkyadav commented on #81
@singhpratyush  n is the side of the square chess board,

[2017-03-23 07:41] rajeeviiit commented on #59
@aashutoshrathi
Are you working on it ?

[2017-03-23 07:48] rajeeviiit opened #84 "Insertion Sort [Python]"
https://en.wikipedia.org/wiki/Insertion_sort

[2017-03-23 10:15] singhpratyush commented on #84
One issue at a time please.

[2017-03-23 11:07] PiyushPawar17 opened #85 "Linear Search [C]"
https://en.wikipedia.org/wiki/Linear_search

[2017-03-23 14:01] rajeeviiit commented on #68
I will work on it later and unassigning it.

[2017-03-23 17:09] singhpratyush commented on #70
@aviaryan : Do we need a document for the policy?

[2017-03-23 17:17] yashLadha commented on #70
Sir , what we can do is that we can tell the user to rebase at the end . When merging will be done.

[2017-03-23 17:20] aviaryan commented on #70
@yashLadha I am not sure if everyone will be able to do that. We don't want our contributors to be scared away by the complicities of git.

@singhpratyush We can create a MAINTAINER.md and include this info here. This will be helpful for future maintainers.

[2017-03-23 17:23] yashLadha commented on #70
Sir, but there is a need to do. Because when i contributed to some other organisation, i have to learn to rebase the commits, as it is a standard practice to know. It would be better if contributors know about it. And it is just 2 more commands to use. @aviaryan

[2017-03-23 18:22] mohitkyadav commented on #81
@singhpratyush   Can I use global variables?

[2017-03-23 18:24] singhpratyush commented on #81
No. But you may use global constants if you need.

[2017-03-24 06:27] Monal5031 commented on #80
@singhpratyush Please assign yourself sir, if you are doing this?

[2017-03-24 06:57] singhpratyush commented on #80
I am waiting for #65 to be resolved as I am currently assigned to #41. Sadly, I see no activity on the pull request.

[2017-03-24 07:28] aashutoshrathi commented on #59
Yes @rajeeviiit

[2017-03-24 09:31] #41 closed

[2017-03-24 10:42] #72 closed

[2017-03-24 11:55] #80 closed

[2017-03-24 17:09] #84 closed

[2017-03-24 22:08] aashutoshrathi opened #91 "Heap Sort [C]"
https://en.wikipedia.org/wiki/Heapsort

[2017-03-25 05:48] mohitkyadav commented on #91
Specify max heap or min heap.

[2017-03-25 07:31] aviaryan commented on #81
Fixed by #87

[2017-03-25 07:31] #81 closed

[2017-03-25 13:45] Monal5031 commented on #17
@aashutoshrathi Please work on only 1 algorithm at a time

[2017-03-25 13:48] Monal5031 commented on #91
@mohitkyadav Usually we sort an array in ascending order.
So to have output in less time he might be referring to max heap

[2017-03-25 14:16] #66 closed

[2017-03-25 14:44] Monal5031 opened #93 "Stack [JAVA]"
https://en.wikipedia.org/wiki/Stack_(abstract_data_type)

Following Functionalities I will add:
* Display stack elements
* Push (Adding element to top of stack)
* Pop (Removing element from top of stack)
* Peek
* Get size

Will create a separate class for it and test in Main class.
Any suggestions over any particular thing I should use?

[2017-03-25 14:46] Monal5031 commented on #93
@singhpratyush @aviaryan @jsroyal @aashutoshrathi
Shall I use array or linked list for its implementation?

[2017-03-25 14:48] Monal5031 opened #94 "Sieve of Erastosthenes [Python]"
https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes

[2017-03-25 16:05] #82 closed

[2017-03-25 16:10] #26 closed

[2017-03-25 16:25] jsroyal commented on #93
The Linked list would be good if you can implement.

[2017-03-25 16:31] yashLadha opened #96 "Modular Exponential [Python]"
[http://www.geeksforgeeks.org/modular-exponentiation-power-in-modular-arithmetic/](http://www.geeksforgeeks.org/modular-exponentiation-power-in-modular-arithmetic/)

[2017-03-25 16:41] mohitkyadav opened #98 "Kadane's Algorithm (Largest Sum Contiguous Subarray problem) [CPP]"
A popular Dynamic programming algorithm to find a largest sum contiguous subarray.

https://kartikkukreja.wordpress.com/2013/06/17/kadanes-algorithm/

[2017-03-25 17:02] jsroyal opened #99 "Depth First Traversal [Java]"
http://www.geeksforgeeks.org/depth-first-traversal-for-a-graph/

[2017-03-26 12:27] Monal5031 commented on #98
@mohitkyadav this algorithm is already implemented in java.
Don't create a separate folder with this name add it in the same folder

[2017-03-26 14:06] mohitkyadav commented on #98
Well I didn't notice that. Thanks @Monal5031

[2017-03-26 17:19] Monal5031 commented on #98
@mohitkyadav This algorithm is implemented in JAVA you can still implement it in c++.
I was just saying to be sure that you add it in that folder only

[2017-03-27 13:18] Hsankesara opened #101 "Counting Sort [Java]"
A popular algorithm used for sorting under specific constraints but if constraints were followed, It is the one  of the fastest sort

www.geeksforgeeks.org/counting-sort/

[2017-03-28 10:26] Monal5031 opened #105 "Breadth First Search [CPP]"
http://www.geeksforgeeks.org/breadth-first-traversal-for-a-graph/

[2017-03-28 13:57] Monal5031 opened #107 "One issue per PR and single commit"
@singhpratyush @aviaryan I think sending one issue per PR and a single commit would be nice rather than adding 2 or more issues in a single PR, what are your views over this?

Edit: @yashLadha @aashutoshrathi What are views about this?

[2017-03-28 14:00] Monal5031 commented on #93
@aashutoshrathi I will assign it myself when I am done with my current assignments, until then if anyone else is interested they might take the issue. 😄

[2017-03-28 14:56] yashLadha commented on #29
@harishkrupo if u want i can work upon this. if u don't have time sir.

[2017-03-28 15:24] Hsankesara opened #108 "Bin Sort [Java]"
Sorting algorithm for sort numbers between [0,1)
[www.geeksforgeeks.org/bucket-sort-2/](http://www.geeksforgeeks.org/bucket-sort-2/)

[2017-03-28 15:39] singhpratyush commented on #107
It is followed here.

[2017-03-28 18:00] Monal5031 commented on #107
There was nothing about this in contibuting.md that's why I pointed it out.

[2017-03-28 18:06] singhpratyush commented on #107
Please send a PR.

[2017-03-28 18:07] singhpratyush commented on #108
@Hsankesara: Please assign yourself if you are working on it.

[2017-03-28 18:18] Monal5031 commented on #107
@singhpratyush  Should I make the changes in the existing PR of Sieve of Eratosthene or make a new PR?

[2017-03-28 18:27] singhpratyush commented on #107
This issue would be an irony if you do that.

[2017-03-28 18:33] Monal5031 commented on #107
@singhpratyush 😆 Ok I'm on it.

[2017-03-28 18:41] vipinkumarsahu opened #109 "Insertion Sort [Java]"
http://www.journaldev.com/585/insertion-sort-in-java

[2017-03-28 18:44] Lucifer24 opened #111 "Largest Sum Contiguous Subarray [C]"
[http://www.geeksforgeeks.org/largest-sum-contiguous-subarray/](http://www.geeksforgeeks.org/largest-sum-contiguous-subarray/)

[2017-03-28 20:06] vipinkumarsahu opened #115 "DFS [Java]"

[2017-03-28 20:20] Monal5031 commented on #115
This issue is already created in #99 .

[2017-03-28 22:23] #59 closed

[2017-03-28 23:07] #94 closed

[2017-03-29 05:16] harishkrupo commented on #29
@yashLadha Hey, I actually have it ready. Just not getting the time to make a little changes and upload it. Will do it.

[2017-03-29 07:55] Monal5031 commented on #115
Closing this issue as it is duplicate of #99

[2017-03-29 07:55] #115 closed

[2017-03-29 17:37] #107 closed

[2017-03-29 17:39] #96 closed

[2017-03-29 17:46] #85 closed

[2017-03-29 18:27] yashLadha opened #116 "Prims Algorithm [Java]"
https://en.wikipedia.org/wiki/Prim%27s_algorithm

[2017-03-29 19:12] #98 closed

[2017-03-30 19:02] aashutoshrathi opened #119 "Backtracking Algorithm (NQueen) [Java]"
[http://www.geeksforgeeks.org/backtracking-set-3-n-queen-problem/](http://www.geeksforgeeks.org/backtracking-set-3-n-queen-problem/)

[2017-03-31 19:48] #111 closed

[2017-04-01 05:10] Prakash2403 opened #121 "Issue in coin_change_problem"
Why the base case value is 1?

Suggestion: Change data type of possibilities to long.

[2017-04-01 10:11] singhpratyush commented on #121
There will be one solution: do not include any coins.

[2017-04-01 10:52] Prakash2403 commented on #121
But shouldn't the answer be zero then? Formal problem statement says that how many ways can we make the change? Here, number of ways we can give the change is zero. Hence, answer should be zero.

I have worked on it. In-fact, I have made a program which calculates the number of possibilities as well as lists all possible possibilities. My code is in Java.

[2017-04-01 16:07] yashLadha commented on #121
But is your code prevents the overlapping problem @Prakash2403

[2017-04-01 16:13] Prakash2403 commented on #121
Yes, I have used DP. No overlapping cases are there.

[2017-04-01 16:16] yashLadha commented on #121
for input coins {1,2,3} and to make 4 what is your output?

[2017-04-01 16:26] Prakash2403 commented on #121
[1,1,1,1] [2,1,1] [2,2] [3,1]

[2017-04-01 16:27] yashLadha commented on #121
My code is like :
`private int dp_sol(int[] ar, int val) {
            int cnt = 0;
            if (val > 0) {
                int length = ar.length;
                for (int i = 0; i < length; i++) {
                    if (ar[i] == val)
                        cnt += 1;
                    else if (ar[i] > val)
                        cnt += 0;
                    else
                        c

[2017-04-01 16:30] yashLadha commented on #121
How u overcomed overlapping @Prakash2403 ?

[2017-04-01 16:30] Monal5031 commented on #121
@yashLadha You can use the grave accent key three times to show a piece of code as it is. (Just a suggestion).

[2017-04-01 16:31] yashLadha commented on #121
@Monal5031 i think i had used it.

[2017-04-01 16:34] Monal5031 commented on #121
@yashLadha Oh sorry, my browser updated it after my comment.

[2017-04-01 16:39] Prakash2403 commented on #121
For counting possibilities, I had atored the result in an array. Basically
used the algorithm which Pratyush Sir has used.

For listing paths, I have used an array of arraylist of arraylist of
integers. Array is used for indexing each number from 1 to val. Arraylist
of integers is used for storing a single possibility. Arraylist of
arraylist of integer is used today store all possible paths. If yo

[2017-04-01 16:41] yashLadha commented on #121
In the recursive iteration now u keeped track of duplicates.

[2017-04-01 16:52] Prakash2403 commented on #121
Actually, in recursive solution, it is not easy to keep track of
duplication. Still if you want, you can maintain a hashmap of key type
set<Integer>and value type integer. Key will be your path and value will be
the corresponding value(given in question).

However, it is easy in DP. Whenever possibility exists, create a new
arraylist and add current coin value in the list. Now, reduce the current

[2017-04-01 16:55] yashLadha commented on #121
Yaa it can be suppose you had generated 1,1,2 solution now there is a need to increase the second the value to check for possibility and it will become 2. Now 1,2,1 is also a an answer and also get appended   to the list . But they are duplicate solution

[2017-04-01 17:13] Prakash2403 commented on #121
I am sending code on your clg id

On 01-Apr-2017 10:25 PM, "Yash Ladha" <notifications@github.com> wrote:

Yaa it can be suppose you had generated 1,1,2 solution now there is a need
to increase the second the value to check for possibility and it will
become 2. Now 1,2,1 is also a an answer and also get appended to the list .
But they are duplicate solution

—
You are receiving this because you we

[2017-04-01 17:46] yashLadha commented on #121
Ok, you are just storing each instance and appending the previous instances to the new instance including the value of that instance. Nice way @Prakash2403 .

[2017-04-01 18:26] Prakash2403 commented on #121
Thanks. If you find any better way, please share it with me.

On 01-Apr-2017 11:16 PM, "Yash Ladha" <notifications@github.com> wrote:

[2017-04-01 20:15] singhpratyush commented on #121
@Prakash2403: The answer will be zero only when you have no coins and yet you wish to achieve some final sum that's greater than 0.

Consider this as you are giving a bag which contains coins filled in it, equal to the sum he wishes. How many ways can you return if he wishes no money at all? 1 - give him an empty bag. And what if you have no type of coins and still he wishes some money? 0.

Hope I

[2017-04-01 20:24] Prakash2403 commented on #121
So you are saying that "no way" is one way possible. I does make sense, but
I have a different solution where we can assign 0 and algorithm still
works.

Interpretation given by you seems correct, but anyways I will post my
solution here once my laptop is repaired. Please review it.

On 02-Apr-2017 1:45 AM, "Pratyush Singh" <notifications@github.com> wrote:

[2017-04-01 21:57] singhpratyush commented on #121
Sure!

[2017-04-02 09:42] PiyushPawar17 opened #122 "Linear Search [Java]"
https://en.wikipedia.org/wiki/Linear_search

[2017-04-03 06:00] Prakash2403 commented on #121
[code]

[2017-04-03 06:02] yashLadha commented on #121
the second case can be removed if we have possibilities[0] = 1;

[2017-04-03 17:42] #101 closed

[2017-04-03 18:15] #122 closed

[2017-04-03 21:25] #93 closed

[2017-04-03 21:27] #116 closed

[2017-04-04 15:31] #121 closed

[2017-04-04 15:43] Prakash2403 opened #125 "Issue in stack"
Standard implementation of stack involves only one pointer, which points at top of stack, It means that if you want to view all items of stack, you must remove all elements and then print them, displayStack() function violates the definition of standard stack.

In java also, there is no implementation of such function. However, if you print the stack, then it will print all the elements. But, as f

[2017-04-04 18:41] Monal5031 commented on #125
@Prakash2403 In Java implementation I have used only one pointer I just didn't show it as it was assumed that using LinkedList implementation the top of stack will be considered as the last element of the LinkedList. Further, while displaying the stack I have displayed it in Top-first manner (LIFO). Any mistakes you want to point out over the implementation please share with me. 😃 One thing I coul

[2017-04-04 19:05] Prakash2403 commented on #125
I am not raising issues on pointer. I am saying that at any point of time you can only view topmost element. If you see stack implementation on a reputed website/language, you will find that they haven't implemented displayStack() method.

Only difference between LIFO linked list and stack is you can traverse the LIFO list by making pointer point to next address, but you can't traverse the stack.

[2017-04-04 19:14] yashLadha commented on #125
In the Java documentation of java there is a function search() which returns the 1-based position where an object is on this stack. So basically it is a form of traversal. [link](https://docs.oracle.com/javase/7/docs/api/java/util/Stack.html) @Prakash2403

[2017-04-04 19:28] Prakash2403 commented on #125
If you see the Java implementation, search method is uses `lastIndexOf(Object o)` property of Vector class which is super class of Stack. I don't know why Java allows such operations. Even in C++, there is no predefined method for stack traversal. In C++, you have to pop out every element in order to view the elements beneath them. If you see Stack definition anywhere, you will find that it is men

[2017-04-06 04:31] Monal5031 opened #126 "Singly Linked List [Java]"
https://en.wikipedia.org/wiki/Linked_list

Functions:
add()
addFront()
addLast()
remove()
removeFirst()
removeLast()
search()
size()
display()
isEmpty()

[2017-04-06 09:45] singhpratyush commented on #125
There has been a mistake indeed. Thanks for pointing out @Prakash2403. But I guess that peek should be there, as you can always see the topmost element of a stack (name of top book in the stack) without removing it. What do you think?

Please create a PR resolving this issue.

[2017-04-06 10:03] Monal5031 opened #127 "Heap Sort [Java]"
https://en.wikipedia.org/wiki/Heapsort

[2017-04-06 10:37] Prakash2403 commented on #125
`peek()` should be there. I am just saying that it is a non-essential operation. In Wikipedia article, it is mentioned that stack interface must consist of two methods `push()` and `pop()`. `peek()` method can be implemented using `push()` and `pop()`, hence it is a non-essential operation.

[https://en.wikipedia.org/wiki/Stack_(abstract_data_type)#Non-essential_operations](url)

[2017-04-06 19:45] Monal5031 opened #130 "Closing PR policy"
Just a suggestion.
@aviaryan @singhpratyush Shouldn't there be something like if some user is inactive or isn't working on the algorithm then in such case to close the PR and maybe someone else could do it?
Your views over this?

[2017-04-06 20:00] aviaryan commented on #130
Yes, we should have something like it. A user blocking an issue for infinite time is surely undesirable. Maybe we can have a rule which says that if a PR has received no commits or activity from the author in 7 days, it will be closed.
We can add this declaration in the PULL_REQUEST_TEMPLATE file itself.

[2017-04-06 20:04] amany9000 opened #131 "AVL Trees [Java]"
Algorithm to create a balanced binary tree.

http://www.geeksforgeeks.org/avl-tree-set-1-insertion/

[2017-04-06 20:05] Monal5031 commented on #130
Should there be something extra condition like if the person gives any reason then the time maybe exceeded?

[2017-04-06 20:11] Monal5031 commented on #131
It should come under Data Structure only, also mention the methods above which you intend to implement.

[2017-04-07 05:37] aviaryan commented on #130
@Monal5031 7 days is pretty sufficient time to implement any algorithm. So if a person is having reasons due to which they can't attend to their issue in 7 days or more, they shouldn't have picked the issue in the first place and they should let the other person do it.

[2017-04-07 05:39] #91 closed

[2017-04-07 11:31] #127 closed

[2017-04-07 11:44] Monal5031 commented on #130
@singhpratyush Sir your views over this?

[2017-04-07 11:46] singhpratyush commented on #130
7 days without extension sounds good.

[2017-04-11 18:38] #99 closed

[2017-04-12 04:25] #130 closed

[2017-04-12 06:15] aashutoshrathi opened #135 "Modular Exponentiation [JAVA]"
[http://www.geeksforgeeks.org/modular-exponentiation-power-in-modular-arithmetic/](http://www.geeksforgeeks.org/modular-exponentiation-power-in-modular-arithmetic/)

[2017-04-12 09:28] #109 closed

[2017-04-12 09:30] #135 closed

[2017-04-12 09:36] aashutoshrathi opened #137 "Merge Sort [Python]"
[http://quiz.geeksforgeeks.org/merge-sort/](http://quiz.geeksforgeeks.org/merge-sort/)

[2017-04-14 03:48] #17 closed

[2017-04-14 19:52] #126 closed

[2017-04-14 19:54] singhpratyush commented on #125
Go ahead with removing peek too.

[2017-04-16 09:04] aashutoshrathi opened #140 "Quick Sort [Python]"
[https://en.wikipedia.org/wiki/Quicksort](https://en.wikipedia.org/wiki/Quicksort)

[2017-04-16 17:03] #137 closed

[2017-04-16 21:19] aashutoshrathi opened #143 "Red-Black Tree [Java]"
[http://www.geeksforgeeks.org/red-black-tree-set-1-introduction-2/](http://www.geeksforgeeks.org/red-black-tree-set-1-introduction-2/)

[2017-04-17 16:19] #140 closed

[2017-04-17 19:19] Prakash2403 opened #144 "Issue in quick-sort python"
@aashutoshrathi You have chosen first element as pivot element. This may lead to worst case scenario where time complexity is O(n<sup>2</sup>).  For average case complexity, it is advised to use **median of 3 partitioning technique** . For more information, read [https://www.khanacademy.org/computing/computer-science/algorithms/quick-sort/a/analysis-of-quicksort](https://www.khanacademy.org/comput

[2017-04-17 19:41] aashutoshrathi commented on #144
@Prakash2403 Should I randomize pivot ?

[2017-04-17 19:48] Prakash2403 commented on #144
Take three different random temporary pivots, take there median as pivot.
That's median of 3 pivot technique. That will guarantee you that time
complexity will be O(nlogn) with a probability over 65%. This method is
used to avoid worst case.

On 18-Apr-2017 1:12 AM, "Aashutosh Rathi" <notifications@github.com> wrote:

[2017-04-17 19:56] Monal5031 opened #145 "Quicksort [Java]"
There seems to be some issue in java implementation of Quick Sort on this repo [here](https://github.com/iiitv/algos/blob/master/quicksort/QuickSort.java) ,if we take repeated inputs then it goes into infinite loop.

[2017-04-17 19:59] Prakash2403 commented on #145
I guess there must be equality on either of inner while loop in first function.

[2017-04-17 20:02] Monal5031 commented on #145
I tried giving equality to both loops but I got `java.lang.StackOverflowError` 😕

[2017-04-17 20:05] Prakash2403 commented on #145
Don't give equality on both loops, try on either one of them but not both.
My laptop is broken that's why I can't test it right now. So, I am not sure
about the result.

On 18-Apr-2017 1:33 AM, "Monal Shadi" <notifications@github.com> wrote:

I tried giving equality to both loops but I got java.lang.StackOverflowError
😕

—
You are receiving this because you commented.

Reply to this email directly

[2017-04-17 20:16] aashutoshrathi commented on #144
@Prakash2403 I tried to randomize pivot, but it went wrong 😕.
Please tell where I went wrong.
[http://ideone.com/aYkFHB](http://ideone.com/aYkFHB)

[2017-04-17 20:19] Monal5031 opened #146 "Binary Search Tree [Java]"
https://en.wikipedia.org/wiki/Binary_search_tree
Methods:
1. insert()
2. delete()
3. search()
4. display() [Inorder printing.]
Any more suggestions with methods that should be implemented?

[2017-04-17 20:19] Prakash2403 commented on #145
This algorithm will fail for repeated elements, because assume if A[L], pivot and A[R] become equal, then neither L nor R will be increased or decreased, and swapping will give no change because A[L] and A[R] is equal. Condition for outer while loop will never fail, hence infinite loop will run.

[2017-04-17 20:48] Monal5031 commented on #144
@aashutoshrathi There seems to be a very small mistake there, when you take median you will have to iterate through all the elements of array but you have missed the last element in each recursion i.e.
change `for j in range(p, r):` to `for j in range(p, r+1):` on line number 28.

[2017-04-17 20:56] aashutoshrathi commented on #144
@Monal5031 I changed `r` to `r+1` still, result isn't sorted.

[2017-04-17 20:59] Monal5031 commented on #144
@aashutoshrathi Oh sorry, I forgot to mention this one too. `array[p], array[pivot_index] = array[pivot_index], array[p]` is also the cause the trouble.

[2017-04-17 22:43] aashutoshrathi opened #148 "Adding an Application section to Algorithm Table in README.md"
Should we have an application section for every implemented algorithm on this repository, which will help others (one who don't know about that particular algo) to figure out, how and where this algorithm will help them and will keep them interested.
For eg :

## Implemented Algorithms

| Algorithm | C | CPP | Java | Python | Golang | Applications |
|:--------------|:----------------:|:-----------

[2017-04-20 18:07] singhpratyush opened #150 "Linear Search [Golang]"
https://en.wikipedia.org/wiki/Linear_search

[2017-04-20 18:09] #146 closed

[2017-04-20 18:44] #150 closed

[2017-04-20 18:52] Monal5031 commented on #145
@Prakash2403 Should we move with the other method of quicksort wherein we actually shift the elements to left of pivot.

[2017-04-20 18:56] Prakash2403 commented on #145
Yes

On 21-Apr-2017 12:22 AM, "Monal Shadi" <notifications@github.com> wrote:

[2017-04-21 18:01] mohitkyadav opened #152 "Sieve Of Eratosthenes [Golang]"
https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes

[2017-04-21 18:38] aashutoshrathi opened #154 "Skeleton Code Structure for Golang"
add skeleton code for golang in [CONTRIBUTING.md](https://github.com/iiitv/algos/blob/master/CONTRIBUTING.md)

[2017-04-21 20:47] #154 closed

[2017-04-23 10:46] #152 closed

[2017-04-23 11:31] mohitkyadav opened #156 "Largest Sum Contiguous Subarray [Golang]"
https://en.wikipedia.org/wiki/Maximum_subarray_problem

[2017-04-30 10:23] #156 closed

[2017-05-04 07:35] #145 closed

[2017-05-04 07:57] singhpratyush opened #159 "Configure CodeClimate for ignoring duplications"
Since all the files are independent, there will be many duplication issues raised by CodeClimate. Configure it to ignore.

Read https://docs.codeclimate.com/v1.0/docs/duplication.

[2017-05-04 08:41] ravijha77 opened #160 "Multi-layer perceptron for MNIST dataset"
# Details:
Single hidden layer multi layer perceptron to predict the handwritten digit.
## Dataset:
 MNIST dataset by-Yann LeCun,Corinna Cortes,Christopher J.C. Burges
## Python Library used:
Tensorflow ([https://www.tensorflow.org](https://www.tensorflow.org))

[2017-05-08 15:08] #144 closed

[2017-05-09 04:50] singhpratyush commented on #125
Python Implementation needs to be modified as well.

[2017-05-09 10:00] Monal5031 commented on #125
@singhpratyush That should go in another issue?

[2017-05-09 10:02] singhpratyush commented on #125
@Monal5031: Let's tackle it here.

[2017-05-09 13:47] Anshuman-Verma commented on #148
*an application

[2017-05-09 13:51] aashutoshrathi commented on #148
@Anshuman-Verma Thanks for such a valuable feedback 🙇

[2017-05-09 14:00] Anshuman-Verma commented on #148
@aashutoshrathi i meant PR comment.

[2017-05-10 11:45] Prakash2403 opened #163 "Rod cutting problem [Java]"
http://www.geeksforgeeks.org/dynamic-programming-set-13-cutting-a-rod/

[2017-05-10 13:05] Monal5031 opened #164 "Counting Sort [C]"
http://www.geeksforgeeks.org/counting-sort/

[2017-05-11 08:43] TarunISCO opened #168 "Longest Common Subsequence [JAVA]"

[2017-05-11 17:22] DipanshKhandelwal opened #169 "Add me @dipanshgh"
Add me @dipanshgh

[2017-05-11 17:54] Monal5031 commented on #169
@dipanshgh Please open this issue at https://github.com/iiitv/getmein/issues not here 😆

[2017-05-12 13:20] aashutoshrathi commented on #148
@singhpratyush sir, take look at this

[2017-05-12 13:23] mohitkyadav opened #170 "Longest Common Subsequence [GoLang]"
https://en.wikipedia.org/wiki/Longest_common_subsequence_problem

[2017-05-12 13:27] mohitkyadav commented on #170
@singhpratyush @aviaryan please assign me to this issue.

[2017-05-12 14:49] singhpratyush commented on #148
I don't see any issue in this. Just that even the basic implementation would contain a solution to some problem.

The better thing to do would be to implement the methods in a file and then use them to solve the problems in other files.

@aviaryan: What do you think?

[2017-05-12 14:50] #169 closed

[2017-05-13 10:32] Monal5031 commented on #168
@TarunISCO If you are not working on this I'd like to complete this one.

[2017-05-13 11:35] Monal5031 opened #171 "Update .gitignore"
.exe under c/cpp, as windows generates .exe files
.orig as a result of coala running locally, in case someone forgets to use `-n`.

[2017-05-13 11:35] Monal5031 commented on #171
Please assign me this one.

[2017-05-13 12:19] aviaryan commented on #171
@Monal5031 Please give a more descriptive title to this issue.

[2017-05-14 00:48] #163 closed

[2017-05-14 00:51] #164 closed

[2017-05-14 03:57] Prakash2403 commented on #68
@singhpratyush Can I work on this problem?

[2017-05-14 04:16] aashutoshrathi opened #173 "Dead Link of Counting Sort in README.md"
Link of Counting Sort in README is redirecting to [https://github.com/iiitv/algos/blob/master/www.geeksforgeeks.org/counting-sort](https://github.com/iiitv/algos/blob/master/www.geeksforgeeks.org/counting-sort) , which is an unavailable page, while it should redirect to [https://www.geeksforgeeks.org/counting-sort](https://www.geeksforgeeks.org/counting-sort)

[2017-05-14 04:23] singhpratyush commented on #173
Please send a PR.

[2017-05-14 04:24] singhpratyush commented on #68
@Prakash2403 go ahead.

[2017-05-14 05:06] #173 closed

[2017-05-14 06:55] aashutoshrathi commented on #148
So this issue should be close now ?
@singhpratyush

[2017-05-14 07:09] ashu-beckham opened #177 "Segment Tree [JAVA]"
Read more about it : https://en.wikipedia.org/wiki/Segment_tree

[2017-05-14 07:12] singhpratyush commented on #148
No, we still need to have views of others.

[2017-05-14 07:21] Monal5031 commented on #148
Let's add a section like we added for DS, we'll implement a popular question related to that algorithm/DS there.?

[2017-05-14 07:55] sakshee-19 opened #179 "Linked List [C]"
I want to implement this.

[2017-05-14 12:01] singhpratyush commented on #148
This is not that simple here. We would need to refactor the whole repo in order for this to fit in (because each algorithm/DS solves a problem, which would go in **Application** section if we follow this).

@aviaryan: What do you say about this?

[2017-05-14 12:24] aviaryan commented on #148
Yes, we shouldn't have the "Applications" column with empty fields in `master`. If we are to do this, we will have to create a separate branch to do this, and this process will take some time.
So we should create a new branch in this repo for adding the `Application` column. When complete and synced, we can merge it with master.
@singhpratyush views?

[2017-05-14 12:37] singhpratyush commented on #148
Also, almost all current implementations will fail which do now support different data types. Though this problem will be a nice exercise for everyone, it will become fairly difficult for newcomers to keep up.

[2017-05-14 14:22] singhpratyush commented on #179
@sakshee-19: Please add a link to some resource explaining this data structure in the description. Thanks.

[2017-05-14 16:13] sakshee-19 commented on #179
https://en.wikipedia.org/wiki/Linked_list

[2017-05-14 22:03] Prakash2403 opened #181 "Dijkstra's Algorithm [Java]"
https://en.wikipedia.org/wiki/Dijkstra's_algorithm

[2017-05-14 22:35] Prakash2403 opened #182 "Wiki Pages"
As ML and AI algorithms are being included in this repository, I think it is better to have our own Wiki for this repository. Also, as @aashutoshrathi has suggested, we could add application of algorithms there. What are your views @aviaryan @singhpratyush @Monal5031 @yashLadha ?

[2017-05-15 09:17] singhpratyush commented on #182
Since the algorithms implemented are not industry standard, they will not be used by anyone. They are present here just to test the proof of concept. I think that just the comments in the implementation will do the job.

[2017-05-15 09:20] Monal5031 commented on #182
@Prakash2403 yes it seems a good idea to have that but in a little different way according to me.
We can create our own questions and add it there along with the dependent algorithm.
We can also use it for uploading questions for any future contests in our college and uploading answers there only along with used algo/DS.

[2017-05-15 09:27] Prakash2403 commented on #182
@singhpratyush There are multiple things which are too big to be explained in comments. For example, Average case time complexity of quick sort is `O(nlogn).` Proof using probability requires a wiki page. Similarly, when A* search algorithm will be added, then heuristic function and conditions required (admissibility and consistency) will require a wiki page.
Although, these things can found on In

[2017-05-15 09:28] Prakash2403 commented on #179
Why closed it @sakshee-19 ?

[2017-05-15 09:33] Prakash2403 commented on #179
@sakshee-19 Create a Pull Request from your fork to this repository. Before that, put LinkedList.c file in  linked_list folder.

[2017-05-15 09:33] sakshee-19 commented on #179
okay

[2017-05-15 12:09] #125 closed

[2017-05-15 12:14] #170 closed

[2017-05-15 20:08] hims1911 opened #184 "Prims [C]"
Link for algo- http://www.geeksforgeeks.org/greedy-algorithms-set-5-prims-minimum-spanning-tree-mst-2/

[2017-05-15 20:12] hims1911 commented on #184
Assign me this issue 😄

[2017-05-23 18:25] #184 closed

[2017-05-23 18:32] #181 closed

[2017-05-24 12:45] #168 closed

[2017-05-24 13:03] TarunISCO commented on #105
Can I work on this?

[2017-05-24 13:22] singhpratyush commented on #105
@TarunISCO: Go ahead.

[2017-05-25 12:21] Monal5031 commented on #119
Please Assign me this issue.

[2017-05-27 06:32] Hsankesara opened #189 "AVL Tree [Java]"
AVL tree is a self-balancing binary search tree.
To know more : [AVL Tree](https://en.wikipedia.org/wiki/AVL_tree)

[2017-05-27 06:37] Hsankesara commented on #189
Can anyone tell me please, Why I cannot add lables and assign myself?

[2017-05-27 11:06] Monal5031 commented on #189
@Hsankesara The rights of iiitv/algos have modified to read-only, so only admins can do that now.

[2017-05-28 19:38] jsroyal commented on #73
@singhpratyush it has been such long time, I implemented and can send PR?
also, I'm not able to assign to me.

[2017-05-29 10:59] Monal5031 commented on #189
@Hsankesara Please read the CONTRIBUTING.md carefully, I will point it out `First make sure you are not suggesting a duplicate.`
Always check if the algorithm you are trying to implement is already implemented or is an open issue.
This algo has an open issue created by @amany9000 in #131 .

[2017-05-29 11:04] #189 closed

[2017-05-29 11:33] Hsankesara commented on #131
I believe nobody is currently working on this issue. @singhpratyush Can you please assign it to me ?

[2017-05-31 14:02] Monal5031 commented on #27
Please assign me this one.

[2017-06-01 20:59] Monal5031 opened #191 "Bear suggestions for repo"
It would be good to have bear for checking linting errors in python.
`PEP8Bear` for detecting pep8 incompliant code.
`YAMLLintBear` for checking errors with .yml files

[2017-06-02 02:17] singhpratyush commented on #191
Please go ahead with it and let us know if you need something. Also, add more bears if necessary.

[2017-06-02 02:40] #108 closed

[2017-06-02 05:10] Monal5031 commented on #27
Please unassign me @singhpratyush sir 😄

[2017-06-02 09:51] mohitkyadav opened #192 "Shell Sort [CPP]"
-   https://en.wikipedia.org/wiki/Shellsort

[2017-06-02 09:55] mohitkyadav commented on #192
Please add related labels and assign me to this issue.

[2017-06-05 13:17] khilanravani opened #195 "Add Counting Sort [Python]"
http://www.geeksforgeeks.org/counting-sort/
Please assign me this and add suitable labels.

[2017-06-05 20:30] Monal5031 opened #197 "Dijkstra Algorithm [C]"
http://www.geeksforgeeks.org/greedy-algorithms-set-6-dijkstras-shortest-path-algorithm/

[2017-06-05 20:31] Monal5031 commented on #197
Please assign me this one.

[2017-06-06 16:57] singhpratyush opened #199 "Add .editorconfig file"
The `.editorconfig` file would help maintain consistency of code for the project.

[2017-06-06 19:19] #119 closed

[2017-06-06 19:34] Monal5031 opened #200 "PEP8Bear raises error in build"
The newly added bear `PEP8Bear` raisies issue in some implementations, this issue is for fixing them

[2017-06-06 19:34] Monal5031 commented on #200
Please assign this one to me and necessary labels.

[2017-06-07 03:33] #191 closed

[2017-06-07 03:40] aashutoshrathi commented on #199
I would like to do this, but will need some help regarding GOLang's indentation.

[2017-06-07 04:33] #200 closed

[2017-06-07 04:34] #192 closed

[2017-06-07 04:39] aviaryan commented on #199
@aashutoshrathi Golang's indentation is tabs, tab_size = 4, trim_spaces = True, last linefeed = True .. etc

[2017-06-07 04:40] aviaryan opened #202 "Stack [Golang]"
https://en.wikipedia.org/wiki/Stack_(abstract_data_type)

[2017-06-07 04:42] aviaryan commented on #195
@khilanravani Done.

[2017-06-07 04:56] mohitkyadav opened #203 "Shell Sort [Golang]"
https://en.wikipedia.org/wiki/Shellsort

[2017-06-07 04:57] mohitkyadav commented on #203
Please assign me to this issue.

[2017-06-07 05:13] aashutoshrathi commented on #199
Should I place file in root of this repo ?

[2017-06-07 07:49] singhpratyush opened #206 "Add travis badge to README"

[2017-06-07 07:51] Monal5031 commented on #206
I can work on this one

[2017-06-07 07:53] singhpratyush opened #207 "Add checkstyle bear with proper configuration"

[2017-06-07 14:07] aashutoshrathi opened #208 "Add Modular Exponentiation [C]"
[http://www.geeksforgeeks.org/modular-exponentiation-power-in-modular-arithmetic/](http://www.geeksforgeeks.org/modular-exponentiation-power-in-modular-arithmetic/)

[2017-06-07 14:08] aashutoshrathi commented on #208
Assign me

[2017-06-07 14:16] #199 closed

[2017-06-08 04:48] Monal5031 opened #209 "Rod Cutting Problem [C]"
http://www.geeksforgeeks.org/dynamic-programming-set-13-cutting-a-rod/
assign me to this one please

[2017-06-08 04:49] Monal5031 opened #210 "Rod Cutting Problem [Python]"
http://www.geeksforgeeks.org/dynamic-programming-set-13-cutting-a-rod/

[2017-06-08 05:00] aashutoshrathi commented on #210
@singhpratyush Sir, `lang-python` instead of `lang-c`

[2017-06-08 05:02] #206 closed

[2017-06-08 05:24] singhpratyush commented on #210
Thanks for correcting @aashutoshrathi.

[2017-06-08 07:00] #208 closed

[2017-06-08 07:14] aashutoshrathi commented on #210
I'll like to work on this one while @Monal5031 is doing same in C

[2017-06-08 08:11] Monal5031 commented on #210
@aashutoshrathi Okay you can work on this, I'll edit my comment.

[2017-06-08 08:59] #202 closed

[2017-06-08 09:07] aashutoshrathi commented on #210
Assign this to me

[2017-06-08 10:20] Monal5031 opened #216 "Update CONTRIBUTING.md"
CONTRIBUTING.md needs some updates:
1. Mention of currently accepted languages.
2. Mention use of meaningful function/method names.

[2017-06-08 12:00] aviaryan commented on #216
@Monal5031 Please send a PR for the same. Btw, Issue names should point out the issue. Update CONTRIBUTING.md is not a good name for an issue, it should be more like "Contributing.md missing list of currently accepted languages".

[2017-06-08 12:12] Monal5031 commented on #216
@aviaryan There were things to be updated so I ended up making it only `Update CONTRIBUTING.md`

[2017-06-08 15:47] #209 closed

[2017-06-08 20:22] Monal5031 opened #220 "Fix typos in Rod Cutting [C]"
There are some typos in rod_cutting.c.

[2017-06-08 20:52] aashutoshrathi opened #222 "Add HaskellLintBear and PylintBear to .coala"
If we are going to add it, assign me

[2017-06-09 03:21] #220 closed

[2017-06-09 06:02] #203 closed

[2017-06-09 06:29] aviaryan commented on #216
@Monal5031 Still it should be like "CONTRIBUTING.md needs update" or "CONTRIBUTING.md missing some points".  Issue title should tell what the problem is.

[2017-06-09 06:41] aviaryan opened #224 "8-puzzle (A*) [Java]"
http://heyes-jones.com/astar.php
http://www.d.umn.edu/~jrichar4/8puz.html

[2017-06-09 19:36] #216 closed

[2017-06-09 19:44] Monal5031 commented on #216
Will keep it more descriptive from next time 😄

[2017-06-09 19:52] Monal5031 commented on #148
@singhpratyush @aviaryan This can be closed now, or do we need more discussion over it?

[2017-06-10 06:33] singhpratyush commented on #70
Let me sum this up -

**Squash when**
* Many commits.
* Single commit with some improper commit message.

**Rebase when**
* Single commit with a good commit message.

[2017-06-10 06:33] #70 closed

[2017-06-10 06:39] singhpratyush commented on #182
@Prakash2403: That is true. But this repository is to show the implementations. Things like consistency check, proof of complexity, etc. can be referenced from other destinations on the Internet.

But if the contributor really wants to give his words on the implementation, he may add a `README.md` in `docs/` directory of the repository.

@aashutoshrathi @aviaryan @Monal5031: What do you guys think

[2017-06-10 09:47] Enether opened #226 "Add Shell Sort [Python]"
I see its missing from the table of algorithms in README.md
https://www.tutorialspoint.com/data_structures_algorithms/shell_sort_algorithm.htm

[2017-06-10 09:53] Enether opened #228 "Red Black Tree [Python]"
Implement the classic Red Black Tree (not the left-leaning one)
https://en.wikipedia.org/wiki/Red%E2%80%93black_tree

[2017-06-10 10:24] Monal5031 commented on #228
@Enether if you wish to send a PR for this issue please get it assigned :smile: its great to see new contributors.

[2017-06-10 10:25] Monal5031 commented on #207
Assign me this one please.

[2017-06-10 10:37] Enether commented on #228
@Monal5031
I have a big file with tests for said tree, but that file does not adhere to PEP8, mainly having really long lines, which are really comments that draw out the tree.
Should I add the tests file at all?

[2017-06-10 10:47] singhpratyush commented on #228
@Enether: Add those files and we can decide what to do with it.

[2017-06-10 10:49] Monal5031 commented on #228
@Enether You can use coala locally to fix the PEP8 issues really fast.

[2017-06-10 10:50] Enether commented on #228
@Monal5031 sure but those comments are not fixable as they draw out a tree and spreading them into multiple lines would confuse the reader/

[2017-06-10 10:50] Monal5031 commented on #226
@singhpratyush assign this to @Enether he has already sent a PR.

[2017-06-10 10:55] Monal5031 commented on #228
@Enether Okay, upload it we'll see what to do.

[2017-06-10 15:03] #222 closed

[2017-06-10 15:09] #210 closed

[2017-06-10 15:24] singhpratyush opened #229 "[Build Failure] Coala can't resolve numpy modules"
Travis build fails as coala can't recognise modules under numpy.

[2017-06-10 15:27] singhpratyush opened #230 "README links may be dead or point to inappropriate code in the repo"
There are chances that the links mentioned in the algorithm/DS table become dead or a code cross (`[X]`) may be pointing to a wrong URL.

A test for this is needed to prevent this in future PRs.

[2017-06-10 15:59] Monal5031 commented on #230
There is a related Bear which checks for dead links `InvalidLinkBear` you can check out its properties here https://coala.io/#!/languages

[2017-06-10 16:09] singhpratyush commented on #230
I think that having a custom script for this purpose would be better.

[2017-06-10 16:36] #226 closed

[2017-06-10 16:42] #197 closed

[2017-06-10 16:43] Enether opened #231 "Linked List [Go]"
https://www.tutorialspoint.com/data_structures_algorithms/linked_list_algorithms.htm
I'm on this

[2017-06-10 16:44] singhpratyush commented on #231
@Enether: Please inform in advance that you are working on it. And even if it is redundant, please mention a link for the DS in the issue description.

[2017-06-10 16:45] Enether commented on #231
I'll get the hang of it eventually haha

[2017-06-10 18:14] Monal5031 opened #234 "Sieve of Eratosthenes [Java]"
https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes

[2017-06-10 18:15] Monal5031 commented on #234
Please assign me this one.

[2017-06-10 18:40] #229 closed

[2017-06-10 20:25] andreasagap opened #235 "Add Coin Change Problem [Java]"
I see its missing from the table of algorithms in README.md

[2017-06-11 02:53] mohitkyadav opened #236 "QuickSort [Go]"
https://en.wikipedia.org/wiki/Quicksort

Please assign me this one.

[2017-06-11 03:31] singhpratyush commented on #235
@andreasagap: Please make sure that you are assigned to the issue before working on it. Also, even if it redundant, please mention a link in the issue description that explains the problem in detail.

[2017-06-11 05:29] aashutoshrathi opened #237 "Binary Search [Go]"
https://en.wikipedia.org/wiki/Binary_search_algorithm
Assign me

[2017-06-11 06:17] singhpratyush opened #239 "Stack [JavaScript]"
http://cdngquiz.geeksforgeeks.org/stack-data-structure/

[2017-06-11 06:33] singhpratyush opened #241 "Add happiness lint bear for JS"

[2017-06-11 06:47] aashutoshrathi commented on #241
Can I work upon this ?

[2017-06-11 06:58] Monal5031 opened #242 "Insertion Sort [Go]"
https://en.wikipedia.org/wiki/Insertion_sort
Please assign me this one.

[2017-06-11 07:00] aviaryan opened #243 "Add instructions on how to run code in README"
It would be great if we had instructions on how to run any code present in this repo . We can have this in README.md .

Example, for Go

[code]

For Python

[code]

[2017-06-11 07:03] singhpratyush commented on #242
You are already assigned to #234. Please complete that beforehand.

[2017-06-11 07:22] #237 closed

[2017-06-11 09:23] #241 closed

[2017-06-11 12:37] #239 closed

[2017-06-11 16:54] HarshKhatore opened #247 "Recursive binary search [ C ]"
There is no implementation of recursive binary search in c/c++.
Description - [https://en.wikipedia.org/wiki/Binary_search_algorithm](url)

[2017-06-11 16:58] singhpratyush commented on #247
Hello @HarshKhatore, thanks for opening the issue.

Please make sure that you are assigned to the issue before working on it. And even if it redundant, please add a link explaining the algorithm in the issue description.

[2017-06-11 17:03] HarshKhatore commented on #247
Hello @**singhpratyush**,  thanks for suggesting and assigning my this issue. I have created a pull request regarding this, kindly review it. Ok, I will add the description of the algorithm.

[2017-06-11 17:07] sirfoga opened #248 "Heap Sort [Python]"
There is no implementation of heap sort in Python.
Description - https://en.wikipedia.org/wiki/Heapsort

[2017-06-11 17:30] singhpratyush commented on #248
Hello @sirfoga, thanks for opening the issue.

Please make sure that you are assigned to the issue before working on it. And even if it redundant, please add a link explaining the algorithm in the issue description.

[2017-06-11 19:56] HarshKhatore opened #250 "Depth First Traversal [ C ]"
C implementation for depth-first traversal.
Kindly assign.

[2017-06-12 03:12] #234 closed

[2017-06-12 08:16] #247 closed

[2017-06-12 08:22] aashutoshrathi opened #254 "Rod Cutting Problem [Go]"
#### This issue is about [Rod Cutting Problem](http://www.geeksforgeeks.org/dynamic-programming-set-13-cutting-a-rod/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I will send my PR o

[2017-06-12 08:25] aviaryan opened #255 "Create an issue template"
Inspired from https://github.com/iiitv/algos/issues/254 , I think we can create an issue template which will guide users when creating an issue. It can contain checklists to make sure a proper issue is created.

[2017-06-12 08:26] sirfoga opened #256 "Bin Sort [Python]"
There is no implementation of bin sort in Python.
Description - https://en.wikipedia.org/wiki/Bucket_sort

[2017-06-12 08:28] aviaryan commented on #256
Do you want to work on this? @sirfoga

[2017-06-12 08:33] aashutoshrathi opened #257 "Typos in PR template"
- [x] Assign this to me.

[2017-06-12 08:41] sirfoga commented on #256
yeah .. i'm already coding some of it

[2017-06-12 08:51] sirfoga opened #259 "Insertion Sort [Python]"
Bad implementation (i.e not working). The `while` loop [here](https://github.com/iiitv/algos/blob/master/insertion_sort/insertion_sort.py#L9) should be indented one tab right (should be inside the `for` loop).

Description Insertion Sort: https://en.wikipedia.org/wiki/Insertion_sort

[2017-06-12 08:58] #257 closed

[2017-06-12 09:02] TarunISCO commented on #259
@aviaryan please assign me

[2017-06-12 09:07] aashutoshrathi commented on #255
Assign me

[2017-06-12 09:12] sirfoga commented on #259
this is tested (and working correctly)

[code]

[2017-06-12 10:50] #248 closed

[2017-06-12 10:53] #255 closed

[2017-06-12 12:14] sirfoga opened #264 "Exponentation by squaring [Python]"
#### This issue is about [Exponentation by squaring](https://en.wikipedia.org/wiki/Exponentiation_by_squaring).

- [X] Issue Title is in form `Algo/DS Name [Language]`.
- [X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This Algo/DS is worth adding to this repository.
- [X] Assign this issue to me (I want to work on this).
- [X] I will send my PR only afte

[2017-06-12 12:38] sirfoga opened #265 "Backtracking algorithm (N-Queen Problem) [Python]"
#### This issue is about [Backtracking algorithm (N-Queen Problem)](https://en.wikipedia.org/wiki/Eight_queens_puzzle).

- [X] Issue Title is in form `Algo/DS Name [Language]`.
- [X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This Algo/DS is worth adding to this repository.
- [X] Assign this issue to me (I want to work on this).
- [X] I will send my PR o

[2017-06-12 13:24] sirfoga commented on #265
I intend to pull the algorithm that computes all solutions, is it ok? the [java version](https://github.com/iiitv/algos/blob/master/n_queen_problem/NQueenProblem.java) prints only one solution ..

[2017-06-12 13:48] #254 closed

[2017-06-12 14:09] aashutoshrathi opened #266 "Modular Exponentiation [Go]"
#### This issue is about [Modular Exponentiation](http://www.geeksforgeeks.org/modular-exponentiation-power-in-modular-arithmetic/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I will

[2017-06-12 14:41] #243 closed

[2017-06-12 17:59] #231 closed

[2017-06-12 18:03] #256 closed

[2017-06-12 18:06] #242 closed

[2017-06-12 18:10] singhpratyush commented on #265
Please use the issue template properly. The heading is supposed to carry the name and link of the algorithm.

[2017-06-12 18:16] singhpratyush opened #268 "Stack [C]"
#### This issue is about [Stack](http://cdngquiz.geeksforgeeks.org/stack-data-structure/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I will send my PR only after I'm assigned to thi

[2017-06-12 18:26] aashutoshrathi commented on #230
@singhpratyush Should we add [Awesome_Bot](https://github.com/dkhamsing/awesome_bot) to our Travis

[2017-06-12 18:29] singhpratyush commented on #230
I already checked it. But it won't satisfy our requirement of the correctness of link. I think having custom script would be better.

[2017-06-13 01:58] #268 closed

[2017-06-13 06:40] #266 closed

[2017-06-13 08:18] aashutoshrathi opened #272 "Changing CheckMark in README.md"
### [X] in [README.md](https://github.com/iiitv/algos/blob/master/README.md) looks ugly we can replace it
with  :white_check_mark: or ✔️ or :ballot_box_with_check: or :negative_squared_cross_mark: or :o: .
We can decide which one is good by polls and update it in README.md. 😄

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this

[2017-06-13 09:24] singhpratyush commented on #272
We an use :white_check_mark: (`:white_check_mark:`).

[2017-06-13 09:46] aashutoshrathi commented on #272
`(:white_check_mark:)` is giving output as :
![screenshot 35](https://user-images.githubusercontent.com/21199234/27076566-39cc3db0-504b-11e7-8118-0437151dfba3.png)
Instead of this
![screenshot 36](https://user-images.githubusercontent.com/21199234/27076572-3f7f09ea-504b-11e7-9e8f-3132ee492f0a.png)

[2017-06-13 09:50] singhpratyush commented on #272
@aviaryan: What do you think of this?

[2017-06-13 10:14] singhpratyush opened #273 "Warning while compiling dijkstra.c"
[code]

[2017-06-13 10:16] singhpratyush opened #274 "Warning while compiling DepthFirstTraversal.java"
[code]

[2017-06-13 11:25] #265 closed

[2017-06-13 14:57] Monal5031 commented on #273
It compiles and executes successfully locally and even on ideone http://ideone.com/e.js/Z63EXj
![screenshot 13](https://user-images.githubusercontent.com/21009189/27088870-853f0054-5076-11e7-83e7-de111519a878.png)

[2017-06-13 15:08] singhpratyush commented on #273
`gcc --version`?

[2017-06-13 15:09] Monal5031 commented on #273
I was just checking the version of `c` its `5.4.0`

[2017-06-13 15:17] Monal5031 commented on #272
We can use circle for showing that the issue/PR of that algo/DS is open, so people don't have to search out the whole list of issues one by one.

[2017-06-13 15:36] singhpratyush commented on #273
On Travis -
[code]

My local PC -
[code]

[2017-06-13 15:46] Monal5031 commented on #273
Okay so that seems to be the problem then. So which version should we go with? `4.9.2` or above it?
Tried compiling on codechef ide got this error along with the warning you mentioned above.
[code]
@singhpratyush Sir did you try compiling https://github.com/iiitv/algos/blob/master/rod_cutting_problem/rod_cutting.c it also should show the same warning.

[2017-06-13 15:47] singhpratyush commented on #273
That requires `C11` mode (`-std=C11`).

[2017-06-13 15:54] mohitkyadav commented on #273
@Monal5031 use C99 while compiling.

[2017-06-13 16:17] Monal5031 commented on #273
@mohitkyadav I know that, but as my local version of `C` is `5.4.0` I guess I don't need to do that.

[2017-06-13 16:17] aviaryan commented on #272
@singhpratyush ✅  is cool

@Monal5031 That would require regular updates of README.md which is not feasible.

[2017-06-13 16:18] mohitkyadav commented on #273
No, I'm talking about the CodeChef ide.

[2017-06-13 16:31] singhpratyush commented on #272
Ok then. We'll replace [X] with `:white_check_mark:`.

[2017-06-13 22:47] Monal5031 commented on #264
@sirfoga Are you implementing this otherwise I'd like to do it?

[2017-06-13 22:58] Monal5031 commented on #182
@singhpratyush Yes sir it seems a nice idea, with the new contributors joining in it'd be good if that person explains their implementation if they did in a different manner. With the explanation being available on the algo/DS this repo would be more useful for people who are trying to learn new concepts.
Also sir we can use github pages to publish the explanations, like the main page could list a

[2017-06-14 00:57] aashutoshrathi opened #277 "Coin Change Problem [Python]"
#### This issue is about [Coin Change Problem](http://www.algorithmist.com/index.php/Coin_Change).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I will send my PR only after I'm assigne

[2017-06-14 02:33] singhpratyush commented on #131
Fixed in 7c61a361e55325d135057bb23b313c515ca7b466.

[2017-06-14 02:33] #131 closed

[2017-06-14 02:42] #272 closed

[2017-06-14 02:43] singhpratyush opened #278 "Improve editorconfig-tools log while testing"
[`.travis.yml#21`](https://github.com/iiitv/algos/blob/master/.travis.yml#L21) says -
[code]

It can be modified so that it shows only errors that are encountered -
[code]

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me

[2017-06-14 05:32] aashutoshrathi commented on #278
- [x] Assign this issue to me (I want to work on this).

[2017-06-14 06:12] sirfoga commented on #264
Please go on, the implementation is like the [C](https://github.com/iiitv/algos/blob/master/exponentation_by_squaring/exponentation_by_squaring.c) one :+1:

[2017-06-14 13:05] #236 closed

[2017-06-14 14:47] #235 closed

[2017-06-14 15:05] #264 closed

[2017-06-14 15:52] #278 closed

[2017-06-14 15:53] singhpratyush opened #281 "Issue in .editorconfig file"
- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [ ] I will send my PR only after I'm assigned to this issue by any maintainer.

Currently is says
[code]
should be
[code]

[2017-06-14 19:46] rashinanwani opened #283 "Prime Factor [Java]"
#### This issue is about [Prime Factor ](https://en.wikipedia.org/wiki/Prime_factor).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I will send my PR only after I'm assigned to this iss

[2017-06-14 20:53] andreasagap opened #284 "Quick Select [Java]"
#### This issue is about [Quick Select](https://en.wikipedia.org/wiki/Quickselect).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I will send my PR only after I'm assigned to this issue

[2017-06-15 08:58] singhpratyush opened #285 "Sleep Sort [Python]"
#### This issue is about [Sleep Sort](http://www.geeksforgeeks.org/sleep-sort-king-laziness-sorting-sleeping/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I will send my PR only afte

[2017-06-15 12:08] Anshuman-Verma opened #288 "JavaScript sample missing in CONTRIBUTING.md"
- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I will send my PR only after I'm assigned to this issue by any maintainer.

[2017-06-15 12:26] Monal5031 opened #289 "Dijkstra Algorith [Python]"
#### This issue is about [Dijkstra Algorithm](https://en.wikipedia.org/wiki/Dijkstra's_algorithm/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I will send my PR only after I'm assign

[2017-06-15 13:50] singhpratyush commented on #288
Thanks @Anshuman-Verma for reporting. Please proceed with this.

[2017-06-15 14:09] mohitkyadav opened #290 "Shell Sort [JavaScript]"
#### This issue is about [Shell Sort](https://en.wikipedia.org/wiki/Shellsort).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I will send my PR only after I'm assigned to this issue by

[2017-06-15 14:40] Hsankesara opened #292 "Quick Select [Python]"
#### This issue is about [Quick Select](https://en.wikipedia.org/wiki/Quickselect).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I will send my PR only after I'm assigned to this issue

[2017-06-15 14:47] singhpratyush commented on #292
@Hsankesara: Please correct issue description.

[2017-06-15 14:49] singhpratyush commented on #290
@mohitkyadav: Please correct the issue description.

[2017-06-15 14:50] Monal5031 commented on #292
Why isn't the first point ticked? Issue title is as it should be.

[2017-06-15 14:51] Anshuman-Verma commented on #288
Thanks for assigning @singhpratyush, on it.

[2017-06-15 14:57] Hsankesara commented on #292
What are you talking about. First point is ticked

[2017-06-15 15:00] Anshuman-Verma commented on #292
He means kindly correct the first point in **Issue Description.**

[2017-06-15 15:06] Anshuman-Verma opened #294 "Linear Search [JavaScript]"
#### This issue is about [Linear Search](https://en.wikipedia.org/wiki/Linear_search).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I will send my PR only after I'm assigned to this is

[2017-06-15 15:07] Anshuman-Verma opened #295 "Binary Search [JavaScript]"
#### This issue is about [Binary Search](https://en.wikipedia.org/wiki/Binary_search_algorith).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
- [x] I will send my PR only after I'm assigned t

[2017-06-15 15:10] Anshuman-Verma opened #296 "Coin Change Problem [JavaScript]"
#### This issue is about [Coin Change Problem](www.geeksforgeeks.org/dynamic-programming-set-7-coin-change/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
- [x] I will send my PR only after

[2017-06-15 15:12] Monal5031 commented on #294
@Anshuman-Verma if you are working on #293 currently, can I work on this if its okay with you?

[2017-06-15 15:12] Anshuman-Verma opened #297 "Euclidean GCD [JavaScript]"
#### This issue is about [Euclidean GCD](https://en.wikipedia.org/wiki/Euclidean_algorithm).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I will send my PR only after I'm assigned to t

[2017-06-15 15:14] Anshuman-Verma commented on #294
#293 is done.

[2017-06-15 15:14] Monal5031 commented on #195
@khilanravani Please unassign if you are not working on this.

[2017-06-15 15:19] Monal5031 opened #298 "Issue template needs update"
@singhpratyush @aviaryan sir should there be another point that in issue template that if the assignee fails to send a PR within 7 days after assignment, they will be unassigned from the issue, so that we don't have issues blocked. Also the number of issues at a time we can work on should also be mentioned.

[2017-06-15 15:22] mohitkyadav commented on #298
@Monal5031  That'll be reasonable.

[2017-06-15 15:22] Anshuman-Verma opened #299 "Modular Exponential [JavaScript]"
#### This issue is about [Modular Exponential](https://en.wikipedia.org/wiki/Euclidean_algorithm).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I will send my PR only after I'm assigne

[2017-06-15 15:23] Hsankesara commented on #292
I think I'll correct it.

[2017-06-15 15:24] Anshuman-Verma commented on #298
Fair Enough

[2017-06-15 15:25] aashutoshrathi commented on #298
Seems Legit

[2017-06-15 15:27] Anshuman-Verma opened #300 "Separate section for Standard Problems"
We have a couple of standard standard problems like *coin change problem, rod cutting problem etc.*.

Should we have a separate section for their implementations ?

[2017-06-15 15:45] Monal5031 commented on #300
@Anshuman-Verma something similar was discussed before, but nothing came out of it.
still its worth a discussuon.
Views? @singhpratyush @aviaryan @Prakash2403 @yashLadha @aashutoshrathi @mohitkyadav

[2017-06-15 16:09] singhpratyush commented on #295
@Anshuman-Verma: Please complete previously assigned issues first.

[2017-06-15 16:10] singhpratyush commented on #296
@Anshuman-Verma: Please complete previously assigned issues first.

[2017-06-15 16:10] singhpratyush commented on #297
@Anshuman-Verma: Please complete previously assigned issues first.

[2017-06-15 16:12] singhpratyush commented on #299
@Anshuman-Verma: Please complete previously assigned issues first.

[2017-06-15 16:14] singhpratyush commented on #300
@Anshuman-Verma: See #148.

[2017-06-15 16:14] singhpratyush commented on #300
I have reopened #148. We can continue the discussion there.

[2017-06-15 16:14] #300 closed

[2017-06-15 16:16] Anshuman-Verma commented on #300
Alright.

[2017-06-15 16:19] Anshuman-Verma commented on #148
Will it be worth to have a separate section for standard problems like, *rod cutting, coin change problem etc.* ?

[2017-06-15 16:21] singhpratyush commented on #148
Please note that many implementations mentioned are not generic. So we need to change all the implementations to make them generic and make then implement the algorithm properly. Also, we will need to break down each implementation's directory into subdirectories based on language for a better organisation.

Also, there can be cases where different type of algorithms can use same base implementati

[2017-06-15 16:28] khilanravani commented on #195
Very sorry! Missed the update that I was already assigned

[2017-06-15 16:28] singhpratyush commented on #228
@Enether: Are you working on it?

[2017-06-15 16:29] khilanravani commented on #195
Will work on it right away..

[2017-06-15 16:30] khilanravani commented on #195
Please reassign me... this won't happen again..

[2017-06-15 16:46] Monal5031 commented on #295
@singhpratyush Please assign me this one.

[2017-06-15 17:51] aashutoshrathi commented on #298
Is anyone doing work on this one ?
Can I work on this ?

[2017-06-15 18:14] Enether commented on #228
Yes, should have it done by the end of this weekend

[2017-06-16 01:30] #277 closed

[2017-06-16 10:45] Monal5031 commented on #298
@aviaryan sir please assign this to @aashutoshrathi

[2017-06-16 15:40] #259 closed

[2017-06-16 15:51] #285 closed

[2017-06-17 16:23] aashutoshrathi commented on #298
- [x] Assign me

[2017-06-17 16:24] aashutoshrathi commented on #299
@Anshuman-Verma Can I work on this one ?

[2017-06-17 16:25] Anshuman-Verma commented on #299
All yours @aashutoshrathi :smile:

[2017-06-17 16:26] aashutoshrathi commented on #299
- [x] Assign me this issue.

[2017-06-17 16:54] #288 closed

[2017-06-17 17:00] Anshuman-Verma commented on #297
Assign me plz

[2017-06-17 17:03] Anshuman-Verma commented on #297
Assign me @singhpratyush @aviaryan

[2017-06-17 17:04] #292 closed

[2017-06-18 05:31] #294 closed

[2017-06-18 05:39] Anshuman-Verma commented on #296
@aviaryan assign me.

[2017-06-18 09:12] #283 closed

[2017-06-18 09:18] #298 closed

[2017-06-18 09:29] Monal5031 commented on #228
@Enether any updates for this issue?

[2017-06-18 13:27] #289 closed

[2017-06-18 13:36] #284 closed

[2017-06-18 13:37] Monal5031 opened #313 "Largest Sum Contiguous Subarray [Python]"
#### This issue is about [Largest Sum Contiguous Subarray](http://www.geeksforgeeks.org/largest-sum-contiguous-subarray/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] I ensure that I'm not assigned to 2 or more issues.
- [x] Assign this is

[2017-06-18 13:41] rashinanwani opened #314 "Prime Factor[Javascript]"
#### This issue is about [Prime Factor](https://en.wikipedia.org/wiki/Prime_factor).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] I ensure that I'm not assigned to 2 or more issues.
- [x] Assign this issue to me (I want to work on this).
-

[2017-06-18 15:28] Anshuman-Verma opened #315 "CONTRIBUTING.md missing to state JS contributions"
Since we have started JavaScript submissions too, so we need to add JS there as well.

[2017-06-19 05:13] #299 closed

[2017-06-19 05:16] aashutoshrathi commented on #315
Can I work on this ? 😆

[2017-06-19 05:18] Prakash2403 commented on #182
I agree. But if we are going to do this, we must do it asap, as this repository is growing bigger day by day.

[2017-06-19 05:31] #297 closed

[2017-06-19 05:34] Anshuman-Verma commented on #315
Hard luck, my other issue just got merged :laughing:

[2017-06-19 05:47] aashutoshrathi commented on #207
- [x] Assign this to me.
This is the one for JAVA, right ?

[2017-06-19 05:52] Anshuman-Verma commented on #315
Do we really need a PR for this @aviaryan ?

[2017-06-19 05:54] aviaryan commented on #315
Yes please send a PR. Will you like to work on this?

[2017-06-19 06:10] Anshuman-Verma commented on #315
Yes, assign me please :+1:

[2017-06-19 08:18] aashutoshrathi opened #319 "Exponentiation by Squaring [Go]"
#### This issue is about [Exponentiation by Squaring](https://en.wikipedia.org/wiki/Exponentiation_by_squaring).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not al

[2017-06-19 08:21] aashutoshrathi opened #320 "Exponentiation by Squaring [Javascript]"
#### This issue is about [Exponentiation by Squaring](https://en.wikipedia.org/wiki/Exponentiation_by_squaring).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not al

[2017-06-19 08:23] aashutoshrathi opened #321 "Typo in Exponentiation on Repository"
#### This issue is about Typo.
On this repository `Exponentation` needs to replaced by `Exponentiation` everywhere.

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not

[2017-06-19 08:40] #315 closed

[2017-06-19 10:15] Anshuman-Verma opened #322 "Sieve of Eratosthenes [JavaScript]"
#### This issue is about [Sieve of Eratosthenes](https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assi

[2017-06-19 13:30] aashutoshrathi opened #323 "Prime Factor [Python]"
#### This issue is about [Prime Factor](https://en.wikipedia.org/wiki/Prime_factor).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more

[2017-06-19 13:35] Lucifer24 commented on #323
-[x] Assign this issue to me.

[2017-06-19 14:21] #295 closed

[2017-06-19 14:24] Monal5031 commented on #319
Please assign me this one.

[2017-06-19 14:50] #321 closed

[2017-06-19 14:51] aashutoshrathi commented on #319
Sorry Bud, My last issue just got closed 😆

[2017-06-19 15:04] Monal5031 opened #327 "Exponentiation by Squaring [Java]"
#### This issue is about [Exponentiation by Squaring](https://en.wikipedia.org/wiki/Exponentiation_by_squaring).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I ensure that I am not alr

[2017-06-19 15:07] Monal5031 opened #328 "Issue template has a unnecessary tabpsace in point 5."
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I ensure that I am not already assigned to 2 or more issues.
- [

[2017-06-19 18:19] Monal5031 commented on #328
Not a valid bug, so closing this.

[2017-06-19 18:19] #328 closed

[2017-06-19 18:23] #314 closed

[2017-06-19 18:40] rashinanwani opened #330 "Prime Factor [Golang]"
#### This issue is about [Prime Factor](https://en.wikipedia.org/wiki/Prime_factor).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more

[2017-06-19 18:42] aviaryan commented on #273
Fixed in 40f0756

[2017-06-19 18:42] #273 closed

[2017-06-19 18:42] aashutoshrathi commented on #330
@rashinanwani  Why is ` I ensure that I am not already assigned to 2 or more issues.` unchecked ?

[2017-06-19 19:00] #274 closed

[2017-06-19 19:37] #290 closed

[2017-06-19 19:41] #320 closed

[2017-06-19 20:04] aviaryan opened #332 "Check warning while compiling java"
When `javac` compiles, it returns no output on successful compilation. Use this fact to check for warnings and issues, and fail build if this happens.
Eg: https://github.com/iiitv/algos/issues/274

[2017-06-20 03:08] aviaryan opened #333 "Naming issues in JavaScript files"
JavaScript files should follow a camelCase naming convention wherever possible.
Please fix the ones which don't do so.

PS - Use `git mv` for renaming.

[2017-06-20 06:54] aashutoshrathi commented on #333
- [x] Assign Me.

[2017-06-20 06:55] aashutoshrathi commented on #327
@Monal5031 fix the indentation in sub checks 😄

[2017-06-20 07:04] yashLadha opened #334 "Trie [CPP]"
#### This issue is about [Trie](https://en.wikipedia.org/wiki/Trie).
- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I w

[2017-06-20 07:08] aashutoshrathi commented on #334
@yashLadha Sir, Change `This issue is about [Algo/DS Name](link to resource for the [Algo/DS).]`
to `This issue is about [Trie](https://en.wikipedia.org/wiki/Trie).`
and remove `Trie` from next line.

[2017-06-20 07:21] #281 closed

[2017-06-20 07:43] #333 closed

[2017-06-20 08:02] aashutoshrathi commented on #332
Working Fine on my machine.

[2017-06-20 11:31] aviaryan commented on #250
PR #253 closed due to inactivity.

[2017-06-20 13:56] #313 closed

[2017-06-20 14:28] Monal5031 opened #340 "Longest Common Subsequence [Python]"
#### This issue is about [Longest Common Subsequence](http://www.geeksforgeeks.org/dynamic-programming-set-4-longest-common-subsequence/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x]

[2017-06-20 14:34] mohitkyadav opened #341 "Counting sort [Go]"
#### This issue is about [Counting Sort algorithm](http://www.geeksforgeeks.org/counting-sort/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] This Algo/DS is worth adding

[2017-06-20 15:02] rashinanwani opened #342 "Euclidean GCD [Golang]"
#### This issue is about [Euclidean GCD](https://en.wikipedia.org/wiki/Euclidean_algorithm).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2

[2017-06-21 09:36] Hsankesara opened #344 "Binary Search Tree [Python]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2017-06-21 09:38] Hsankesara commented on #344
please assign these issue to me.

[2017-06-21 11:37] mohitkyadav commented on #341
Please assign me to this issue.

[2017-06-21 14:01] Prakash2403 opened #345 "Gradient Descent [Python]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2017-06-22 03:07] #330 closed

[2017-06-22 05:59] #334 closed

[2017-06-22 08:51] yashLadha opened #346 "Sleep Sort [C++]"
#### This issue is about [Sleep Sort](http://www.geeksforgeeks.org/sleep-sort-king-laziness-sorting-sleeping/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not alr

[2017-06-22 09:29] #322 closed

[2017-06-22 09:33] Anshuman-Verma opened #347 "Largest Sum Contiguous Subarray [JavaScript]"
#### This issue is about [Largest Sum Contiguous Subarray](http://www.geeksforgeeks.org/largest-sum-contiguous-subarray/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I

[2017-06-22 10:33] Prakash2403 opened #350 "Neural Networks [Python]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2017-06-22 13:18] aashutoshrathi opened #352 "Incorrect Link for Dijkstra's algorithm in README.md"
### Reference Link of Dijkstra's algorithm in README.md is https://en.wikipedia.org/wiki/Dijkstra's_algorithm/ which redirects to no existing article, it needs to be changed to https://en.wikipedia.org/wiki/Dijkstra's_algorithm .

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [ ] This Algo/DS is worth adding to this repository.
- [x] I searched or browsed the repo’s other issues to ens

[2017-06-22 14:32] #327 closed

[2017-06-22 14:36] #296 closed

[2017-06-22 14:55] Anshuman-Verma opened #354 "Rod Cutting Problem [JavaScript]"
#### This issue is about [Rod Cutting Problem](http://www.geeksforgeeks.org/dynamic-programming-set-13-cutting-a-rod/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am

[2017-06-22 16:52] Lucifer24 opened #355 "Bin Sort [C]"
#### This issue is about [Bin Sort](http://www.geeksforgeeks.org/bucket-sort-2/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more iss

[2017-06-22 16:53] Lucifer24 commented on #355
[x] Assign this issue to me.

[2017-06-22 17:55] rashinanwani opened #356 "Merge Sort [Golang]"
#### This issue is about [Merge Sort](https://www.khanacademy.org/computing/computer-science/algorithms/merge-sort/a/overview-of-merge-sort).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	-

[2017-06-23 10:07] yashLadha opened #357 "Linear regression [Python]"
#### This issue is about [Linear regression](https://en.wikipedia.org/wiki/Linear_regression).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to

[2017-06-23 15:19] Monal5031 opened #359 "Heap Sort [Javascript]"
#### This issue is about [HeapSort](https://en.wikipedia.org/wiki/Heapsort).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.

[2017-06-24 07:09] aviaryan commented on #159
Done.

[2017-06-24 07:09] #159 closed

[2017-06-24 07:14] #340 closed

[2017-06-24 08:13] Anshuman-Verma commented on #347
@aviaryan assign me this.

[2017-06-24 10:11] Monal5031 commented on #332
@aviaryan please assign me this one.

[2017-06-24 10:53] #341 closed

[2017-06-24 10:55] #352 closed

[2017-06-24 14:58] yashLadha opened #366 "Fixing Travis for C++ [Threading]"
This Issue targets the PR #349 and also the upcoming PR's in C++, which uses threads. This compilation flag will resolve the errors in the tests in travis-ci currently. :smile:

[2017-06-24 15:34] aviaryan commented on #366
Please explain what the issue is and how it can be fixed.

[2017-06-24 15:36] yashLadha commented on #366
This issue is about the PR #349  , travis is flagging that thread flag hasn't passed during compilation, so i add it correcting the travis-ci issue of PR #349 . Hope it helps.

[2017-06-25 03:20] #366 closed

[2017-06-25 03:27] #323 closed

[2017-06-25 07:05] TarunISCO opened #368 "Floyd Warshall [Java]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2017-06-25 07:06] TarunISCO commented on #368
For description refer
http://www.geeksforgeeks.org/dynamic-programming-set-16-floyd-warshall-algorithm/

[2017-06-25 07:16] yashLadha commented on #368
Put this link in the Issue Template. Change the description from
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS). to
 #### This issue is about [Floyd Warshall](http://www.geeksforgeeks.org/dynamic-programming-set-16-floyd-warshall-algorithm/).

[2017-06-26 03:21] #332 closed

[2017-06-26 04:38] #346 closed

[2017-06-26 11:13] Monal5031 opened #373 "Longest Palindromic Substring [CPP]"
#### This issue is about [Longest Palindromic Substring](http://www.geeksforgeeks.org/longest-palindrome-substring-set-1/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that

[2017-06-26 15:40] aashutoshrathi opened #374 "Linked List [Python]"
#### This issue is about [Linked List](https://en.wikipedia.org/wiki/Linked_list).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more is

[2017-06-26 19:33] rashinanwani opened #375 "Merge Sort [Javascript]"
#### This issue is about [Merge Sort](https://www.khanacademy.org/computing/computer-science/algorithms/merge-sort/a/overview-of-merge-sort).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	-

[2017-06-26 19:34] aashutoshrathi commented on #375
@rashinanwani untick `I ensure that I am not already assigned to 2 or more issues.`
As you are already assigned to 2 issues.

[2017-06-27 02:52] S2606 opened #377 "Linked List [C++]"
#### This issue is about [Linked List](https://en.wikipedia.org/wiki/Linked_list).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more is

[2017-06-27 07:53] #354 closed

[2017-06-27 07:58] #359 closed

[2017-06-27 08:02] Anshuman-Verma opened #378 "Counting Sort [JavaScript]"
#### This issue is about [Counting Sort](http://www.geeksforgeeks.org/counting-sort/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or mor

[2017-06-27 15:21] S2606 commented on #377
@aviaryan @singhpratyush Can you please assign this to me ?

[2017-06-27 16:43] Monal5031 opened #380 "Longest Palindromic Substring [Python]"
#### This issue is about [Longest Palindromic Substring](http://www.geeksforgeeks.org/longest-palindrome-substring-set-1/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that

[2017-06-28 07:56] aashutoshrathi opened #383 "Linked List [JavaScript]"
#### This issue is about [Linked List](https://en.wikipedia.org/wiki/Linked_list).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more is

[2017-06-28 08:37] #342 closed

[2017-06-28 13:57] Anshuman-Verma commented on #347
@aviaryan assign me this.

[2017-06-29 10:45] #357 closed

[2017-06-29 10:47] #195 closed

[2017-06-29 12:27] yashLadha opened #384 "Support Vector Machine [Python]"
#### This issue is about [Support vector machine](https://en.wikipedia.org/wiki/Support_vector_machine).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already as

[2017-06-29 19:46] Prakash2403 commented on #350
Please don't close this issue. I was busy with something else. I will send a PR within three days.

[2017-07-01 06:22] #356 closed

[2017-07-01 06:25] #347 closed

[2017-07-01 06:38] #73 closed

[2017-07-01 07:30] #378 closed

[2017-07-01 11:13] Anshuman-Verma opened #387 "Insertion Sort [JavaScript]"
#### This issue is about [Insertion Sort](https://en.wikipedia.org/wiki/Insertion_sort).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or m

[2017-07-01 11:15] Anshuman-Verma opened #388 "Longest Common Subsequence [JavaScript]"
#### This issue is about [Longest Common Subsequence](http://www.geeksforgeeks.org/dynamic-programming-set-4-longest-common-subsequence).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x]

[2017-07-01 15:12] jsroyal opened #391 "Shell Sort [Java]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [X] Issue Title is in form `Algo/DS Name [Language]`.
- [X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This Algo/DS is worth adding to this repository.
- [X] Assign this issue to me (I want to work on this).
	- [X] I ensure that I am not already assigned to 2 or more issues.
-

[2017-07-01 15:14] jsroyal commented on #391
does it mean to wait to assign?

[2017-07-04 01:53] #380 closed

[2017-07-04 02:00] #374 closed

[2017-07-04 11:53] Monal5031 opened #396 "Longest Palindromic Substring [Java]"
#### This issue is about [Longest Palindromic Substring](http://www.geeksforgeeks.org/longest-palindrome-substring-set-1/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that

[2017-07-06 08:25] #387 closed

[2017-07-06 08:28] #373 closed

[2017-07-06 12:22] Monal5031 opened #398 "Radix Sort [Python]"
#### This issue is about [Radix Sort](www.geeksforgeeks.org/radix-sort/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [

[2017-07-08 05:11] Anshuman-Verma opened #400 "Longest Palindromic Substring [JavaScript]"
#### This issue is about [Longest Palindromic Substring](http://www.geeksforgeeks.org/longest-palindrome-substring-set-1/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that

[2017-07-09 07:55] aashutoshrathi opened #402 "Changing Folder name of Quick Sort"
#### Folder name of Quick Sort should be `quick_sort` instead of `quicksort`, as we followed that style in naming other folders. Also Entry in README.md has name as `Quicksort` instead of `Quick Sort`

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.

[2017-07-09 14:01] Monal5031 opened #403 "Modify Longest Palindromic Substring [CPP]"
The Algo can be implemented in a better way like the `python` implementation consuming less space.

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned

[2017-07-09 17:19] rashinanwani opened #405 "Quicksort [Javascript]"
#### This issue is about [Quicksort](https://en.wikipedia.org/wiki/Quicksort).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues

[2017-07-12 07:56] #388 closed

[2017-07-15 14:20] Anshuman-Verma opened #406 "Remove an obsolete point from CONTRIBUTING.md"
We need to take off an obsolete point in [Improving an Implementation](https://github.com/iiitv/algos/blob/master/CONTRIBUTING.md#improving-an-implementation)

 which is no longer valid.

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign t

[2017-07-15 14:24] Anshuman-Verma opened #407 "Comment indentation fix Trie[CPP]"
#### This issue is about [Trie](https://en.wikipedia.org/wiki/Trie).
Refers to Line 60 and 86 in [Trie[CPP]](https://github.com/iiitv/algos/blob/master/trie/trie.cpp)
- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I wa

[2017-07-15 17:23] #407 closed

[2017-07-16 02:22] #406 closed

[2017-07-17 07:57] #383 closed

[2017-07-17 07:59] #398 closed

[2017-07-17 08:03] aashutoshrathi commented on #402
Maintainers,
If issue is not necessary please close it.

[2017-07-17 14:10] singhpratyush commented on #402
@aashutoshrathi: Please proceed with the corrections.

[2017-07-18 05:46] jsroyal commented on #29
Should I send PR?

[2017-07-18 06:58] aashutoshrathi opened #415 "Coin Change Problem [GoLang]"
#### This issue is about [Coin Change Problem](http://www.algorithmist.com/index.php/Coin_Change).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned

[2017-07-18 07:05] aashutoshrathi opened #416 "Fixing Travis Build Fail in linkedList.js"
#### This issue is about Travis Build.
[code]
*Due to this, Travis Build of other PRs are failing. This issue was not raised by Travis in it's own PR.*

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on

[2017-07-18 07:33] aashutoshrathi commented on #415
I think this should be handled after #416

[2017-07-18 13:52] Anshuman-Verma commented on #416
:angry:

[2017-07-18 14:18] #416 closed

[2017-07-18 14:20] #402 closed

[2017-07-18 14:31] #355 closed

[2017-07-18 15:52] aashutoshrathi opened #419 "Rename Coin Change Problem [Java]"
#### This issue is about **Renaming `CoinChange.java` to `CoinChangeProblem.java`**.
![coinch](https://user-images.githubusercontent.com/21199234/28326677-0fa8e81a-6bff-11e7-97d9-3cb295ae267a.JPG)

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x

[2017-07-18 17:41] Monal5031 commented on #403
@aviaryan @singhpratyush Please assign me this one.

[2017-07-19 18:20] jsroyal opened #420 "Test case failed Largest Sum Contiguous Subarray"
I checked only in [Java](https://github.com/iiitv/algos/blob/master/largest_sum_contiguous_subarray/LargestSumContiguousSubarray.java)

The test case failed is
input :   -2 5 -1
Output: 3
expected output: 5

[2017-07-19 18:30] jsroyal commented on #420
In C also [one test code failed ](https://github.com/iiitv/algos/blob/master/largest_sum_contiguous_subarray/largestSumContiguousSubarray.c)
The test case failed is
Input: 1, 2, -1, 3
Existing code Output:  3
Expected output:  5

[2017-07-24 11:16] #375 closed

[2017-07-29 10:12] HarshKhatore opened #422 "Segment Tree [C]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2017-07-30 18:14] #391 closed

[2017-07-31 06:45] Monal5031 commented on #422
Update the links in issue description @HarshKhatore

[2017-07-31 06:45] Monal5031 commented on #391
@jsroyal Why did you close this one?

[2017-07-31 09:39] jsroyal commented on #391
@Monal5031 It is done. And merged into master.

[2017-08-02 12:00] HarshKhatore opened #423 "Knuth–Morris–Pratt [C++]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2017-08-02 14:35] mohitkyadav commented on #423
@HarshKhatore add info about Algo/DS and link to resource for Algo/DS

[2017-08-03 15:33] #415 closed

[2017-08-09 11:31] #396 closed

[2017-08-09 11:43] #400 closed

[2017-08-15 05:51] hloeffler opened #427 "Sleep Sort [Golang]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
        - it uses channels
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assig

[2017-08-15 15:12] mohitkyadav opened #428 "Add badges to README.md"
- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [X] Assign this issue to me (I want to work on this).
	- [X] I ensure that I am not already assigned to 2 or more issues.
- [X] I will send my PR only after I'm assigned to this issue by any maintaine

[2017-08-15 15:25] #428 closed

[2017-08-15 18:28] #427 closed

[2017-08-16 05:56] mohitkyadav opened #431 "Shell Sort [C#]"
#### This issue is about [Shell Sort](https://en.wikipedia.org/wiki/Shellsort).

- [X] Issue Title is in form `Algo/DS Name [Language]`.
- [X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This Algo/DS is worth adding to this repository.
- [X] Assign this issue to me (I want to work on this).
	- [X] I ensure that I am not already assigned to 2 or more issue

[2017-08-16 05:58] mohitkyadav opened #432 "Binary Search [C#]"
#### This issue is about [Binary Search](https://en.wikipedia.org/wiki/Binary_search_algorithm).

- [X] Issue Title is in form `Algo/DS Name [Language]`.
- [X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This Algo/DS is worth adding to this repository.
- [X] Assign this issue to me (I want to work on this).
	- [X] I ensure that I am not already assigned t

[2017-08-16 08:54] Monal5031 opened #434 "Change color of badge in README"
The `Open source` and `License` badge in README needs a color change, as white is not visible.
- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2

[2017-08-16 08:57] Monal5031 opened #435 "Randomize pivot in quicksort [Java]"
Median function is missing in java implementation of quicksort.
- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will s

[2017-08-16 09:01] Monal5031 opened #436 "Condition is not fully correct in quicksort [Python]"
Consider this case `arr[k]>arr[i]>arr[j]` in which arr[i] should be median but we get arr[k] as median instead.

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not alr

[2017-08-16 09:03] Monal5031 opened #437 "Randomize pivot in quicksort [C]"
Median function needs to be added in C implementation of quicksort.

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
- [ ] I w

[2017-08-16 13:26] mohitkyadav commented on #434
on it.

[2017-08-16 15:06] Mangu93 commented on #27
Can I be assigned this one and Depth First Traversal?

[2017-08-16 15:08] singhpratyush commented on #27
@Mangu93: Please proceed. Thanks :)

[2017-08-16 15:58] Mangu93 commented on #27
I'll send the PR tomorrow, if you don't mind :)

[2017-08-16 17:56] aashutoshrathi opened #440 "Add Sample Code for C# in CONTRIBUTING.md"
#### This issue is about updating Sample Codes.

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR only

[2017-08-16 18:31] aashutoshrathi opened #441 "Add CSharpLintBear to .coafile"
#### This issue is about adding `CSharpLintBear`.

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR onl

[2017-08-17 05:29] Lucifer24 opened #442 "Insertion Sort [C#]"
#### This issue is about [Insertion Sort](http://www.sanfoundry.com/csharp-program-insertion-sort/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assign

[2017-08-17 06:00] Monal5031 commented on #442
GFI @Lucifer24

[2017-08-17 08:37] jsroyal opened #444 "Fibonacci Number [Java]"
#### This issue is about [Fibonacci Number](http://www.geeksforgeeks.org/program-for-nth-fibonacci-number/).

- [X] Issue Title is in form `Algo/DS Name [Language]`.
- [X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This Algo/DS is worth adding to this repository.
- [X] Assign this issue to me (I want to work on this).
	- [X] I ensure that I am not alread

[2017-08-17 09:25] aashutoshrathi commented on #444
Change this #### This issue is about [Algo/DS Name](link to resource for the Algo/DS).
 to #### This issue is about [Fibonacci Number](http://www.geeksforgeeks.org/program-for-nth-fibonacci-number/).

[2017-08-17 11:41] #405 closed

[2017-08-17 12:43] shivamsaboo17 opened #446 "Logistic Regression [Python]"
#### This issue is about [Logistic Regression](http://machinelearningmastery.com/logistic-regression-tutorial-for-machine-learning/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I en

[2017-08-18 14:48] #434 closed

[2017-08-18 19:55] domgetter opened #450 "Update Binary Search [C]"
There is a bug in the (nonrecursive) binary search algorithm implemented in C.

If the number of elements in the array is larger than `MAX_INT / 2`, and the target element has an index greater than `MAX_INT / 2`, the function will fail to find the element due to integer overflow.

The offending line is [here](https://github.com/iiitv/algos/blob/f55b97c0702e5416ecda62b33fabd69eb2b2174f/binary_searc

[2017-08-19 09:49] Monal5031 opened #451 "Add a code of conduct for the repository."
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
-

[2017-08-19 09:56] mohitkyadav commented on #451
@Monal5031 You are already assigned to 2 issues, please uncheck relevent points.

[2017-08-19 18:46] aashutoshrathi opened #454 "Add How to run them for C#"
#### This issue is about updating How to run them.

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
- [ ] I will send my PR on

[2017-08-20 06:03] Monal5031 commented on #454
Also the tests need to be updated to execute c# files.

[2017-08-20 07:39] #450 closed

[2017-08-22 11:16] Monal5031 commented on #422
@HarshKhatore Unassigned you due to inactivity, Please get it reassigned if you wish to send a PR.

[2017-08-22 11:17] Monal5031 commented on #423
unassigned @HarshKhatore due to inactivity, please get it reassigned if you wish to send a PR.

[2017-08-24 13:28] #441 closed

[2017-08-24 13:29] #440 closed

[2017-08-24 13:32] #29 closed

[2017-09-04 09:00] aashutoshrathi commented on #454
Anyone who can work on this?

[2017-09-04 13:58] mohitkyadav commented on #454
I would like to work on this. after #433 is merged.

[2017-09-07 06:43] #454 closed

[2017-09-07 06:46] singhpratyush opened #456 "Remove issues pointed by Codacy"
#### This issue is about [Codacy code check issues](https://www.codacy.com/app/iiitv/algos/dashboard).

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assi

[2017-09-07 07:05] #431 closed

[2017-09-07 07:27] aashutoshrathi commented on #456
- [x] Assign this issue to me ( I can work on this).

[2017-09-07 09:01] aashutoshrathi opened #459 "Adding C# section in .editorconfig"
#### This issue is about adding C# to editorconfig.

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR o

[2017-09-07 09:10] singhpratyush commented on #446
@shivamsaboo17: Are you working on this?

[2017-09-07 09:54] #459 closed

[2017-09-07 20:13] aashutoshrathi opened #462 "Travis Build Failure due to Coala installation"
#### This issue is about Travis Build Failure.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
[code]

[2017-09-08 11:17] #462 closed

[2017-09-08 11:31] #179 closed

[2017-09-08 17:58] aashutoshrathi opened #464 "Travis Build Failing due to unexpected reason."
#### This issue is about Travis Build Failure.

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.

[2017-09-10 09:44] #464 closed

[2017-09-10 10:09] #403 closed

[2017-09-10 10:45] aashutoshrathi opened #466 "Change in C# Sample Code to avoid Travis Failure"
#### This issue is about Changing C# Sample Code.

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR onl

[2017-09-10 18:56] #432 closed

[2017-09-10 19:34] #442 closed

[2017-09-10 19:38] Lucifer24 opened #468 "Euclidean GCD [C#]"
#### This issue is about [Euclidean GCD](http://www.geeksforgeeks.org/basic-and-extended-euclidean-algorithms/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not al

[2017-09-11 07:47] #466 closed

[2017-09-13 08:57] #435 closed

[2017-09-19 20:36] #468 closed

[2017-10-01 14:51] aashutoshrathi commented on #419
Ping @iiitv/algos-support

[2017-10-01 14:54] aashutoshrathi commented on #350
@Prakash2403 Sir, on it?

[2017-10-01 14:55] aashutoshrathi commented on #446
Ping @shivamsaboo17

[2017-10-01 16:34] DimaMukhin opened #470 "Linear Search [C#]"
#### This issue is about [Linear Search](https://en.wikipedia.org/wiki/Linear_search).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or mor

[2017-10-01 16:35] ravijha77 commented on #350
Which neural Network is it exactly and what is it implementing.. can you
make yhe the title specific

On 01-Oct-2017 8:24 PM, "Aashutosh Rathi" <notifications@github.com> wrote:

[2017-10-01 17:44] Prakash2403 commented on #350
@aashutoshrathi Sorry, I am busy right now. Please assign this issue to someone else.

[2017-10-01 18:50] #419 closed

[2017-10-01 21:01] Monal5031 commented on #451
@singhpratyush Sir shall I proceed with this one? I cannot see the `community` button under insights, is it possible that only owner can see it, as I'm able to see it in ChefLib.

[2017-10-01 23:13] DimaMukhin opened #473 "Merge Sort [C#]"
#### This issue is about [Merge Sort](https://www.khanacademy.org/computing/computer-science/algorithms/merge-sort/a/overview-of-merge-sort).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	-

[2017-10-01 23:24] devshiva619 commented on #456
@singhpratyush Hey I would like to work on this

[2017-10-01 23:25] devshiva619 commented on #437
@Monal5031 I would like to work on this issue

[2017-10-01 23:27] Monal5031 commented on #437
Okay @devshiva619 GFI.

[2017-10-01 23:52] devshiva619 commented on #456
@Monal5031 can I go on with this one ?

[2017-10-02 00:13] kabiir commented on #344
First time open source contributor! assign this to me please. And i will be using python3.

[2017-10-02 00:46] devshiva619 commented on #456
@singhpratyush @Monal5031 I am with rectifying the issues showed in Codacy. If you assign it to me then I will send the PR as mentioned above. :smiley:

[2017-10-02 02:36] ransty opened #474 "LinkedList [C#]"
#### This issue is about [Linked List](https://en.wikipedia.org/wiki/Linked_list).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more is

[2017-10-02 02:37] ransty commented on #474
:+1:

[2017-10-02 04:45] AkshGautam commented on #473
Assign this issue to me (I want to work on this).

[2017-10-02 04:53] aashutoshrathi commented on #473
@AkshGautam, @DimaMukhin is already assigned to this one, explore other issues on the repository.

[2017-10-02 05:52] ransty opened #476 "Breadth First Search [Python]"
#### This issue is about [Breadth First Search]https://en.wikipedia.org/wiki/Breadth-first_search).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigne

[2017-10-02 05:55] aashutoshrathi commented on #476
Change
[code]
to

[code]
Also tick the points which apply like last 2.

[2017-10-02 06:09] singhpratyush commented on #476
Duplicate #27.

[2017-10-02 06:09] #476 closed

[2017-10-02 06:14] singhpratyush commented on #456
@devshiva619: Please proceed with the issue.

[2017-10-02 06:15] singhpratyush commented on #344
@kabiir: Please proceed with the issue. Thanks.

[2017-10-02 06:16] singhpratyush commented on #451
@Monal5031: Please proceed with the issue. Thanks.

[2017-10-02 06:18] #470 closed

[2017-10-02 08:44] devshiva619 commented on #456
@singhpratyush Hey should I send the PR. But I have not been assigned yet, will it be fine?

[2017-10-02 10:15] singhpratyush commented on #456
@devshiva619: Yes. Please proceed.

[2017-10-02 13:09] bunyy commented on #473
Add me for solving this issue

[2017-10-02 13:11] Monal5031 commented on #473
@bunyy  Sorry but this issue is already assigned to @DimaMukhin  please go through other issues in the repo. You will surely find more.

[2017-10-02 14:06] manish1997 opened #478 "Algo/largest_sum_contiguous_subarray [C++]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
-

[2017-10-02 14:07] manish1997 commented on #423
I would like to contribute in this. Assign it to me :)

[2017-10-02 14:09] manish1997 commented on #28
Explain it with some problem? I can do that.. If you can come up with required format, I can write on this.

[2017-10-02 16:16] kabiir commented on #344
@singhpratyush  So i'm new to this so please review my process:
1. Fork this repo
2. Clone the forked version
3. create a new branch BTS-in-python
5. add binary_search_tree.py to /binary_search_tree/ folder
6.update repo readme and tick mark BTS in python
7. commit changes with sensible commit msg : "Added BTS [python]"
8.push changes
9.create a pull request
10. Now you will take over from here.

[2017-10-02 18:59] sirjan13 commented on #28
Can I write the editorial for www.spoj.com/problems/DQUERY. IT will very well explain MO's algorithm

[2017-10-02 19:01] sirjan13 opened #481 "Ternary Search [C++]"
#### This issue is about [Ternary Search](https://en.wikipedia.org/wiki/Ternary_search).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I ensure that I am not already assigned to 2 or mo

[2017-10-02 19:04] sirjan13 opened #482 "Binary Indexed Trees [C++]"
#### This issue is about [Binary Indexed Trees](https://www.topcoder.com/community/data-science/data-science-tutorials/binary-indexed-trees).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [

[2017-10-02 21:18] kkoruev commented on #143
Hi, I want to contribute to this project starting with this issue. Could you assign me to this issue?

[2017-10-02 21:40] vish21 commented on #177
Can you assign this to me?

[2017-10-02 22:35] j-haj commented on #436
I'm happy to take a look at this

[2017-10-03 06:42] singhpratyush commented on #177
@vish21: Please proceed with the issue. Thanks.

[2017-10-03 06:42] singhpratyush commented on #143
@kkoruev: Please proceed with the issue. Thanks.

[2017-10-03 06:54] singhpratyush commented on #28
@sirjan13: This sounds good. Please make a pull request and we can discuss more over there. Thanks.

[2017-10-03 06:57] singhpratyush commented on #344
@kabiir: Yes, the process looks good.

[2017-10-03 06:57] manish1997 commented on #28
@singhpratyush I asked you something too :)

[2017-10-03 06:58] singhpratyush commented on #423
@manish1997: Please proceed with the issue. Thanks.

[2017-10-03 07:02] manish1997 opened #485 "Algo/segmented_sieve_of_eratosthenes [C++]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2017-10-03 07:02] singhpratyush commented on #28
@manish1997: I am extremely sorry about that.

What problem are you planning to discuss?

[2017-10-03 07:03] singhpratyush commented on #485
@manish1997: Please add proper link to the issue description.

[2017-10-03 07:04] manish1997 commented on #28
Powerful Array Codeforces or Dquery (@sirjan13 can make on this now)

[2017-10-03 07:15] singhpratyush commented on #28
We can have both the solutions in a single file for this.

We will have to resolve conflicts in between, but that's alright.

@manish1997 @sirjan13: Please come up with a structure on which both of you can extend your solutions.

[2017-10-03 07:46] manish1997 commented on #485
@singhpratyush link to issue description? Link of resources?

[2017-10-03 08:44] sirjan13 commented on #481
Am i assigned this?

[2017-10-03 08:50] sirjan13 commented on #28
We can have a folder named Square Root Decomposition which can have a subfolder of MO's Algorithm and it can have both the solutions.More Implementations for Square root Decomposition could further be added in the same sub folder

[2017-10-03 08:51] Monal5031 commented on #481
@sirjan13 GFI 👍

[2017-10-03 09:08] manish1997 opened #488 "Algo/LongestIncreasingSubsequence"
I would like to add O(nlogn) implementation of Longest Increasing Subsequence in an array.
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).
http://codeforces.com/blog/entry/12274
- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repositor

[2017-10-03 09:16] Monal5031 commented on #488
@manish1997 Please edit the PR description properly. You missed the `This issue is about [Algo/DS Name](link to resource for the Algo/DS).` where you have to write the name and link of the algo.

[2017-10-03 09:25] Monal5031 commented on #451
@singhpratyush sir any particular email address which I should fill in the CODE_OF_CONDUCT.md?

[2017-10-03 10:44] manish1997 commented on #488
@Monal5031 amended.

[2017-10-03 13:59] #456 closed

[2017-10-03 17:39] ashutosh-wad opened #490 "SleepSort [Java]"
#### This issue is about adding a SleepSort implementation in Java.

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [ ] I w

[2017-10-04 01:41] DimaMukhin opened #493 "Quick Sort [C#]"
#### This issue is about [Quick Sort](https://en.wikipedia.org/wiki/Quicksort).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issue

[2017-10-04 09:02] ribhav-pahuja commented on #444
I want to work on this.

[2017-10-04 09:16] mohitkyadav commented on #488
@manish1997 Please go ahead.

[2017-10-04 15:24] devshiva619 commented on #437
@Monal5031 can I rewrite the whole program, rather than just writing the randomized function.

[2017-10-04 17:31] gunanksood opened #495 "Stack [CPP]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
-

[2017-10-04 17:50] gunanksood commented on #495
This issue is about <strong> Stack</strong>
I would like to add Implementation of <strong>Stack Data Structure </strong>in <strong> C++ </strong>.
A basic information about Stack is given in this link
<strong> http://www.geeksforgeeks.org/stack-data-structure-introduction-program/  </strong>

[2017-10-04 17:52] gunanksood commented on #495
please assign this <b>issue</b> to me. and please add the required <b>labels</b>.

[2017-10-05 05:52] #473 closed

[2017-10-05 05:57] singhpratyush commented on #493
@sebasrp: It is already assigned to @DimaMukhin. You can take a look at other issues. Thanks.

[2017-10-05 06:04] singhpratyush commented on #437
@devshiva619: If there is a bug or scope of optimisation in other parts of the current implementation, you can rewrite them.

[2017-10-05 06:11] singhpratyush commented on #444
@ribhav-pahuja: @jsroyal is already working on it. You can check other issues in this repository.

[2017-10-05 06:19] singhpratyush commented on #451
Please avoid it if it is optional.

[2017-10-05 09:16] gunanksood commented on #495
Why to make a copy Constructor in Stack implementation?

[2017-10-05 09:17] gunanksood commented on #495
#497

[2017-10-06 06:02] sils opened #500 "GitMate breaks down"
Hi,

I'm one of the GitMate maintainers and I saw in our logs that you're using it because we got an error there.

Apparently coala times out, seems to be taking longer than 10 minutes - does it take that long locally?

CC @nkprince007 @fneu from GitMate as well, hope we can fix it

[2017-10-06 06:02] singhpratyush commented on #500
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-10-06 06:02] singhpratyush commented on #500
The contributors most likely able to help are:

@singhpratyush

[2017-10-06 06:33] sils commented on #500
ok this is an issue on our side, we think we've found it and deploying a fix within the next minutes

[2017-10-06 06:38] riktimmondal commented on #490
i would like to work on this

[2017-10-06 06:42] riktimmondal commented on #482
can i work on it?

[2017-10-06 07:21] sils commented on #500
We've released our hotfix, sorry for the disturbance; do let us know if we can do anything else to make GitMate better for you!

[2017-10-06 07:21] #500 closed

[2017-10-06 08:12] #474 closed

[2017-10-06 08:23] #436 closed

[2017-10-06 08:27] singhpratyush commented on #490
@riktimmondal: @ashutosh-wad is already working on it. You can take a look at other issues or create a new one and work on it.

[2017-10-06 08:30] singhpratyush commented on #482
@sirjan13: Since you are already working on #481, is it okay if @riktimmondal takes this?

[2017-10-06 10:57] devshiva619 commented on #377
@S2606 what do you want to be done in this issue?

[2017-10-06 11:21] S2606 commented on #377
@devshiva619 If you wanna do this, you can go ahead.. 👍

[2017-10-06 11:40] devshiva619 commented on #377
@S2606 I would surely work but I am not able to understand what work is to be done? Tell me the work to be done and I will start with this issue.

[2017-10-06 18:54] franetheman opened #501 "Stack [C#]"
#### This issue is about [Stack.](http://www.cdn.geeksforgeeks.org/stack-data-structure-introduction-program/)

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not alre

[2017-10-06 18:54] singhpratyush commented on #501
The contributors most likely able to help are:

@singhpratyush

[2017-10-06 18:57] franetheman commented on #501
@singhpratyush Could you assign me to it as well?

[2017-10-06 19:05] singhpratyush commented on #501
@franetheman: Done. Please proceed with the issue.

[2017-10-07 00:33] DimaMukhin opened #503 "Bug in C# sample code from CONTRIBUTING.md"
#### This issue is about a bug in the C# sample code from the [CONTRIBUTING.md](https://github.com/iiitv/algos/blob/master/CONTRIBUTING.md) file.

The sample code is wrong for C# and will produce the following error:
"'QuickSort': member names cannot be the same as their enclosing type"
This can be easily fixed by changing the method "QuickSort" into "DoQuickSort"

- [ ] Issue Title is in form `Al

[2017-10-07 00:33] singhpratyush commented on #503
The contributors most likely able to help are:

@aashutoshrathi

[2017-10-07 07:45] singhpratyush commented on #503
@mohitkyadav @aashutoshrathi: Please see if we need to make this change.

[2017-10-07 16:22] jennifertran opened #506 "LinkedList [Ruby]"
#### This issue is about [LinkedList](https://en.wikipedia.org/wiki/Linked_list).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more iss

[2017-10-07 16:22] singhpratyush commented on #506
The contributors most likely able to help are:

@aashutoshrathi

Possible duplicate or related issues are:

- #374: Linked List [Python]
- #383: Linked List [JavaScript]
- #474: LinkedList [C#]
- #428: Add badges to README.md

[2017-10-07 18:23] mohitkyadav commented on #506
@jennifertran Please proceed with this issue.

[2017-10-07 18:29] mohitkyadav commented on #503
Yes @singhpratyush this change is needed. @DimaMukhin Please proceed with this issue.

[2017-10-07 18:31] aashutoshrathi commented on #503
Yes, @singhpratyush this change is needed.

[2017-10-08 05:47] #503 closed

[2017-10-08 05:49] #493 closed

[2017-10-08 05:57] #490 closed

[2017-10-08 06:08] singhpratyush commented on #490
@ashutosh-wad: Thanks for contributing.

Can you change other implementations in the similar way where the sleep time is scaled according to numbers?

[2017-10-08 21:38] sebasrp opened #508 "Stack [Java]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2017-10-08 21:38] singhpratyush commented on #508
The contributors most likely able to help are:

@manish1997

Possible duplicate or related issues are:

- #345: Gradient Descent [Python]
- #478: Algo/largest_sum_contiguous_subarray [C++]
- #391: Shell Sort [Java]
- #428: Add badges to README.md
- #427: Sleep Sort [Golang]

[2017-10-08 21:40] sebasrp commented on #508
discard - this is actually already implemented.
Main table in readme is not complete

[2017-10-08 21:40] #508 closed

[2017-10-08 21:42] sebasrp opened #509 "Queue [Java]"
#### This issue is about [Queue](http://www.cdn.geeksforgeeks.org/stack-data-structure-introduction-program/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not alre

[2017-10-08 21:42] singhpratyush commented on #509
The contributors most likely able to help are:

@manish1997

Possible duplicate or related issues are:

- #345: Gradient Descent [Python]
- #478: Algo/largest_sum_contiguous_subarray [C++]
- #391: Shell Sort [Java]
- #428: Add badges to README.md
- #427: Sleep Sort [Golang]

[2017-10-08 21:44] sebasrp opened #510 "Queue [Python]"
#### This issue is about [Queue](http://www.cdn.geeksforgeeks.org/stack-data-structure-introduction-program/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not alre

[2017-10-08 21:45] singhpratyush commented on #510
The contributors most likely able to help are:

@manish1997

Possible duplicate or related issues are:

- #345: Gradient Descent [Python]
- #478: Algo/largest_sum_contiguous_subarray [C++]
- #391: Shell Sort [Java]
- #428: Add badges to README.md
- #427: Sleep Sort [Golang]

[2017-10-08 22:05] manish1997 commented on #488
@mohitkyadav  any update?

[2017-10-09 07:55] singhpratyush commented on #509
@sebasrp: Please put a proper link in the description. Use the space provided.

@mohitkyadav: Gitmate is strangely marking all issues as `Algorithm`, sorry about that. Will try to resolve it.

[2017-10-09 11:09] aashutoshrathi opened #512 "Add Ruby Bears to Repository"
#### This issue is about Enhancements.

- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR only after I'm assigned to this issue by any maintainer.
- [x] I understand that I will be unassigned from this issue if I fail to send a PR for this within a week.

[2017-10-09 11:09] singhpratyush commented on #512
The contributors most likely able to help are:

@aashutoshrathi

[2017-10-09 19:58] aashutoshrathi opened #513 "Add Ruby config in .editorconfig"
#### This issue is about Enhancements.

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR only after I'm

[2017-10-09 19:58] singhpratyush commented on #513
The contributors most likely able to help are:

@aashutoshrathi

Possible duplicate or related issues are:

- #428: Add badges to README.md
- #459: Adding C# section in .editorconfig

[2017-10-10 04:09] gunanksood commented on #495
@singhpratyush @mohitkyadav  you need any changes in the code? Please merge #497

[2017-10-10 06:29] singhpratyush commented on #513
Please add it in #514.

[2017-10-10 06:32] #501 closed

[2017-10-10 08:24] mohitkyadav commented on #495
Please make respective entry in README file.

[2017-10-10 19:32] Prakash2403 opened #517 "Issue in stack(C#) implementation"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
-

[2017-10-10 19:54] aashutoshrathi opened #518 "Add Ruby sample code and How to run them"
#### This issue is about Adding Ruby Sample codes and how to run.

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
- [ ] I wil

[2017-10-10 22:11] devshiva619 commented on #446
@shivamsaboo17 @singhpratyush can I work on this?

[2017-10-10 23:14] devshiva619 commented on #377
@S2606 can you please tell what's need to be done so that I can proceed with the work

[2017-10-11 10:47] Monal5031 commented on #377
@devshiva619 You have to implement Linked List in `cpp`.

[2017-10-11 11:06] Monal5031 commented on #517
Yes @Prakash2403 sir, definitely a bug 😄

[2017-10-11 13:31] #451 closed

[2017-10-11 13:39] singhpratyush commented on #517
@franetheman: Would you like to fix this?

[2017-10-11 18:51] devshiva619 commented on #377
@Monal5031 thanks for help :)

[2017-10-11 23:39] Muwbi opened #519 "AVL Tree [C]"
#### This issue is about [AVL Tree](https://en.wikipedia.org/wiki/AVL_tree).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.

[2017-10-11 23:39] singhpratyush commented on #519
The contributors most likely able to help are:

@Monal5031

[2017-10-12 09:32] Monal5031 commented on #517
@Prakash2403 Sir would you take this otherwise lets label this `up for grabs`

[2017-10-12 11:59] Muwbi opened #524 "AVL Tree [JavaScript]"
#### This issue is about [AVL Tree](https://en.wikipedia.org/wiki/AVL_tree).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.

[2017-10-12 11:59] singhpratyush commented on #524
The contributors most likely able to help are:

@singhpratyush

Possible duplicate or related issues are:

- #519: AVL Tree [C]

[2017-10-12 12:00] Batschkoto opened #525 "Prims [JavaScript]"
#### This issue is about [Prims](https://en.wikipedia.org/wiki/Prim%27s_algorithm)

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more is

[2017-10-12 12:00] singhpratyush commented on #525
The contributors most likely able to help are:

@Monal5031

Possible duplicate or related issues are:

- #345: Gradient Descent [Python]
- #478: Algo/largest_sum_contiguous_subarray [C++]
- #428: Add badges to README.md
- #328: Issue template has a unnecessary tabpsace in point 5.
- #391: Shell Sort [Java]

[2017-10-12 12:26] Batschkoto commented on #525
@singhpratyush Could you please add the Hacktoberfest label to the issue?

[2017-10-12 13:17] Sergobot opened #526 "Bin Sort [Go]"
#### This issue is about [Bin Sort](http://www.geeksforgeeks.org/bucket-sort-2/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more iss

[2017-10-12 13:17] singhpratyush commented on #526
The contributors most likely able to help are:

@Monal5031

Possible duplicate or related issues are:

- #355: Bin Sort [C]
- #428: Add badges to README.md

[2017-10-12 13:53] praffn opened #527 "Binary Search Tree [Go]"
#### This issue is about [Binary Search Tree](https://en.wikipedia.org/wiki/Binary_search_tree).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned t

[2017-10-12 13:54] singhpratyush commented on #527
The contributors most likely able to help are:

@Monal5031

[2017-10-12 14:36] sathiyaseelan opened #528 "Breadth First Search Implementation [Ruby]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).
Breadth First Search implementation in ruby

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am

[2017-10-12 14:36] singhpratyush commented on #528
The contributors most likely able to help are:

@singhpratyush

[2017-10-12 14:36] sathiyaseelan commented on #528
Once this is done, I would like to work on other Graph related data structures

[2017-10-12 14:42] sathiyaseelan opened #529 "Depth First Search [Ruby]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).
Depth First Search of Graph in Ruby

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not alre

[2017-10-12 14:42] singhpratyush commented on #529
The contributors most likely able to help are:

@singhpratyush

Possible duplicate or related issues are:

- #345: Gradient Descent [Python]

[2017-10-12 15:14] devshiva619 commented on #377
@Monal5031 so do I need to have same function names as other programs?

[2017-10-12 15:36] gfredtech opened #530 "Radix Sort [Java]"
#### This issue is about [RadixSort](https://en.wikipedia.org/wiki/Radix_sort).

- [x] Issue Title is in form `Radix Sort[Java]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x

[2017-10-12 15:36] singhpratyush commented on #530
The contributors most likely able to help are:

@Monal5031

Possible duplicate or related issues are:

- #398: Radix Sort [Python]

[2017-10-12 15:38] singhpratyush commented on #525
@Batschkoto: Done :)

[2017-10-12 19:07] Prakash2403 commented on #517
@Monal5031 Don't know C#. Labelling it `up for grabs`.

[2017-10-12 19:29] Monal5031 commented on #529
@sathiyaseelan Please add a link to the algorithm in issue description

[2017-10-12 19:32] Monal5031 commented on #377
@devshiva619 Yes its mentioned in contributing guidelines that function name in which the core algorithm is present is to be named as same that of file name.

[2017-10-12 19:33] Monal5031 commented on #528
@sathiyaseelan Please add link to the algorithm in issue description.

[2017-10-13 13:24] #525 closed

[2017-10-14 06:54] vatz88 commented on #524
Is anyone working on this? I can send a PR.

[2017-10-14 08:06] vatz88 opened #535 "Backtracking algorithm (N-Queen Problem) [Go]"
#### This issue is about [Backtracking algorithm (N-Queen Problem)](https://en.wikipedia.org/wiki/Eight_queens_puzzle).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am

[2017-10-14 08:06] singhpratyush commented on #535
The contributors most likely able to help are:

@singhpratyush

Possible duplicate or related issues are:

- #265: Backtracking algorithm (N-Queen Problem) [Python]

[2017-10-15 07:19] Sergobot opened #540 "Longest Palindromic Substring [Go]"
#### This issue is about [Longest Palindromic Substring](http://www.geeksforgeeks.org/longest-palindrome-substring-set-1/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that

[2017-10-15 07:19] singhpratyush commented on #540
The contributors most likely able to help are:

@Monal5031

Possible duplicate or related issues are:

- #380: Longest Palindromic Substring [Python]
- #400: Longest Palindromic Substring [JavaScript]
- #396: Longest Palindromic Substring [Java]
- #373: Longest Palindromic Substring [CPP]

[2017-10-15 15:39] gaijinco opened #542 "NQueen Problem [Java]"
#### This issue is about NQueenProblem Java (https://github.com/iiitv/algos/blob/master/n_queen_problem/NQueenProblem.java).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that

[2017-10-15 15:39] singhpratyush commented on #542
The contributors most likely able to help are:

@singhpratyush

[2017-10-15 18:24] gaijinco opened #543 "BinarySearch [Java]"
#### This issue is about BinarySearch [Java] (https://github.com/iiitv/algos/blob/master/binary_search/BinarySearch.java).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I

[2017-10-15 18:24] singhpratyush commented on #543
The contributors most likely able to help are:

@Monal5031

[2017-10-15 18:33] gaijinco opened #544 "CoinChangeProblem [Java]"
#### This issue is about [Coin Change Problem](http://www.geeksforgeeks.org/dynamic-programming-set-7-coin-change/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am no

[2017-10-15 18:33] singhpratyush commented on #544
The contributors most likely able to help are:

@aashutoshrathi

[2017-10-16 02:29] jennifertran commented on #506
Hi there just an update, still working on it hopefully will be done by this week

[2017-10-17 06:13] #535 closed

[2017-10-17 06:14] #527 closed

[2017-10-17 06:22] singhpratyush commented on #542
@gaijinco: Can you please give an outline of how will you be improving it? What structure will you follow?

[2017-10-17 17:45] callensm commented on #543
I can fix this if no one else is going to be assigned.

[2017-10-17 21:42] praffn opened #546 "Trie [Go]"
#### This issue is about [Trie](https://en.wikipedia.org/wiki/Trie).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I

[2017-10-17 21:42] singhpratyush commented on #546
The contributors most likely able to help are:

@aashutoshrathi

Possible duplicate or related issues are:

- #334: Trie [CPP]
- #428: Add badges to README.md
- #407: Comment indentation fix Trie[CPP]

[2017-10-18 07:25] #526 closed

[2017-10-18 07:27] singhpratyush commented on #543
@callensm: @gaijinco asked for assignation while opening the issue. You can try out other open issues :)

[2017-10-18 18:42] avsingh999 opened #547 "Binary Search Tree [Python]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2017-10-18 18:42] singhpratyush commented on #547
The contributors most likely able to help are:

@Monal5031

Possible duplicate or related issues are:

- #345: Gradient Descent [Python]
- #478: Algo/largest_sum_contiguous_subarray [C++]
- #391: Shell Sort [Java]
- #428: Add badges to README.md
- #427: Sleep Sort [Golang]

[2017-10-18 20:55] ishakalra opened #548 "Binary Search [C++]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

 Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I

[2017-10-18 20:55] singhpratyush commented on #548
The contributors most likely able to help are:

@Monal5031

Possible duplicate or related issues are:

- #345: Gradient Descent [Python]
- #478: Algo/largest_sum_contiguous_subarray [C++]
- #328: Issue template has a unnecessary tabpsace in point 5.
- #428: Add badges to README.md
- #432: Binary Search [C#]

[2017-10-19 01:15] PlatanoBailando commented on #517
@Prakash2403 I can try this one

[2017-10-20 06:48] polmauri commented on #478
Can I claim this?

[2017-10-20 07:08] mohitkyadav commented on #478
@manish1997 are you working on this?

[2017-10-20 07:35] manish1997 commented on #478
@mohitkyadav no. My coding style is different than what your rules want in c++.

[2017-10-20 10:51] amineHorseman commented on #27
If nobody's working on this issue, please assign me this one.

[2017-10-20 17:58] singhpratyush commented on #27
@amineHorseman: Please proceed. Thanks :)

[2017-10-20 18:09] singhpratyush commented on #517
@PlatanoBailando: Please proceed with the issue. Thanks :)

[2017-10-21 08:01] amineHorseman opened #558 "Depth First Traversal [Python]"
#### This issue is about [Depth First Traversal](https://en.wikipedia.org/wiki/Depth-first_search).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigne

[2017-10-21 08:01] singhpratyush commented on #558
The contributors most likely able to help are:

@HarshKhatore

Possible duplicate or related issues are:

- #345: Gradient Descent [Python]

[2017-10-21 11:10] #546 closed

[2017-10-21 17:35] DimaMukhin opened #559 "Trie [C#]"
#### This issue is about [Trie](https://en.wikipedia.org/wiki/Trie).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I

[2017-10-21 17:35] singhpratyush commented on #559
The contributors most likely able to help are:

@aashutoshrathi

Possible duplicate or related issues are:

- #334: Trie [CPP]
- #428: Add badges to README.md
- #546: Trie [Go]

[2017-10-22 05:27] polmauri commented on #488
Can I claim this one?

[2017-10-22 08:03] avsingh999 opened #563 "AVL Tree [Python]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2017-10-22 08:03] singhpratyush commented on #563
The contributors most likely able to help are:

@Monal5031

Possible duplicate or related issues are:

- #345: Gradient Descent [Python]
- #428: Add badges to README.md
- #391: Shell Sort [Java]
- #478: Algo/largest_sum_contiguous_subarray [C++]
- #547: Binary Search Tree [Python]

[2017-10-22 08:50] Monal5031 commented on #488
Sure GFI @polmauri

[2017-10-22 11:47] gaijinco commented on #542
@singhpratyush as I mentioned, the solution is not OOP. In the literature there's usually no mention of any solution like this, and that's why I think is cool to do it. An OOP solution will have a class NQueen which I can build with some parameters (at least size, probably queens already placed) and have an iterator method which returns an Iterator to the solution for the given configuration. Also

[2017-10-22 15:06] #530 closed

[2017-10-22 15:08] #543 closed

[2017-10-22 15:10] singhpratyush commented on #542
@gaijinco: Cool! Waiting to see the implementation. :)

[2017-10-22 15:11] #544 closed

[2017-10-22 16:47] #517 closed

[2017-10-22 17:19] Sergobot opened #567 "Radix Sort [C]"
#### This issue is about [Radix Sort](http://www.geeksforgeeks.org/radix-sort/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issu

[2017-10-22 17:19] singhpratyush commented on #567
The contributors most likely able to help are:

@Monal5031

Possible duplicate or related issues are:

- #345: Gradient Descent [Python]
- #428: Add badges to README.md
- #391: Shell Sort [Java]
- #478: Algo/largest_sum_contiguous_subarray [C++]
- #398: Radix Sort [Python]

[2017-10-23 20:06] amineHorseman commented on #510
Can I be assigned to this issue if no one's working on it?

[2017-10-23 23:46] sebasrp commented on #510
go for it - i am not going to be able to meet the required 'submit a PR within a week of issue creation'

[2017-10-24 15:55] #540 closed

[2017-10-25 03:46] Sergobot opened #577 "Dijkstra Algorithm [Go]"
#### This issue is about [Dijkstra Algorithm](https://en.wikipedia.org/wiki/Dijkstra's_algorithm).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned

[2017-10-25 03:47] singhpratyush commented on #577
The contributors most likely able to help are:

@Monal5031

Possible duplicate or related issues are:

- #289: Dijkstra Algorith [Python]

[2017-10-25 14:34] #542 closed

[2017-10-25 14:37] AnshumanRohella opened #581 "String Permutation [Python]"
#### This issue is about [String Permutation Problem](https://leetcode.com/problems/permutation-in-string/description/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I a

[2017-10-25 14:37] singhpratyush commented on #581
The contributors most likely able to help are:

@aashutoshrathi

[2017-10-25 15:33] gaijinco opened #583 "Sieve Of Eratosthenes [Java]"
#### This issue is about Sieve Of Eratosthenes [Java] (https://github.com/iiitv/algos/blob/master/sieve_of_eratosthenes/SieveOfEratosthenes.java).

- [x] Issue Title is in form `Sieve Of Eratosthenes [Java]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on

[2017-10-25 15:33] singhpratyush commented on #583
The contributors most likely able to help are:

@singhpratyush

[2017-10-25 15:57] gaijinco opened #584 "Heap Sort [Java]"
#### This issue is about Heap Sort [Java] (https://github.com/iiitv/algos/blob/master/heap_sort/HeapSort.java).

- [x] Issue Title is in form `Heap Sort [Java]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already as

[2017-10-25 15:57] singhpratyush commented on #584
The contributors most likely able to help are:

@singhpratyush

[2017-10-26 02:28] AnshumanRohella opened #585 "Hash Table Implementation [Python]"
#### This issue is about [Hash Table Implementation](https://en.wikipedia.org/wiki/Hash_table).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to

[2017-10-26 02:28] singhpratyush commented on #585
The contributors most likely able to help are:

@aashutoshrathi

[2017-10-26 06:37] #558 closed

[2017-10-26 07:07] AnshumanRohella opened #588 "String Permutation [Java]"
#### This issue is about [String Permutation](https://leetcode.com/problems/permutation-in-string/description/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not al

[2017-10-26 07:07] singhpratyush commented on #588
The contributors most likely able to help are:

@singhpratyush

Possible duplicate or related issues are:

- #581: String Permutation [Python]

[2017-10-26 10:08] jasm123 commented on #509
This issue is about [Queue](http://www.geeksforgeeks.org/queue-set-1introduction-and-array-implementation/).

- [ ]  Issue Title is in form Algo/DS Name [Language].
- [ ]  I searched or browsed the repo’s other issues to ensure this is not a
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
- [ ] I ensure that I am not already assigned t

[2017-10-26 10:18] jasm123 commented on #177
Can I be assigned to this issue? I would like to work on it.

[2017-10-26 18:53] #519 closed

[2017-10-26 19:03] singhpratyush commented on #177
@jasm123: Sure. Go ahead with this.

[2017-10-26 20:45] ErangaHeshan commented on #577
Please review my code :+1:

[2017-10-27 17:42] Monal5031 commented on #577
@ErangaHeshan You haven't sent a PR, where do we review your code?

[2017-10-27 19:08] Monal5031 commented on #577
Okay, thanks @Sergobot unassigned you and @ErangaHeshan I'll reopen your PR.

[2017-10-28 03:41] Sergobot opened #595 "Prims [Go]"
#### This issue is about [Prims](https://en.wikipedia.org/wiki/Prim%27s_algorithm).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more i

[2017-10-28 03:41] singhpratyush commented on #595
[GitMate.io](https://gitmate.io) thinks possibly duplicate or related issues are #525 (Prims [JavaScript]), and #428 (Add badges to README.md).

[2017-10-28 07:17] #583 closed

[2017-10-28 07:22] #559 closed

[2017-10-28 16:42] aviaryan opened #598 "Suggestions for improvements in PULL_REQUEST_TEMPLATE.md"
- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR only after I'm assigned to this issue by any maintaine

[2017-10-28 16:55] #598 closed

[2017-10-28 21:30] LoganDungeon opened #601 "Bubble Sort Algorithm in Java"
#### This issue is about Bubble Sort in Java(https://de.wikipedia.org/wiki/Bubblesort).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or mo

[2017-10-29 07:25] ErangaHeshan commented on #577
So should I do something now?

[2017-11-02 11:41] singhpratyush commented on #577
@ErangaHeshan: Please provide the PR number. Also, mention this issue in the PR description. Thanks.

[2017-11-02 11:42] #509 closed

[2017-11-02 17:08] #595 closed

[2017-11-02 17:10] #510 closed

[2017-11-03 16:32] kurianbenoy opened #609 "Printing single linked list in reverse order"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
-

[2017-11-03 16:32] singhpratyush commented on #609
[GitMate.io](https://gitmate.io) thinks possibly duplicate or related issues are #345 (Gradient Descent [Python]), and #328 (Issue template has a unnecessary tabpsace in point 5.).

[2017-11-03 16:34] kurianbenoy commented on #609
Cant understand it mate . Should I edit the Issue?

[2017-11-05 03:53] kurianbenoy commented on #609
can you assign me this issue?

[2017-11-11 21:44] DimaMukhin opened #611 "Counting Sort [C#]"
#### This issue is about [Counting Sort](http://www.geeksforgeeks.org/counting-sort/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or mor

[2017-11-11 21:44] singhpratyush commented on #611
[GitMate.io](https://gitmate.io) thinks possibly duplicate or related issues are #378 (Counting Sort [JavaScript]), #341 (Counting sort [Go]), #164 (Counting Sort [C]), and #355 (Bin Sort [C]).

[2017-11-19 11:15] #567 closed

[2017-11-22 14:05] #547 closed

[2017-12-15 06:51] #611 closed

[2017-12-26 15:49] Monal5031 opened #615 "Resource hackr.io"
#### This issue is about a new Resource addition.
- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This resource is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
- [ ] I will send my PR onl

[2017-12-28 19:50] #615 closed

[2018-01-06 12:02] #27 closed

[2018-02-24 17:04] #609 closed

[2018-05-15 18:26] GITNEERAJ opened #619 "Binary Search Tree [C]"
#### This issue is about [Binary Search Tree](https://www.geeksforgeeks.org/binary-search-tree-data-structure).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I ensure that I am not alre

[2018-05-15 18:27] singhpratyush commented on #619
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/iiitv/algos/issues/527 (Binary Search Tree [Go]), https://github.com/iiitv/algos/issues/146 (Binary Search Tree [Java]), https://github.com/iiitv/algos/issues/432 (Binary Search [C#]), https://github.com/iiitv/algos/issues/4 (Binary Search [C]), and https://github.com/iiitv/algos/issues/450 (Update Binary Search

[2018-05-16 15:29] Monal5031 commented on #619
GFI @neeraj3029

[2018-06-14 11:25] singhpratyush opened #621 "Travis build failure"
The Travis build fails with the following error -

[code]

[2018-09-04 20:46] mohitkyadav commented on #444
@shikherjaiswal 👍

[2018-09-05 07:05] Monal5031 commented on #444
@shikherjaiswal go ahead send a PR, make sure you read the guidelines first.

[2018-09-07 14:27] mohitkyadav opened #625 "Fix codacy integration"
codacy integration not working

[2018-09-07 15:06] #621 closed

[2018-09-07 15:06] #625 closed

[2018-09-08 07:41] heisenberg-2505 commented on #444
Hi, can I add the code for the nth Fibonacci number in other languages?

[2018-09-08 08:17] aashutoshrathi commented on #444
@heisenberg-2505 Yes. Make sure it is not already available using README.

[2018-09-08 09:03] singhpratyush opened #626 "Remove Codacy and CodeClimate badges from README"

[2018-09-08 09:10] rossoskull commented on #626
I'll work on it

[2018-09-08 09:36] heisenberg-2505 commented on #444
Okay, should I open an issue for this?

[2018-09-08 12:38] mohitkyadav commented on #444
Sure @heisenberg-2505 👍

[2018-09-08 12:58] heisenberg-2505 opened #628 "Fibonacci Number [C]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2018-09-08 12:59] aashutoshrathi commented on #628
@heisenberg-2505 One Issue per algo in one language and one PR for one issue.
Please stick to the rules.

[2018-09-08 17:17] heisenberg-2505 commented on #628
Is this fine?

[2018-09-08 17:39] #444 closed

[2018-09-10 08:38] #626 closed

[2018-10-01 11:17] dcariotti opened #631 "Dijkstra [C++]"
#### This issue is about [Dijkstra](https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm)

- [ x] Issue Title is in form `Algo/DS Name [Language]`.
- [ x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ x] This Algo/DS is worth adding to this repository.
- [ x] Assign this issue to me (I want to work on this).
	- [x ] I ensure that I am not already assigned to

[2018-10-02 14:55] AbhishekKatara commented on #478
Thanks @yashLadha

[2018-10-08 01:10] DimaMukhin opened #636 "Fibonacci Number [JavaScript]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2018-10-08 02:00] DimaMukhin opened #637 "Radix Sort [JavaScript]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2018-10-08 09:26] tairosonloa opened #638 "Breadth First Search [Golang]"
#### This issue is about [Breadth First Search](https://github.com/iiitv/algos/tree/master/breadth_first_search).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not a

[2018-10-08 16:51] profawxhawk opened #640 "BellmanFord[java]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2018-10-09 05:43] lalitmee commented on #518
Hey guys, I can try to do this. :innocent:
Simply I have to add steps to run ruby scripts and a sample code in the contributing guidelines.
Am I right? :thinking:

[2018-10-18 17:38] abhiy13 opened #643 "Binary Search [C++]"
#### This issue is about [Binary Search](https://en.wikipedia.org/wiki/Binary_search_algorithm).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned t

[2019-04-27 09:31] megha070 commented on #368
@aviaryan I would like to work on this issue.

[2019-05-25 17:36] #601 closed

[2019-10-02 05:57] 3ZadeSSG opened #649 "Algo K Means Clustering [C++][Java][Python]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2019-10-06 15:35] Fly-Style commented on #524
Hi.
Is the issue still relevant? I can pick it.

[2019-10-06 19:52] Chhaganlaal opened #654 "Fibonacci Number [Python]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2019-10-07 08:25] shivang-chhabra commented on #643
can i resolve this issue?

[2019-10-10 16:40] gateway2rohan commented on #643
Assign this issue to me

[2019-10-10 16:44] gateway2rohan commented on #628
Assign this issue to me

[2019-10-12 13:38] ican8 commented on #628
Can I contribute to this issue?

[2019-10-13 10:54] aashutoshrathi commented on #628
Yeah sure. @ican8

[2019-10-17 15:21] meetpaija opened #663 "Soundex Algorithm [Java]"
#### This issue is about [Soundex Algorithm](https://en.wikipedia.org/wiki/Soundex).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more

[2019-10-20 17:21] SamujjalDas opened #665 "Queue in C"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2019-10-28 04:54] SauravP97 opened #670 "Disjoint Union Set [Java]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
-

[2019-10-28 07:40] SauravP97 opened #672 "Next Greater Element [Java]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
-

[2019-10-28 10:37] SauravP97 opened #674 "Lowest Common Ancestor [Java]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
-

[2019-10-28 13:51] SauravP97 opened #676 "Euler Path and Euler Cycle [Java]"
https://www.geeksforgeeks.org/eulerian-path-and-circuit/

#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ens

[2020-05-28 09:11] yashshah2820 opened #683 "fix travis CI"
#### This issue is about fixing the Travis CI and updating the CI for the new versions of the languages.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.

[2020-05-29 13:52] thepushkarp commented on #683
How about we also use DeepSource and LGTM for Code Analysis?

[2020-05-29 13:54] yashshah2820 commented on #683
LGTM 👍

[2020-05-29 14:12] thepushkarp commented on #683
I'll give you updates on this fix in a day or two.

[2020-05-29 14:14] yashshah2820 commented on #683
are you going to work on this issue then? then I will assign this issue to you

[2020-05-29 14:15] thepushkarp commented on #683
Okay

[2020-05-29 14:16] yashshah2820 commented on #683
GFI 👍

[2020-05-29 18:20] dependabot-preview[bot] opened #684 "Dependabot can't evaluate your Python dependency files"
Dependabot can't evaluate your Python dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/iiitv/update-logs/35042116).

[2020-05-29 18:21] #684 closed

[2020-06-17 15:37] yashshah2820 opened #685 "fix codacy code style"
#### This issue is about fixing the codacy code style and code practices

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.

[2020-06-17 15:39] yashshah2820 opened #686 "fix codeclimate"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.

[2020-06-21 17:16] yashshah2820 opened #687 "update the README with the latest algos"
#### This issue is about updating the README with latest algos.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.