[2020-07-08 11:39] aashutoshrathi opened #688 "Add SuperLinter"
Add Super Linter and remove stale coala bears.
Ref: https://github.com/github/super-linter

[2020-07-08 11:40] aashutoshrathi commented on #688
@thepushkarp pass it to the assignee who claims it

[2020-07-08 18:52] thepushkarp commented on #688
Would be a good issue to solve for @iiitv/batch-of-2023

[2020-08-25 10:09] yashshah2820 commented on #688
@iiitv/project-maintainers

[2020-08-25 10:51] thepushkarp commented on #688
Add this to contribute-a-thon!

[2020-08-28 18:31] sam20code opened #689 "Longest Common ancestor in tree in O(n) time"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
-

[2020-08-28 18:31] sam20code commented on #689
@iiitv/project-maintainers  I want to work on this issue

[2020-08-28 18:33] sam20code commented on #674
@iiitv/project-maintainers    I want to work on this issue

[2020-08-28 18:33] nlok5923 opened #690 "Sorting/Heapsort[C++]"
#### This issue is about [Sorting/Heap sort](https://www.google.com/amp/s/www.geeksforgeeks.org/heap-sort/amp/)

- [x] Issue Title is in the form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not

[2020-08-28 18:34] nlok5923 commented on #690
@iiitv/project-maintainers i would like to work on this issue

[2020-08-28 18:34] sam20code commented on #665
@iiitv/project-maintainers  I want to work on this issue

[2020-08-28 18:34] nlok5923 opened #691 "Sorting/Insertion sort[C++]"
#### This issue is about [Sorting/insertion sort](https://www.google.com/amp/s/www.geeksforgeeks.org/insertion-sort/amp/)

- [x] Issue Title is in the form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure tha

[2020-08-28 18:35] sam20code commented on #643
@iiitv/project-maintainers    I want to work on this issue

[2020-08-28 18:37] himanshusanecha opened #692 "Breadth First Search[C,C++]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
-

[2020-08-28 18:37] yashshah2820 commented on #689
@sam20code fill the issue body details :)

[2020-08-28 18:37] sam20code commented on #488
@iiitv/project-maintainers I want to work on this issue

[2020-08-28 18:38] yashshah2820 commented on #692
@himanshusanecha fill the `Algo/DS Name [Language]`

[2020-08-28 18:38] yashshah2820 commented on #690
@nlok5923 fill the `Algo/DS Name [Language]` details :)

[2020-08-28 18:39] anshumanv commented on #488
Hi @sam20code please don't spam on every issue, state your interest in next issue after you're done with PR of first :)

[2020-08-28 18:40] yashshah2820 commented on #691
fill the [Algo/DS Name] and add the resource link if any.

[2020-08-28 18:40] Monik09 commented on #437
i want to work on this issue

[2020-08-28 18:41] nlok5923 commented on #690
Heap sort[C++]

[2020-08-28 18:48] nlok5923 commented on #691
@yashshah2820 is it fine now sir

[2020-08-28 18:48] nlok5923 commented on #690
@yashshah2820 Sir is it fine now do let me know.

[2020-08-28 18:49] yashshah2820 commented on #691
any links to the DS if you have then mention it the "link to resource for the Algo/DS"

[2020-08-28 18:51] yashshah2820 commented on #690
link to any resources as mentioned in the issue body

[2020-08-28 18:53] nlok5923 commented on #691
@yashshah2820 added the resource link

[2020-08-28 18:54] nlok5923 commented on #690
@yashshah2820 added the resource link.

[2020-08-28 18:57] yashshah2820 commented on #690
@nlok5923 go for it 👍

[2020-08-28 19:02] yashshah2820 commented on #692
👆

[2020-08-28 19:05] yashshah2820 commented on #674
@sam20code go for it 👍

[2020-08-28 19:07] yashshah2820 commented on #665
@sam20code go for it 👍

[2020-08-28 19:09] yashshah2820 commented on #643
@sam20code you already have two issues assigned to you, create PRs for them then you can take this issue if no one asks for it in the mean time

[2020-08-28 19:10] himanshusanecha commented on #692
done sir

[2020-08-28 19:12] yashshah2820 commented on #692
@himanshusanecha add the link to any resources

[2020-08-28 19:15] Monik09 opened #693 "Breadth First Traversal [C++]"
#### This issue is about [Breadth First Traversal](https://www.cs.bu.edu/teaching/c/tree/breadth-first/)

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already as

[2020-08-28 19:16] yashshah2820 commented on #693
@Monik09 follow the format add details to [Algo/DS Name](link to resource for the Algo/DS).

[2020-08-28 19:16] himanshusanecha commented on #692
done sir added resource link @yashshah2820

[2020-08-28 19:18] yashshah2820 commented on #692
@himanshusanecha  GFI 👍

[2020-08-28 19:20] Monik09 commented on #693
is this fine now?

[2020-08-28 19:23] Monik09 commented on #693
Can i now work on it?

[2020-08-28 19:25] ishanksoni commented on #693
go for it!

[2020-08-28 19:35] Monik09 opened #694 "Double Ended Queue [C]"
#### This issue is about [Double Ended Queue](https://www.includehelp.com/data-structure-tutorial/dequeue-queue-in-data-structure-using-c-and-cpp.aspx)

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on

[2020-08-28 20:02] Himanshu44626748 opened #695 "Implementation of Stack using queue"
#### This issue is about [Algo/stack](https://github.com/iiitv/algos/tree/master/stack).

- [x] Issue Title is in form `Algo/stack`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2020-08-28 20:06] Himanshu44626748 opened #696 "Implementation of Queue using stack"
#### This issue is about [Algo/queue](https://github.com/iiitv/algos/tree/master/queue).

- [x] Issue Title is in form `Algo/queue [Java]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more is

[2020-08-28 20:14] jatin0814 commented on #643
I want to work on this issue @iiitv/project-maintainers

[2020-08-28 21:20] jatin0814 commented on #637
I want to work on this issue, please assign it to me @iiitv/project-maintainers

[2020-08-29 02:59] nlok5923 commented on #687
Can i work on this issue i already had made PR for the previous issues assigned to me

[2020-08-29 03:41] The-Keshav-Agarwal commented on #628
please assign this task to me. I would like to work on this issue.

[2020-08-29 03:52] aashutoshrathi commented on #628
Go ahead! @The-Keshav-Agarwal

[2020-08-29 04:15] nlok5923 opened #699 "Add cp-algorithms link to the resource section of readme"
#### This issue is about adding CP-algorithms resource link to the resource section of readme file
cp-algorithm link : https://cp-algorithms.com/

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).

[2020-08-29 06:34] yashshah2820 commented on #696
@Himanshu44626748 please specify the language as well in the PR title

[2020-08-29 08:45] darshanhande11 opened #701 "Algo/Edit Distance [C++]"
#### This issue is about Algo/Edit Distance (https://web.stanford.edu/class/cs124/lec/med.pdf).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to

[2020-08-29 08:52] vidit2512 commented on #670
@yashshah2820 I want to work on this issue.

[2020-08-29 08:54] vidit2512 commented on #422
@AmanRaj1608 I want to work on this issue.

[2020-08-29 08:55] AmanRaj1608 commented on #422
@vidit2512 GFI

[2020-08-29 09:06] vidit2512 commented on #670
@AmanRaj1608 I want to work on this issue.

[2020-08-29 09:16] himanshusanecha opened #703 "Searching / Binary Search[C++]"
#### This issue is about [Searching / Binary Search[C++]](https://www.geeksforgeeks.org/binary-search/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already as

[2020-08-29 09:30] Chirag-Mathur opened #704 "SquareRootDecomposition [C]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- ✔️   Issue Title is in form `Algo/DS Name [Language]`.
- ✔️  I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- ✔️ This Algo/DS is worth adding to this repository.
- ✔️Assign this issue to me (I want to work on this).
	- ✔️ I ensure that I am not already assigned to 2 or more issues.
- ✔️

[2020-08-29 09:31] Chirag-Mathur commented on #704
@AmanRaj1608 I want to work on this issue.

[2020-08-29 09:57] prathmeshkhandelwal1 commented on #619
@iiitv/project-maintainers i want to work on this.

[2020-08-29 10:29] vidit2512 opened #707 "SegmentTree [Java]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2020-08-29 10:29] vidit2512 commented on #707
@iiitv/project-maintainers I want tot work on this issue

[2020-08-29 10:57] vidit2512 opened #708 "Double ended queue [Java]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2020-08-29 10:58] vidit2512 commented on #708
@iiitv/project-maintainers

[2020-08-29 11:16] darshanhande11 opened #709 "Coin Change [C++]"
#### This issue is about Coin Change [C++] (https://github.com/iiitv/algos/tree/master/counting_sort).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assi

[2020-08-29 11:16] darshanhande11 commented on #709
@iiitv/project-maintainers I want to work on this issue

[2020-08-29 11:21] thepushkarp commented on #688
Super Linter currently doesn't support C, C++ and C# so we might have to find another way for this -_-

[2020-08-29 11:29] Himanshu44626748 commented on #696
@yashshah2820 is it ok now? Can I go for it.

[2020-08-29 11:40] Monik09 commented on #694
i want to work on this issue. @yashshah2820

[2020-08-29 11:47] jatin0814 commented on #703
@himanshusanecha this issue already exists. #643

[2020-08-29 11:49] yashshah2820 commented on #703
@himanshusanecha please don't make a duplicate issue first, look if a similar issue already exists or not.

[2020-08-29 11:51] yashshah2820 commented on #694
@Monik09 in the link add the path in the repo you will want the algorithm to be added instead of an external link that is in the issuing body.

[2020-08-29 11:51] jatin0814 commented on #643
@yashshah2820 sir can u please assign it to me

[2020-08-29 11:53] himanshusanecha commented on #703
Sorry @yashshah2820

[2020-08-29 11:53] yashshah2820 commented on #643
tag @iiitv/project-maintainers not any individual.

[2020-08-29 11:54] yashshah2820 commented on #643
@jatin0814 don't create a PR until the issue is assigned to you.

[2020-08-29 11:55] himanshusanecha commented on #643
If possible i want to work on this issue @iiitv/project-maintainers

[2020-08-29 11:56] vidit2512 commented on #708
@yashshah2820 I want to work on this issue

[2020-08-29 11:56] Monik09 commented on #694
@yashshah2820 There is no folder for double ended queue in iiitv/algos repo...

[2020-08-29 11:56] yashshah2820 commented on #709
@darshanhande11 don't add geeks-for-geeks or any other links instead add the link where the algorithm will be updated or added in the algos repository

[2020-08-29 11:57] #703 closed

[2020-08-29 11:58] yashshah2820 commented on #694
@Monik09 GFI 👍

[2020-08-29 12:00] himanshusanecha commented on #250
if possible i want to work on this issue @iiitv/project-maintainers

[2020-08-29 12:00] jatin0814 commented on #643
I already tagged  @iiitv/project-maintainers

[2020-08-29 12:01] Monik09 commented on #694
@yashshah2820 can you please reassign this issue, it was unassigned by mistake. sorry for the inconvenience.

[2020-08-29 12:01] himanshusanecha commented on #377
if possible i want to work on this issue @iiitv/project-maintainers

[2020-08-29 12:02] yashshah2820 commented on #377
@himanshusanecha GFI 👍

[2020-08-29 12:04] yashshah2820 commented on #643
since @jatin0814 asked first so it will be fair enough to assign the issue to him
GFI 👍

[2020-08-29 12:04] darshanhande11 commented on #709
@yashshah2820 Sir, I have updated the link. Is the link correct now?

[2020-08-29 12:06] himanshusanecha commented on #643
no problem sir i will find another one @yashshah2820 😄

[2020-08-29 12:07] yashshah2820 commented on #709
we already have a code implemented in C, having a CPP code will not make much difference, you work on other issues 😄

[2020-08-29 12:08] darshanhande11 commented on #709
okay sir.

[2020-08-29 12:08] #709 closed

[2020-08-29 12:10] yashshah2820 commented on #637
@jatin0814 GFI 👍

[2020-08-29 12:11] yashshah2820 commented on #250
@himanshusanecha GFI 👍

[2020-08-29 12:13] yashshah2820 commented on #707
@vidit2512 add the path to the repo where you want the algo to be added with any resource in the ISSUE body

[2020-08-29 12:14] yashshah2820 commented on #704
tag project maintainers only

[2020-08-29 12:21] darshanhande11 commented on #654
@iiitv/project-maintainers I want to work on this issue.

[2020-08-29 12:22] yashshah2820 commented on #654
@darshanhande11 GFI 👍

[2020-08-29 12:23] yashshah2820 commented on #670
@vidit2512 GFI 👍

[2020-08-29 12:24] yashshah2820 commented on #687
@nlok5923 👍

[2020-08-29 12:43] Monik09 commented on #693
@ishanksoni i saw a duplicate tag but when I search for breadth first traversal in C++ in iiitv/algos repo there is no repo of this name. And even iiitv/algos repo main page has no file for breadth first traversal. So can i know why this tag  has been added.

[2020-08-29 12:46] Chirag-Mathur opened #711 "RedBlackTree [C++]"
#### This issue is about [RedBlackTree](https://github.com/iiitv/algos).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x

[2020-08-29 12:47] Chirag-Mathur commented on #711
@iiitv/project-maintainers I want to work on this issue.

[2020-08-29 12:48] yashshah2820 commented on #707
Is this algo worth adding, what is the use of this algorithm

[2020-08-29 12:49] yashshah2820 commented on #711
@Chirag-Mathur GFI 👍

[2020-08-29 12:50] kavyatripathi commented on #672
@iiitv/project-maintainers
Can you please explain the problem statement a little bit ?

[2020-08-29 13:12] kavyatripathi commented on #672
Is it like for every element in an array find the next greater element ?

[2020-08-29 13:13] vidit2512 commented on #707
@yashshah2820  this algorithm is used to do range queries along with range updates in O(logn) time by taking a one time O(n)time for construction, thereby making the code highly efficient.

[2020-08-29 13:13] sam20code commented on #674
ok sir 👍  :)

[2020-08-29 13:16] ishanksoni commented on #707
go for it

[2020-08-29 13:18] vidit2512 commented on #676
@iiitv/project-maintainers I want to work on this issue.

[2020-08-29 13:26] Chirag-Mathur commented on #631
@iiitv/project-maintainers I want to work on this issue.

[2020-08-29 13:38] AmanRaj1608 commented on #672
Yeah like giver an array [1,2,3,4,5] you have to tell every element which is greater than that value

For Ex -
1 -> 2
2 -> 3
3 -> 4
4 -> 5
5 -> -1

[2020-08-29 13:38] AmanRaj1608 commented on #672
I think this is a general problem, not an algorithm which should be added

others opinion @iiitv/project-maintainers  ?

[2020-08-29 13:39] ishanksoni commented on #676
@vidit2512  You have already assigned two issues.

[2020-08-29 13:44] ishanksoni commented on #693
@Monik09 I added duplicate tag as, the similar issue has been created already :)

[2020-08-29 13:57] kavyatripathi commented on #672
@iiitv/project-maintainers i would like to work on this issue

[2020-08-29 13:57] ishanksoni commented on #631
@Chirag-Mathur  go for it :)

[2020-08-29 14:29] aashutoshrathi commented on #688
😞 Then a planned GitHub Action would do.

[2020-08-29 15:01] vidit2512 commented on #676
@ishanksoni now can I work on this issue.

[2020-08-29 16:04] vidit2512 opened #716 "Disjoint_union_set[C]"
#### This issue is about [Disjoint_union_set](https://github.com/iiitv/algos).

- [x] Issue Title is in form `Disjoint_union_set [C]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.

[2020-08-29 16:04] vidit2512 commented on #716
@iiitv/project-maintainers  I want to work on this issue.

[2020-08-29 16:22] Chirag-Mathur commented on #640
@iiitv/project-maintainers I want to work on this issue

[2020-08-29 18:14] The-Keshav-Agarwal commented on #636
please assign this task to me. I would like to work on this issue.

[2020-08-29 18:18] aditalware commented on #636
@iiitv/project-maintainers Assign me this issue!

[2020-08-29 18:20] aditalware commented on #488
@iiitv/project-maintainers Assign me this issue!

[2020-08-29 18:23] anujpuri72 commented on #488
@aditalware GFI 👍

[2020-08-29 18:23] anujpuri72 commented on #640
@Chirag-Mathur GFI 👍

[2020-08-29 18:30] Monik09 opened #719 "Doubly Linked List [C]"
#### This issue is about [Doubly Linked List](https://github.com/iiitv/algos)

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.

[2020-08-29 18:30] The-Keshav-Agarwal commented on #485
@iiitv/project-maintainers please assign this task to me. I would like to work on this.

[2020-08-29 18:31] Monik09 commented on #719
@iiitv/project-maintainers I am willing to work on this issue.

[2020-08-29 18:33] Monik09 commented on #693
@ishanksoni I think I should close this issue then and unassign myself?

[2020-08-29 18:35] The-Keshav-Agarwal commented on #481
@iiitv/project-maintainers please assign this to me.

[2020-08-29 19:26] ishanksoni commented on #693
@Monik09 Yeah that's seems right :+1:

[2020-08-29 19:39] darshanhande11 commented on #619
@iiitv/project-maintainers If possible, I want to work on this issue.

[2020-08-29 19:42] anujpuri72 commented on #716
@vidit2512 GFI 👍

[2020-08-29 20:09] darshanhande11 commented on #696
@iiitv/project-maintainers I want to work on this issue.

[2020-08-29 21:40] Chirag-Mathur opened #723 "Bellman Ford[C++]"
#### This issue is about [RedBlackTree](https://github.com/iiitv/algos).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x

[2020-08-29 21:41] Chirag-Mathur commented on #723
@iiitv/project-maintainers I want to work on this issue

[2020-08-30 03:37] The-Keshav-Agarwal commented on #105
@iiitv/project-maintainers can i work on this issue.

[2020-08-30 05:38] #693 closed

[2020-08-30 05:49] yashshah2820 commented on #105
@The-Keshav-Agarwal GFI :+1:

[2020-08-30 05:51] yashshah2820 commented on #723
Is it about bellman ford or red black tree?

[2020-08-30 06:01] Chirag-Mathur commented on #723
It is about bellman ford algorithm of graph. It's C++ implementation.

[2020-08-30 06:46] Jatin-Goyal-552 commented on #563
Sir,I want to work on this issue.

[2020-08-30 06:52] Jatin-Goyal-552 opened #724 "This issue is about AVL tree in python."
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
-

[2020-08-30 06:53] yashshah2820 commented on #696
since @Himanshu44626748 asked first it is fair enough to assign him
GFI 👍

[2020-08-30 06:54] Chirag-Mathur commented on #723
@iiitv/project-maintainers I am willing to work on this issue.

[2020-08-30 06:57] Jatin-Goyal-552 commented on #724
I want to work on this issue.

[2020-08-30 07:15] rits008 commented on #485
I want to work on this issue.

[2020-08-30 07:30] darshanhande11 opened #726 "Greedy Algorithm/Car Refueling Problem [C++]"
#### This issue is about Greedy Algorithm/Car Refueling (https://github.com/iiitv/algos).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or

[2020-08-30 07:31] darshanhande11 commented on #726
@iiitv/project-maintainers I want to work on this issue.

[2020-08-30 08:12] rits008 opened #727 "priority Queue"
Priority Queue[C++].

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
- [ ] I will send my PR only after I'm assigned to this

[2020-08-30 08:13] rits008 commented on #727
I want to work on this issue.

[2020-08-30 08:55] kavyatripathi commented on #672
@iiitv/project-maintainers  I have created a PR. Please take a look.

[2020-08-30 09:44] yashshah2820 commented on #723
Don't mention the commits of other PR with this issue create a separate PR for this issue

[2020-08-30 09:48] vidit2512 opened #730 "Euler path and euler cycle[C]"
#### This issue is about [Euler_path_and_euler_cycle](https://github.com/iiitv/algos).

- [x] Issue Title is in form `Euler_path_And_euler_cycle [C]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2

[2020-08-30 09:48] vidit2512 commented on #730
@iiitv/project-maintainers I want to work on this issue.

[2020-08-30 11:59] darshanhande11 opened #732 "Next Greater Element [C]"
#### This issue is about Next Greater Element [C] (https://github.com/iiitv/algos/issues/672).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to

[2020-08-30 12:00] darshanhande11 commented on #732
@iiitv/project-maintainers If possible, I would like to work on this.

[2020-08-30 12:22] aditalware opened #733 "Fibonacci Number [C++] [DP]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2020-08-30 12:23] aditalware commented on #733
Assign me this issue

[2020-08-30 12:51] vidit2512 commented on #689
@iiitv/project-maintainers If no one is working on this I want to work on this issue.

[2020-08-30 14:16] anshumanv commented on #732
Algo link is wrong, please fix

[2020-08-30 14:16] anshumanv commented on #726
wrong algo link, please fix

[2020-08-30 14:43] darshanhande11 commented on #732
@anshumanv Sir, I have fixed the link.

[2020-08-30 14:43] darshanhande11 commented on #726
@anshumanv Sir, I have fixed the link.

[2020-08-30 14:46] anshumanv commented on #726
Can't assign till this is checked, complete your open PRs meanwhile :)

[2020-08-30 15:01] nlok5923 commented on #687
@yashshah2820 I had a query regarding this issue.

do after each pr merge i have to update readme or I should wait for the merging of 2 -3 prs and then update the readme file,

[2020-08-30 15:33] yashshah2820 commented on #687
first of all check for any missing algos in the README, after this event we will create another issue adding the updates done during the event.

[2020-08-30 15:34] nlok5923 commented on #687
@yashshah2820 thanks for clarification...

Working on it.

[2020-08-30 15:40] darshanhande11 commented on #726
@anshumanv Sir, now I have created the PRs for the earlier issues assigned to me.

[2020-08-30 16:04] nlok5923 commented on #687
@iiitv/project-maintainers i checked the readme file is updated with the latest logos

[2020-08-30 16:06] nlok5923 opened #737 "Readme edit : Two rows for queue in readme table instead of one."
#### This issue is about same rows for queue in readme file,

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will sen

[2020-08-30 16:53] darshanhande11 commented on #726
@anshumanv Sir, I have completed my open PRs now, also I have checked the above statement. If possible, I would like to work on this issue.

[2020-08-30 18:18] aditalware commented on #488
@anujpuri72 I can't see u have assigned this task to me.Has someone went through my PR?

[2020-08-30 19:38] vidit2512 commented on #689
@yashshah2820  If no one is working on this issue, I want to work on this.

[2020-08-31 03:03] nlok5923 commented on #737
@iiitv/project-maintainers  i would like to work on this issue.

[2020-08-31 15:16] nlok5923 commented on #687
@iiitv/project-maintainers Sir i had open an issue which is nearly same to this issue #737 please do let me know about it's validity.

[2020-08-31 15:55] ishanksoni commented on #737
@nlok5923 You have already assigned for issue #687 , that is quit similar to this issue. I don't think this issue is needed.

[2020-08-31 16:00] yashshah2820 commented on #737
I agree this issue is redundant.

[2020-08-31 16:03] yashshah2820 commented on #732
@darshanhande11 you have to mention the path link where the above-mentioned algo will be added inside the algos repo

[2020-08-31 16:05] #737 closed

[2020-08-31 16:07] #716 closed

[2020-08-31 16:07] #422 closed

[2020-08-31 16:11] yashshah2820 commented on #724
@Jatin-Goyal-552 GFI 👍

[2020-08-31 16:12] yashshah2820 commented on #719
@Monik09 Don't add the external resources link just add the path where the algo will be added inside the repo

[2020-08-31 16:14] yashshah2820 commented on #704
In my opinion, we should focus on maintaining and adding algos written in different languages for existing algos instead of adding new ones 🤔

[2020-08-31 16:15] yashshah2820 commented on #695
@Himanshu44626748 would you work on this issue?

[2020-08-31 16:15] yashshah2820 commented on #689
ping @sam20code

[2020-08-31 16:17] darshanhande11 commented on #732
@yashshah2820 Sir, does it require a new folder needs to be created for this issue in the algos repo? As the java implementation is done in issue #672 and this issue is for implementation in C.

[2020-08-31 16:17] yashshah2820 commented on #727
@rits008 add the path link where the algo will be added inside the algos repo and please don't change the issue format

[2020-08-31 16:18] yashshah2820 commented on #730
@vidit2512 Is this algo required?

[2020-08-31 16:22] yashshah2820 commented on #730
@vidit2512 GFI 👍

[2020-08-31 16:28] yashshah2820 commented on #733
@aditalware there is already an open issue for this in C #628, having one in CPP won't make any sense

[2020-08-31 16:31] Monik09 commented on #719
kk, sir. I will keep that in mind.

[2020-08-31 16:55] Himanshu44626748 commented on #695
yes sir

[2020-08-31 16:58] rits008 commented on #727
sir plz tell ,how i can do this.

[2020-08-31 18:05] #699 closed

[2020-08-31 18:13] nlok5923 commented on #513
If this issue is open then @iiitv/project-maintainers I would like to work on it.

[2020-09-01 02:09] nlok5923 opened #748 "Sorting/Heapsort[c#]"
#### This issue is about[Sorting/heapsort](https://www.tutorialspoint.com/heap-sort-in-chash)

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2

[2020-09-01 02:12] nlok5923 opened #749 "Sorting/Heapsort[Golang]"
#### This issue is about [sorting/Heapsort](https://golangbyexample.com/heapsort-in-golang/)

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] i searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2

[2020-09-01 02:45] The-Keshav-Agarwal commented on #548
@iiitv/project-maintainers can i work on this issue.

[2020-09-01 03:06] rits008 commented on #727
queue/Priority Queue [C++]

[2020-09-01 04:03] aashutoshrathi commented on #513
Yeah, I guess you can take it.

[2020-09-01 05:20] The-Keshav-Agarwal opened #751 "Bucket Sort [C++]"
#### This issue is about Bucket Sort (https://www.geeksforgeeks.org/bucket-sort-2/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more

[2020-09-01 05:30] #751 closed

[2020-09-01 15:10] darshanhande11 opened #753 "Sorting/RadixSort [Golang]"
#### This issue is about [RadixSort](https://github.com/iiitv/algos/tree/master/radix_sort).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2

[2020-09-01 15:11] darshanhande11 opened #754 "Sorting/RadixSort [C#]"
#### This issue is about [RadixSort](https://github.com/iiitv/algos/tree/master/radix_sort).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2

[2020-09-01 17:55] sam20code commented on #548
@iiitv/project-maintainers can i work on this issue

[2020-09-01 19:08] AkshatDobriyal commented on #663
@iiitv/project-maintainers I want to work on this issue.

[2020-09-02 11:33] ishanksoni commented on #663
@AkshatDobriyal  GFI :+1:

[2020-09-02 15:48] nlok5923 commented on #749
@iiitv/project-maintainers please do let me know about the validity of this issue.

[2020-09-02 15:48] nlok5923 commented on #748
@iiitv/project-maintainers please do let me know about the validity of this issue.

[2020-09-02 17:11] nlok5923 commented on #518
@iiitv/project-maintainers  i would like to work on this issue.

[2020-09-03 15:07] The-Keshav-Agarwal opened #756 "Breadth First Search in a Graph [C#]"
#### This issue is about [Breadth First Search](https://www.dotnetforall.com/breadth-first-searchbfs-in-c/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not alread

[2020-09-06 09:14] Monik09 commented on #719
@iiitv/project-maintainers, can anyone please assign me this issue.

[2020-09-10 09:45] yashshah2820 commented on #719
don't create a PR until the issue is assigned to you

[2020-09-20 12:15] yashshah2820 commented on #748
@nlok5923 we already have heapsort algo written in four languages, I don't think we need more 😅

[2020-09-20 12:16] yashshah2820 commented on #749
@nlok check my comment on the #748

[2020-09-20 12:19] #749 closed

[2020-09-20 12:19] #748 closed

[2020-09-21 19:27] anujpuri72 commented on #756
GFI @The-Keshav-Agarwal

[2020-09-21 19:48] The-Keshav-Agarwal commented on #756
sorry @anujpuri72 sir, but actually i don't want to work on this issue. I saw that there is no code in C# for BFS, so i created this issue for others😂😂

[2020-09-23 09:02] #756 closed

[2020-09-23 09:58] #663 closed

[2020-09-25 11:49] #105 closed

[2020-09-26 17:22] #690 closed

[2020-09-26 17:31] #733 closed

[2020-09-26 18:02] #628 closed

[2020-09-26 18:24] #691 closed

[2020-09-28 13:12] nlok5923 commented on #754
@iiitv/project-maintainers  i would like to work on it.

[2020-09-29 17:56] yashshah2820 commented on #754
@nlok5923 you already have plenty of issues and PR assigned to you, please work on that first.

[2020-09-29 17:59] #694 closed

[2020-09-29 18:00] #719 closed

[2020-10-06 04:19] diegofsousa commented on #619
Hello everyone, everything good?

I can work on this issue :)

[2020-10-19 11:36] miador opened #771 "Binary Gap [Java]"
#### This issue is about [Binary Gap Problem](https://app.codility.com/programmers/lessons/1-iterations/binary_gap/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am n

[2020-10-21 14:52] #771 closed

[2021-09-30 20:34] marizvi commented on #695
Dear Sir,
I guess this issue is still left unsolved.
I would like to work on this issue to add a similar program to this repo,
so please assign me this issue under contribute-a-thon'21.

[2021-09-30 21:02] marizvi opened #774 "breadth_first_search/Shortest Distance between two nodes (Java)"
#### This issue is about [Algo/Graph Data Structure/BFS].

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This breadth_first_search/Shortest Distance is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR only after I'm assig

[2021-09-30 21:03] marizvi commented on #774
Hello,
I would like to work on this issue, kindly assign me this issue under contribute-a-thon'21.

[2021-09-30 21:29] vidit2512 commented on #774
@marizvi This algorithm is already [here]( I guess https://github.com/iiitv/algos/blob/master/breadth_first_search/BreadthFirstSearch.cpp )

[2021-10-01 03:52] #774 closed

[2021-10-01 08:13] vidit2512 opened #775 "To update list of Algos in Readme"
#### This issue is about updating the README with the latest algos.

- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.

[2021-10-01 09:21] raunakjaiswal opened #776 "[Queue][Cpp]"
#### This issue is about [Queue](https://en.wikipedia.org/wiki/Queue_(abstract_data_type)).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 o

[2021-10-01 09:23] raunakjaiswal commented on #776
@vidit2512  I want to work on this issue.

[2021-10-01 10:44] vidit2512 commented on #776
@raunakjaiswal GFI 👍

[2021-10-01 11:09] marizvi opened #777 "Binary Tree/Mirror of a Binary Tree (JAVA)"
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR only after I'm assigned to this issue by any maintainer.
- [x] I understand that I will be unassigned from thi

[2021-10-01 12:45] marizvi opened #778 "Sort/Counting Sort [CPP]"
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Sort/Counting Sort [CPP]  is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR only after I'm assigned to this issue by any maintainer.
- [x] I understand that I will be u

[2021-10-01 14:10] Vijay-K-2003 commented on #723
- [ ] Assign this issue to me (I want to work on this).
- [ ] I ensure that I am not already assigned to 2 or more issues.
- [ ] I will send my PR only after I'm assigned to this issue by any maintainer.
- [ ] I understand that I will be unassigned from this issue if I fail to send a PR for this within a week.

Kindly Assign me this issue under Contribute-a-thon.

[2021-10-01 15:12] Vijay-K-2003 commented on #723
- [ ] Assign this issue to me (I want to work on this).
- [ ] I ensure that I am not already assigned to 2 or more issues.
- [ ] I will send my PR only after I'm assigned to this issue by any maintainer.
- [ ] I understand that I will be unassigned from this issue if I fail to send a PR for this within a week.

Please Assign me this issue under Contribute-a-thon.

[2021-10-01 15:45] Vijay-K-2003 commented on #723
### Example
![image](https://user-images.githubusercontent.com/75903092/135646157-3d4da658-afb5-44bd-a410-d051fb2d918a.png)

[2021-10-01 16:38] raunakjaiswal opened #780 "[Breadth First Traversal][CPP]"
#### This issue is about [Breadth First Traversal](https://en.wikipedia.org/wiki/Graph_traversal).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned

[2021-10-01 16:39] raunakjaiswal commented on #780
@vidit2512 I want to work on this issue.

[2021-10-01 18:39] Vijay-K-2003 commented on #711
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
- [ ] I ensure that I am not already assigned to 2 or more issues.
- [ ] I will send my PR only after I'm assigned to this issue by any maintainer.
- [ ] I understand that I will be unassigned from this

[2021-10-01 18:41] Vijay-K-2003 commented on #711
I want to work on this issue please assign me this under contribute-a-thon.

[2021-10-01 19:09] Vijay-K-2003 opened #781 "nthFibonacciNumber[javascript]"
#### This issue is about [nthFibonacciNumber](https://en.wikipedia.org/wiki/Fibonacci_number).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to

[2021-10-02 12:42] vidit2512 commented on #777
@marizvi GFI 👍

[2021-10-02 12:44] vidit2512 commented on #778
The algorithm is already present [here](https://github.com/iiitv/algos/blob/master/counting_sort/counting_sort.c).

[2021-10-02 12:44] #778 closed

[2021-10-02 12:47] #776 closed

[2021-10-02 12:52] vidit2512 commented on #781
@Vijay-K-2003 GFI 👍.

[2021-10-02 12:52] Vijay-K-2003 commented on #781
@vidit2512 Kindly assign me BellmanFord also.

[2021-10-02 12:54] vidit2512 commented on #780
@raunakjaiswal GFI 👍.

[2021-10-02 12:56] Vijay-K-2003 commented on #781
Issue #723

[2021-10-03 07:32] roeticvampire opened #784 "Modular Exponentiation [C++]"
#### This issue is about Modular Exponentiation ( [here](http://www.geeksforgeeks.org/modular-exponentiation-power-in-modular-arithmetic/) ).

- [x] Issue Title is in form `Algo/DS Name [ C++ ]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x]

[2021-10-03 10:48] marizvi opened #785 "Left-View of a Binary Search Tree [JAVA]"
source link : https://www.geeksforgeeks.org/print-left-view-binary-tree/

- [x] Issue Title is in form  'Left-View of Binary Search Tree [Java]'.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
- [x] I will send my PR only after I'm assigned to this

[2021-10-03 18:00] The-Keshav-Agarwal commented on #785
GFI @marizvi 👍

[2021-10-04 12:47] Akshat0102 commented on #727
I want to work on this issue.

[2021-10-04 12:48] Akshat0102 commented on #695
I want to work on this issue Sir.

[2021-10-04 19:41] vidit2512 commented on #784
The same algorithm is present [here](https://github.com/iiitv/algos/blob/master/modular_exponential/modular_exponential.c)

[2021-10-04 19:41] #784 closed

[2021-10-04 19:44] vidit2512 commented on #777
Kindly attach the input/output screenshots of the algorithm here.

[2021-10-04 19:45] marizvi commented on #777
yeah sure.

[2021-10-04 19:48] marizvi commented on #777
![Screenshot 2021-10-05 011737](https://user-images.githubusercontent.com/76868116/135914834-96e5e076-affe-4e40-b2f1-6397bcd2cf81.png)

This input is already a part of code.
The output is below..

[2021-10-04 19:48] marizvi commented on #777
![Screenshot 2021-10-05 011703](https://user-images.githubusercontent.com/76868116/135914977-d7c44320-b5b4-4faf-9f70-d33eff986047.png)

[2021-10-04 19:50] marizvi commented on #777
![Screenshot 2021-10-05 011945](https://user-images.githubusercontent.com/76868116/135915116-73e2789c-8aba-4a2f-8609-ee40e5a74bbc.png)

[2021-10-04 19:50] marizvi commented on #777
is this much fine sir?

[2021-10-04 19:51] vidit2512 commented on #781
@Vijay-K-2003 Why are you mixing up these 2 issues here, if you want to talk about any other algorithm kindly discuss it in another issue and as you have told earlier, you have worked on 2 algorithms in a single PR in the master branch, this will not work.
Kindly make separate branches to work on separate issues simultaneously and then make PR.

[2021-10-04 19:54] vidit2512 commented on #777
LGTM

[2021-10-04 19:57] #777 closed

[2021-10-04 20:00] vidit2512 commented on #780
Kindly attach the input/output screenshots here.

[2021-10-04 20:07] #780 closed

[2021-10-04 20:15] #781 closed

[2021-10-05 00:40] raunakjaiswal opened #787 "[Dijkstra's algorithm][Javascript]"
#### This issue is about [Dijkstra's algorithm](https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm).

- [X] Issue Title is in form `Algo/DS Name [Language]`.
- [X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This Algo/DS is worth adding to this repository.
- [X] Assign this issue to me (I want to work on this).
	- [X] I ensure that I am not already assi

[2021-10-05 11:27] raunakjaiswal commented on #787
@vidit2512 i want to work on this issue.

[2021-10-05 20:10] marizvi opened #789 "Reverse Level Order Traversal [JAVA]"
#### This issue is about Reverse Level Order Traversal [JAVA], (https://www.geeksforgeeks.org/reverse-level-order-traversal/).

- [x] Issue Title is in the form `Reverse Level Order Traversal [JAVA]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).

[2021-10-05 20:12] marizvi commented on #785
![Screenshot 2021-10-06 014100](https://user-images.githubusercontent.com/76868116/136095671-60cc5b7d-cf11-459f-b69d-4bfc1b34880e.png)
This is our desired output.

[2021-10-06 17:42] R4j4t-Singh opened #791 "Invalid url for Breadth First Traversal in README.md"
#### This issue is about invalid url for Breadth First Traversal in README.md .

- [ ] Issue Title is in form `Invalid url for Breadth First Traversal in README.md`.
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not alread

[2021-10-06 17:44] R4j4t-Singh commented on #791
@iiitv/algo-maintainers  I want to work on this issue

[2021-10-08 05:25] AkhileshManda opened #793 "[LinearSearch][Dart]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x ] Issue Title is in form `Algo/DS Name [Language]`.
- [x ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x ] This Algo/DS is worth adding to this repository.
- x[ ] Assign this issue to me (I want to work on this).
	- [ x] I ensure that I am not already assigned to 2 or more issue

[2021-10-08 15:27] Esebranek opened #794 "Fix Implemented Data Structure Table in Readme"
- [X] Issue Title is in form `Algo/DS Name [Language]`.
- [X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This Algo/DS is worth adding to this repository.
- [X] Assign this issue to me (I want to work on this).
	- [X] I ensure that I am not already assigned to 2 or more issues.
- [X] I will send my PR only after I'm assigned to this issue by any maintaine

[2021-10-08 22:24] vidit2512 commented on #793
@AkhileshManda GFI 👍.

[2021-10-09 04:29] AkhileshManda opened #797 "[BinarySearch][Dart]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x ] Issue Title is in form `Algo/DS Name [Language]`.
- [x ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x ] This Algo/DS is worth adding to this repository.
- [ x] Assign this issue to me (I want to work on this).
	- [ x] I ensure that I am not already assigned to 2 or more issue

[2021-10-09 18:17] #787 closed

[2021-10-10 06:16] marizvi opened #799 "Selection Sort[DART]"
- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR only after I'm assigned to this issue by any maintaine

[2021-10-10 08:43] vidit2512 commented on #789
@marizvi GFI.

[2021-10-10 08:59] akankshatyagiat commented on #695
I want to contribute to this solution.! :)

[2021-10-10 14:42] AkhileshManda opened #800 "Insertion Sort[Dart]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2021-10-10 17:43] marizvi opened #802 "Bubble Sort[Dart]"
- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR only after I'm assigned to this issue by any maintaine

[2021-10-19 18:27] marizvi opened #805 "Diameter of Binary Search Tree[Java]"
#### This issue is about [Diameter of BST]
https://www.geeksforgeeks.org/diameter-of-a-binary-tree/

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigne

[2021-10-28 20:30] marizvi opened #807 "Kadane's Algorithm [DART]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2021-10-28 20:36] marizvi opened #808 "ZIG ZAG Traversal of Binary Search Tree [JAVA]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2021-11-25 17:33] Bibhavshah opened #809 "FloydWarshallAlgorithm[JAVA]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x ] Issue Title is in form `Algo/DS Name [Language]`.
- [x ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ x] This Algo/DS is worth adding to this repository.
- [x ] Assign this issue to me (I want to work on this).
	- [ x] I ensure that I am not already assigned to 2 or more issue

[2022-10-01 20:46] Vijay-K-2003 opened #813 "binary_search [Rust]"
#### This issue is about [binary_search](https://www.geeksforgeeks.org/binary-search/).
Please Assign This to me under HacktoberFest if possible.
- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).

[2022-10-02 05:36] #813 closed

[2022-10-02 06:44] satyacasm opened #814 "Breadth First Traversal [JAVA]"
#### This issue is about [Breadth First Traversal] [Breadth First Traversal](https://en.wikipedia.org/wiki/Graph_traversal)

- [X] Issue Title is in form `Algo/DS Name [Language]`.
- [X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This Algo/DS is worth adding to this repository.
- [X] Assign this issue to me (I want to work on this).
	- [X] I ensure that

[2022-10-02 06:50] satyacasm commented on #814
Request you to assign this issue to me.

[2022-10-02 07:00] AkhileshManda commented on #814
GFI @satyacasm

[2022-10-02 10:32] #814 closed

[2022-10-02 11:37] aryanargupta opened #816 "Updated Queue(Format) and Breadth First Traversal[JAVA] in README"
#### This issue is about README of [Queue] and Breadth First Traversal[JAVA]. There were multiple instances of Queue in the table which I have merged, as well as updated the check mark for the Breadth First traversal in JAVA recently added by satyacasm. Hence, I request to assign this issue to me so that I can send the PR and resolve the issues ASAP.

- [x] Issue Title is in form `Algo/DS Name [La

[2022-10-02 17:15] aryanargupta commented on #816
Also, added a correct link for Breadth First Traversal as the old link is probably not existing now.

[2022-10-02 18:57] AkhileshManda commented on #816
@kalashshah

[2022-10-02 19:06] kalashshah commented on #816
GFI 👍

[2022-10-03 06:38] adielliot37 commented on #753
#### This issue is about [RadixSort](https://github.com/iiitv/algos/tree/master/radix_sort).

[2022-10-03 06:40] adielliot37 commented on #753
please assign me to this issue

[2022-10-03 13:00] #816 closed

[2022-10-04 03:45] Ayush-Khandelwal28 commented on #643
I want to work on the issue, I will also update README. @iiitv/project-maintainers

[2022-10-04 03:56] adielliot37 commented on #754
#### This issue is about [RadixSort](https://github.com/iiitv/algos/tree/master/radix_sort).

[2022-10-04 03:57] adielliot37 commented on #754
Please assign me to this issue

[2022-10-04 18:32] AkhileshManda commented on #754
GFI @adielliot37

[2022-10-05 07:36] aryanargupta opened #819 "Further Updation in README for BFS, BFT, Dijkstra, Heap Sort, Insertion Sort, Fibonacci Number, Queue"
#### This issue is about updation in README for [BFS] (Cpp), [BFT] (Cpp), [Dijkstra] (JS), [Heap Sort] (Cpp), [Insertion Sort] (Cpp), [Fibonacci Number] (C and JS), [Queue] (Cpp)

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issu

[2022-10-05 07:57] AkhileshManda commented on #819
GFI @aryanargupta

[2022-10-05 07:59] aryanargupta opened #820 "Addition of DP problem: Matrix Chain Multiplication [JAVA and CPP/C]"
#### This issue is about addition of a DP problem: [Matrix Chain Multiplication](https://www.geeksforgeeks.org/matrix-chain-multiplication-dp-8/).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this)

[2022-10-05 10:15] kalashshah commented on #820
Please read the [contribution guidelines](https://github.com/iiitv/algos/blob/master/CONTRIBUTING.md#suggesting-an-algorithm--ds) properly.

[2022-10-05 18:28] TheLegendVilva opened #822 "Binary Search[CPP]"
#### This issue is about [binary_search](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2022-10-05 18:34] dharmikjethva30 opened #823 "Euclidean GCD [CPP]"
#### This issue is about [Euclidean GCD](https://en.wikipedia.org/wiki/Euclidean_algorithm)

- [x] Issue Title is in form Euclidean GCD [CPP].
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more

[2022-10-05 19:09] aryanargupta commented on #820
Yes sir, I have read them properly. Is there anything specific to be more precise about in this issue?

[2022-10-06 01:26] AkhileshManda commented on #820
@aryanargupta please read the first point that you checked while creating the issue

[2022-10-06 01:28] AkhileshManda commented on #822
GFI @TheLegendVilva

[2022-10-06 01:29] AkhileshManda commented on #823
GFI @dharmikjethva30

[2022-10-06 05:35] VedVaghela opened #824 "Doubly LinkedList [JAVA]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [X] Issue Title is in form `Algo/DS Name [Language]`.
- [X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This Algo/DS is worth adding to this repository.
- [X] Assign this issue to me (I want to work on this).
	- [X] I ensure that I am not already assigned to 2 or more issues.
-

[2022-10-06 05:37] Phagun26 opened #825 "Counting Sort[CPP]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [ X] Issue Title is in form `Algo/DS Name [Language]`.
- [ X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ X] This Algo/DS is worth adding to this repository.
- [ X] Assign this issue to me (I want to work on this).
	- [X ] I ensure that I am not already assigned to 2 or more issue

[2022-10-06 06:57] CoderAayush2104 commented on #802
Can you please assign this to me?I can solve this for your

[2022-10-06 07:36] aryanargupta commented on #820
Was the title of the issue the main problem? I have changed the title of the issue now.

[2022-10-06 07:44] CoderAayush2104 commented on #800
Can you please assign this to me? I will solve this issue for you

[2022-10-06 07:52] CoderAayush2104 opened #826 "Fibonacci number[CPP]"
#### This issue is about [Algo/DS Name](link to a resource for the Algo/DS)

- [ X] Issue Title is in form `Algo/DS Name [Language]`.
- [X ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ X] This Algo/DS is worth adding to this repository.
- [ X] Assign this issue to me (I want to work on this).
	- [ X] I ensure that I am not already assigned to 2 or more issu

[2022-10-06 08:24] kalashshah commented on #820
GFI @aryanargupta

[2022-10-06 08:49] #819 closed

[2022-10-06 08:51] AkhileshManda commented on #825
GFI @Phagun26

[2022-10-06 11:06] varada1110 opened #827 "Fibonacci number[Python]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2022-10-06 19:34] #643 closed

[2022-10-07 09:20] utsavvjain opened #832 "Disjoint Set Union [Java]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [ ] Issue Title is in form `Algo/DS Name [Language]`.
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] This Algo/DS is worth adding to this repository.
- [ ] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assigned to 2 or more issues.
-

[2022-10-07 09:26] kalashshah commented on #832
GFI

[2022-10-07 09:27] kalashshah commented on #827
GFI

[2022-10-07 12:31] Proder opened #834 "Linear Search [CPP]"
#### This issue is about [Linear Search](https://en.wikipedia.org/wiki/Linear_search).

- [x] Issue Title is in form `Linear Search [CPP]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more is

[2022-10-07 12:38] IamHetPatel opened #836 "Merge Sort [CPP]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2022-10-07 12:48] devarsh192003 opened #837 "Prime Factor [CPP]"
#### This issue is about [Prime Factor](https://en.wikipedia.org/wiki/Prime_number#Unique_factorization).

- [x] Issue Title is in form `Prime Factor [CPP]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [ ] I ensure that I am not already assign

[2022-10-07 14:12] AkhileshManda commented on #834
GFI @Proder

[2022-10-08 06:13] #754 closed

[2022-10-08 06:42] #822 closed

[2022-10-08 12:42] Phagun26 opened #842 "Radix Sort[CPP]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
-

[2022-10-09 06:16] adielliot37 commented on #637
please assign me to this issue @iiitv/project-maintainers

[2022-10-09 06:19] adielliot37 commented on #637
#### This issue is about [RadixSort](https://github.com/iiitv/algos/tree/master/radix_sort).

[2022-10-09 16:36] aryanargupta commented on #820
Done @kalashshah sir 👍 Please review and suggest any changes if required

[2022-10-10 04:32] #834 closed

[2022-10-10 04:36] #823 closed

[2022-10-10 13:07] Avimathu commented on #836
Hi, Can I take up this task?

[2022-10-15 05:40] UMESH-042 opened #845 "Length of Longest Common Subsequence [CPP]"
#### This issue is about [Algo/DS Name](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This Algo/DS is worth adding to this repository.
- [X] Assign this issue to me (I want to work on this).
	- [X] I ensure that I am not already assigned to 2 or more issues.
-

[2022-10-20 12:35] tanish105 opened #846 "I will fix readme update for binary search in cpp as it is not ticked."
#### This issue is about [readme](link to resource for the Algo/DS).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I

[2022-10-20 12:39] tanish105 opened #847 "CountingSort[cpp]"
#### This issue is about [CountingSort cpp].

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR only aft

[2022-10-20 12:39] TakshalModi02 opened #848 "I want to add c++ code of binary search tree"
#### This issue is about [Binary Search Tree].

- [x] Issue Title is in form `Binary Search Tree [C++]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR only

[2022-10-20 12:42] TakshalModi02 opened #849 "I want to add C++ Double Ended Queue code"
#### This issue is about [DE Queue].

- [X] Issue Title is in form `DE Queue[C++]`.
- [X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This Algo/DS is worth adding to this repository.
- [X] Assign this issue to me (I want to work on this).
	- [X] I ensure that I am not already assigned to 2 or more issues.
- [X] I will send my PR only after I'm assigned to

[2022-10-20 12:45] tanish105 opened #850 "MergeSort[cpp]"
#### This issue is about [MergeSort cpp]

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR only after I

[2022-10-20 12:46] varunvilva opened #851 "I want to add largest_sum_contiguous_subarray in CPP"
#### This issue is about [largest_sum_contiguous_subarray[CPP]].

- [x] Issue Title is in form `largest_sum_contiguous_subarray [CPP]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues

[2022-10-20 12:48] tanish105 opened #852 "Prims[Python]"
#### This issue is about [Prims python].

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR only after I

[2022-10-20 12:49] TakshalModi02 opened #853 "I want to add C++ code of AVL Tree"
#### This issue is about [AVL Tree].

- [X] Issue Title is in form `avl_tree [C++]`.
- [X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This Algo/DS is worth adding to this repository.
- [X] Assign this issue to me (I want to work on this).
	- [X] I ensure that I am not already assigned to 2 or more issues.
- [X] I will send my PR only after I'm assigned t

[2022-10-20 12:49] varunvilva opened #854 "Doubly LinkedList in CPP"
#### This issue is about [Doubly Linked List].

- [x] Issue Title is in form `Doubly Linked List [CPP]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR only

[2022-10-20 12:51] TakshalModi02 opened #855 "I want to add LCS c++ code"
#### This issue is about [Longest Common Subsequence].

- [X] Issue Title is in form `LCS [C++]`.
- [X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This Algo/DS is worth adding to this repository.
- [X] Assign this issue to me (I want to work on this).
	- [X] I ensure that I am not already assigned to 2 or more issues.
- [X] I will send my PR only after I

[2022-10-20 12:55] tanish105 opened #856 "dijkstra [cpp]"
#### This issue is about [dijkstra cpp]

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR only after I'

[2022-10-20 12:59] varunvilva opened #857 "RadixSsort[CPP]"
#### This issue is about [radixSort[CPP]].

- [x] Issue Title is in form `radixSort [CPP]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I ensure that I am not already assigned to 2 or more issues.
- [x] I will send my PR only after I'm ass

[2022-10-20 13:00] TakshalModi02 opened #858 "I want to add FibonacciNumber c++ code"
#### This issue is about [FibonacciNumber ].

- [X] Issue Title is in form `FibonacciNumber [C++]`.
- [X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This Algo/DS is worth adding to this repository.
- [X] Assign this issue to me (I want to work on this).
	- [X] I ensure that I am not already assigned to 2 or more issues.
- [X] I will send my PR only after

[2022-10-20 13:03] TakshalModi02 opened #859 "I want to add Linear Search dart code"
#### This issue is about [Linear Search].

- [X] Issue Title is in form `Linear Search [Dart]`.
- [X] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [X] This Algo/DS is worth adding to this repository.
- [X] Assign this issue to me (I want to work on this).
	- [X] I ensure that I am not already assigned to 2 or more issues.
- [X] I will send my PR only after I'm

[2022-10-20 19:11] UMESH-042 commented on #845
please assign this issue to me !

[2022-10-21 05:27] AkhileshManda commented on #859
@TakshalModi02 there is already a PR in place for this

[2022-10-21 05:27] #859 closed, assigned to nobody

[2022-10-22 06:25] webintellectual opened #860 "Dutch National Flag Algorithm [CPP]"
#### This issue is about [Dutch National Flag Algorithm](https://medium.com/@warriorak77/dutch-national-flag-algorithm-44e3160c3740).

- [x] Issue Title is in form `Algo/DS Name [Language]`.
- [x] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [x] This Algo/DS is worth adding to this repository.
- [x] Assign this issue to me (I want to work on this).
	- [x] I en

[2022-10-22 07:22] webintellectual commented on #860
@iiitv/algo-maintainers , please this issue to me!

[2022-10-23 06:48] webintellectual commented on #860
@sebasrp @neolivz @dansouza @domgetter